<style>

    .hr-thick {
        height: 5px; /* Esto define el grosor de la línea horizontal */
    }
</style>

<body>
    <div class="row">
        <hr class="hr-thick" />
        <h1>Formato carta al solicitante</h1>
        <iframe title="Document" src="" id="visualizarDocumento" type="application/pdf" width="100%" height="800px">
        </iframe>
    </div>
    <div class="mt-4 row justify-content-center">
        <div class="col-2">
            <a class="btn btn-primary" id="firmarCartaSolicitud" title="Firmar">FIRMAR</a>
        </div>
    </div>
</body>
<partial name="./../Modales/Modales.cshtml" />
<script>
    $(document).ready(async function () {
        var id = @ViewBag.idSolicitud;

        let url = "@Url.Action("TraerDocumentosPrecintos","GestionPrencintosNacionales")";
        let resp = await Get(url, {
            code: id,
            type: 10170
        });
        resp.forEach((elemento) => {
            $("#visualizarDocumento").attr("src", elemento.adjuntoBase64);
        });
    });

    $("#firmarCartaSolicitud").click(async function () {
        var id = @ViewBag.idSolicitud;
        
        window.location.href = "FirmarCartaSolicitud?code=" + id;
    })
</script>