<div class="container">
    <div class="row mb-3" id="divDatoshj">
        <div class="mb-1 mt-1 col-6">
            <label for="txtEntidadhj" class="form-label">Establecimiento</label>
            <input type="text" class="form-control" id="txtEntidadhj" placeholder="Entidad" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtPaishj" class="form-label">País</label>
            <input type="text" class="form-control" id="txtPaishj" placeholder="Pais" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtNombrehj" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNombrehj" placeholder="Nombre" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtDepartamentohj" class="form-label">Departamento</label>
            <input type="text" class="form-control" id="txtDepartamentohj" placeholder="Departamento" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtNithj" class="form-label">Nit</label>
            <input type="text" class="form-control" id="txtNithj" placeholder="Nit" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtCiudadhj" class="form-label">Ciudad/Municipio</label>
            <input type="text" class="form-control" id="txtCiudadhj" placeholder="Ciudad/Municipio" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtTelefonohj" class="form-label">Teléfono</label>
            <input type="number" class="form-control" id="txtTelefonohj" placeholder="Telefono" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtCorreohj" class="form-label">Correo</label>
            <input type="text" class="form-control" id="txtCorreohj" placeholder="Correo" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtDireccionhj" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="txtDireccionhj" placeholder="Direccion" readonly>
        </div>
    </div>
</div>
