<style>
    .text-left {
        text-align: left;
    }
<<<<<<< Updated upstream
<<<<<<< Updated upstream

    .vertical-align-bottom {
        vertical-align: bottom;
    }
</style>

=======
</style>
>>>>>>> Stashed changes
=======
</style>
>>>>>>> Stashed changes
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Administración de Tablas Paramétricas</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se realizan las configuraciones requeridas para la gestión de los parámetros y reglas de negocio.
                            Aquí se definen, describen y gestionan los parámetros del sistema o reglas de negocio, listados como campos de selección de 
                            valores en todo el módulo.
                        </p>
                        <p class="text-left">La opción de Administración de tablas paramétricas se despliega en la siguiente pantalla que como se mencionó,
                            ubica los diferentes parámetros listados en el sistema y sus datos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_bandeja.png" border="0" width="558" height="248" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Buscar tablas paramétricas o reglas de negocio: <img alt="" title="Botón INICIO" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Nombre, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                        Mediante este botón de acción, el usuario puede consultar los registros de tablas paramétricas y reglas de negocio, de acuerdo con los filtros utilizados.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AGREGAR VALOR: <img alt="" title="Botón AGREGAR ROL" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_boton agregar valor.png" border="0" /></b>
                            Mediante este botón de acción, el usuario ir a la ventana de creación de tablas paramétricas y reglas de negocio, para crear los diferentes valores paramétricos requeridos en el sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Nombre: </b>
                            Columna en la que se define el nombre de la tabla paramétrica de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Valor: </b>
                            Columna en la que se define el valor de la tabla paramétrica que tendrá cada registro del sistema, y que se puede asociar con el Nombre en la misma fila.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Descripción: </b>
                            Columna en la que se proporciona una breve descripción, proporcionada por el usuario en el momento de la creación de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>columna Estado: </b>
                            Columna en la que se define el estado definido para cada registro de valor paramétrico del sistema. Esto define a su vez, su visibilidad en la tabla 
                            paramétrica en que está definido el valor.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acciones: </b>
                            Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición y Activación/Inactivación
                            de valores paramétricos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Editar: </b>
                            Mediante este botón de acción el usuario puede editar la información de la fila de registro de la actividad (Nombre, Valor, Descripción, Estado).
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Activar/Inactivar: <img alt="" title="Botón Activar/Inactivar" src="~/images/ActivarInactivar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede activar o inactivar la actividad de la fila de registro en donde se ubica el botón.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_bandejaFiltrada.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de Buscar tablas paramétricas o reglas de negocio, y seleccionar el botón Consultar, se pueden realizar búsquedas
                            específicas de tablas paramétricas. Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_crearTabla.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Agregar valor” se dirige siguiente a la ventana de creación de tablas o valores paramétricos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Nombre: <img alt="" title="Campo Nombre" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar el nombre deseado para la tabla paramétrica a crear (De este campo se listarán las tablas existentes, que coincidan con los criterios digitados por el usuario).
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Valor: <img alt="" title="Campo Valor" src="~/images/Filtro.png" border="0" /></b>
                            Campo para seleccionar el valor paramétrico que se relacionará con la tabla digitada al crear.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Descripción: <img alt="" title="Campo Descripción" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar información descriptiva respecto a la tabla y el valor que se desean crear.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: <img alt="" title="Botón GUARDAR" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_botonGuardar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la información de la tabla paramétrica, lo que representa su creación en la base del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón VOLVER: <img alt="" title="Botón VOLVER" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_botonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_modalConfirmacion.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar el guardado de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede rechazar el guardado de la información.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Editar”, se visualizará la información de edición del registro de tablas paramétricas en que fue seleccionada la opción.
                        </p>
                    </td>
                    <td class="col-6">
                        <img alt="" title="Administración de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE TABLAS PARAMETRICAS_bandejaEditar.png" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: </b>
                            Mediante este botón de acción, el usuario puede guardar la información de la tabla, lo que representa su edición en la base del sistema.
                            </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CERRAR: </b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de edición, y cerrar las opciones de edición.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAdminParametrica btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAdminParametrica").click(function() {
    document.location.href = "/Parametrica/Index";
})
</script>