<style>
    .text-left {
        text-align: left;
    }
</style>
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Administración Tecnica</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se realizan las configuraciones requeridas para la comunicación del módulo con sistemas y dispositivos externos.
                            Aquí se definen, describen y gestionan los parámetros técnicos que se requieren para dichas comunicaciones.
                        </p>
                        <p class="text-left">La opción de Administración técnica se despliega en la siguiente pantalla que como se mencionó, ubica los diferentes parámetros
                            técnicos listados en el sistema y sus datos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_bandeja.png" alt="Bandeja Administración Tecnica" border="0" width="558" height="248" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Digite el nombre del valor técnico: <img alt="" title="Botón INICIO" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Nombre, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                        Mediante este botón de acción, el usuario puede consultar los registros de parámetros técnicos, de acuerdo con los filtros utilizados.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AGREGAR VALOR: <img alt="" title="Botón AGREGAR ROL" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_botonAgregarValor.png" border="0" /></b>
                            Mediante este botón de acción, el usuario ir a la ventana de creación de valores técnicos, para crear los diferentes paramétricos técnicos
                            requeridos para la comunicación del sistema con otros sistemas y dispositivos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Nombre: </b>
                            Columna en la que se define el nombre del parámetro técnico de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Valor: </b>
                            Columna en la que se define el valor técnico que se requiere para comunicar el sistema con otros sistemas y dispositivos, y se asocia al nombre del
                            parámetro técnico en la misma fila.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Descripción: </b>
                            Columna en la que se proporciona una breve descripción, proporcionada por el usuario en el momento de la creación de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>columna Estado: </b>
                            Columna en la que se define el estado definido para cada registro de valor paramétrico del sistema. Esto define a su vez, si se utiliza o no en el sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acciones: </b>
                            Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición de valores paramétricos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Editar: </b>
                            Mediante este botón de acción el usuario puede editar la información de la fila de registro de la actividad (Nombre, Valor, Descripción, Estado).
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion Tecnica" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_filtrado.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de nombre de valor técnico y seleccionar el botón Consultar, se pueden realizar búsquedas específicas de
                            parámetros técnicos. Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion Tecnica" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_crearParametroTecnico.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Agregar valor” se dirige siguiente a la ventana de creación de parámetros técnicos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Nombre: <img alt="" title="Campo Nombre" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar el nombre deseado para el parámetro técnico a crear (De este campo se listarán los parámetros existentes, que coincidan con los criterios digitados por el usuario).
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Valor: <img alt="" title="Campo Valor" src="~/images/Filtro.png" border="0" /></b>
                            Campo para seleccionar el valor paramétrico que se relacionará con el parámetro al crear.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Descripción: <img alt="" title="Campo Descripción" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar información descriptiva respecto a al parámetro técnico que se desea crear.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: <img alt="" title="Botón GUARDAR" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_botonGuardar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la información del parámetro técnico, lo que representa su creación en la base del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón VOLVER: <img alt="" title="Botón VOLVER" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_botonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_modalConfirmacion.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar el guardado de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede rechazar el guardado de la información.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Editar”, se visualizará la información de edición del registro de parámetros técnicos en que fue seleccionada la opción.
                        </p>
                    </td>
                    <td class="col-6">
                        <img alt="" title="Administración de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION TECNICA_bandejaEditar.png" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: </b>
                            Mediante este botón de acción, el usuario puede guardar la información del parámetro, lo que representa su edición en la base del sistema.
                            </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CERRAR: </b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de edición, y cerrar las opciones de edición.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAdminTecnica btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAdminTecnica").click(function() {
    document.location.href = "/AdministracionTecnica/Index";
})
</script>