<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Registrar
                información de resolución de comercialización de peces
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p>
                            En este módulo se realiza el registro
                            de las resoluciones de comercialización de peces para los
                            establecimientos registrados en el sistema. Esta función permite que
                            los usuarios puedan ingresar y registrar las resoluciones emitidas
                            por una entidad ambiental competente de acuerdo con su perfil de
                            analista peces.
                        </p>
                    </td>
                    <td class="col-6">
                        <p>
                            Para obtener un usuario y contraseña
                            para el rol de analista de peces, el usuario debe solicitar al
                            administrador del sistema la creacion del usuario, mediante un correo
                            electronico en el cual debe sumistrar todos los datos
                            correspondientes.
                        </p>
                        <p>
                            Paralo cual el administrador recive el
                            correo y gestiona la creacion del usuario con rol analista zoocria
                            desde el modulo de adinistracion, funcion gestionar usuarios.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p>
                            Al crear el usuaro el sistema envia un
                            correo electronico al usuario que solico la creacion del usuario en
                            el cual se adjunta usuario, contraseña temparol y el enlace a la
                            pantalla de inicio de sesion del sistema cupos precintos y
                            marquillas.
                        </p>
                        <p>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_e4d0c723c24d2c94.png" alt="Correo Creación Cuenta" width="558" height="248" border="0" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d3dd81efffd9198c.gif" alt="Shape1" style="margin: 1px;" width="58" height="23" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p>
                            Para iniciar, se debe dirigir a la
                            dirección de la página enviada para el aplicativo
                            para cupos precintos y marquillas.
                        </p>

                        <p >
                            <strong>Campo Usuario</strong><img alt="Campo usuario" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d3ae4dfa4186dd05.png" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Campo Contraseña</strong><img alt="campo contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d3ae4dfa4186dd05.png" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p >
                            <strong>
                                CAPTCHA- Casilla de verificación No
                                soy un robot
                            </strong><img alt="Captcha" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_942ffd06273d9c21.png" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p>
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d884c4fbaa41fcf7.gif" alt="Shape2" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para
                            ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img alt="TOOLSMINTIC" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d2d7f82e43470423.png"  width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda con opciones
                            de apoyo para navegación del usuario.
                        </p>
                        <p >
                            <strong>Botón CONTRASTE </strong>
                            <img alt="Botón contraste" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_783b10d543e76db6.png" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que
                            permite cambiar el contraste del brillo de la ventanilla electrónica,
                            y visualizarlo en un modo oscuro.
                        </p>
                        <p >
                            <strong>Botón REDUCIR LETRA </strong>
                            <img alt="Botón Reducir Letra" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_701c9169fba01f8e.png" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que
                            permite reducir el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img alt="Botón aumentar letra" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_36a0d623038cb28c.png" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que
                            permite aumentar el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p >
                            <strong>Botón CENTRO DE RELEVO </strong>
                            <img alt="Botón centro Relevo" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_bd53499beabc0bfe.png" width="21" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que
                            permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                        <p >
                            Ingresa con las credenciales , haciendo
                            referencia a nombre de usuario y contraseña temporal asociada a
                            este. Selecciona la casilla de verificación de No soy un robot
                            (opción de seguridad), y posterior a su aprobación selecciona el
                            botón de Ingresar.
                        </p>
                        <p >
                            <img alt="Cambio de Contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_b473277b96222635.png"  width="605" height="266" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            Al ingresar se encontrará con la
                            pantalla creación de usuario, al ingresar por primeras vez se debe
                            realizar el cambio de la contraseña temporal.
                        </p>
                        <p >
                            <strong>Campo Nueva contraseña</strong><img alt="Campo nueva contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_cca38a6849d9155d.png" width="126" height="23" border="0" />
                            :
                            Campo para ingresar la contraseña que se desea asociar al nombre de
                            usuario ingresado.
                        </p>
                        <p >
                            <strong>Campo Confirmar contraseña</strong><img alt="Campo confirmar contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_bddfebc61f2f79b1.png" width="123" height="22" border="0" />
                            :
                            Campo para confirmar la contraseña ingresada, y que se desea asociar
                            al nombre de usuario ingresado.
                        </p>
                        <p >
                            <strong>
                                Casilla acepta política de
                                tratamiento de datos personales
                            </strong><img alt="Casilla politica de tratamiento de datos" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_962c6fb5a49117fd.png"  width="81" height="27" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con la política de tratamiento de datos.
                        </p>
                        <p >
                            <strong>
                                Casilla acepta términos y
                                condiciones
                            </strong><img alt="Casilla terminos y condiciones" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_142f14d43a755fd8.png" width="75" height="18" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con los términos y condiciones de uso del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Botón guardar</strong><img alt="Botón guardar" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_4889aabf4fd589be.png" width="65" height="24" border="0" />
                            :
                            Botón de acción para guardar la
                            nueva contraseña.
                        </p>
                        <p >
                            <img alt="Cambio de contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_be734d45fd0b2dc4.png" width="605" height="167" border="0" />
                        </p>
                        <p >
                            Al ingresar, confirmar la nueva
                            contraseña, aceptar las políticas de seguridad y dar clic en el
                            botón guardar, el sistema lo redirecciona a la pantalla de inicio de
                            sesión de cupos, precintos y marquillas.
                        </p>
                        <p >
                            <img alt="Pantalla inicio sesión" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_ce8901dc08a9b656.png" width="275" height="314" border="0" />
                        </p>
                        <p >
                            <strong>Campo Usuario</strong><img alt="Campo usuario" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d3ae4dfa4186dd05.png" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el listado de
                            usuarios registrados en el sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Campo Contraseña</strong><img alt="Campo contraseña" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d3ae4dfa4186dd05.png" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la nueva contraseña asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p >
                            <strong>
                                CAPTCHA- Casilla de verificación No
                                soy un robot
                            </strong><img alt="Captcha" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_942ffd06273d9c21.png"  width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p >
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_d884c4fbaa41fcf7.gif" alt="Shape3" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para
                            ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                        <p >
                            Al ingresar se encontrará con las
                            siguientes opciones habilitadas para el usuario analista zoocria.
                        </p>
                        <p >
                            <img alt="Pantalla menu inicial" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_19abd06426179224.png" width="605" height="342" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Usuario: </strong>visualiza
                            el nombre de usuario de quien inicia sesión.
                        </p>
                        <p >
                            <strong>Botón serrar sesión: </strong>botón
                            de acción<strong> </strong>para
                            serrar sesión.
                        </p>
                        <p >
                            <strong>Menú horizontal:</strong>
                            Barra de menú en la que se establecen los menús principales y los
                            módulos pertenecientes a cada uno, como alternativa de navegación
                            entre módulos.
                        </p>
                        <p >
                            <strong>Botón Inicio:</strong>
                            Botón que permite regresar a la ventana inicial de cupos, precintos
                            y marquillas.
                        </p>
                        <p >
                            <strong>Submenú Flujo de negocio:</strong>
                            Submenú de la barra horizontal en el que se listan los diferentes
                            módulos de Flujo de negocio, para el rol analista peces se activaron
                            las funcionalidades:
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            Gestionar establecimiento
                        </p>
                        <p >
                            Hoja de vida empresa
                        </p>
                        <p >
                            Resolución cuotas globales de pesca
                        </p>
                        <p >
                            Registrar información de resolución de
                            comercialización de peces
                        </p>

                        <p >
                            <strong>Tarjeta Flujo de negocio:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Flujo de Negocio, donde se listan todos los módulos de
                            esta opción.
                        </p>
                        <p >
                            Al seleccionar el Submenú flujo de
                            negocio se despliegan las siguientes funcionalidades:
                        </p>

                        <p >
                            <img alt="Pantalla menu Flujo de Negocio" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_efd673efd6025ab1.png"  width="605" height="362" border="0" />
                        </p>

                        <p >
                            <img alt="Pantalla Resolución de comercialización de peces" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_b8e5c323a2a8a789.png"  width="605" height="218" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Campo tipo de documento: </strong>Campo
                            tipo lista desplegable con los tipos de documento asociados.
                        </p>
                        <p >
                            <strong>Campo tipo de documento: </strong>Campo
                            abierto para ingresar el número de documento del establecimiento al
                            cual se le realizara el registro de la resolución.
                        </p>
                        <p >
                            <strong>Botón buscar: </strong>Al
                            realizar una búsqueda del establecimiento y dar clic en buscar,
                            pueden presentarse dos situaciones:
                        </p>
                        <p >
                            El establecimiento no está registrado
                            en el sistema: al ingresar al sistema e ingresar algunos de los tres
                            campos incorrectamente el sistema despliega el siguiente mensaje,
                            impidiendo el paso a la siguiente pantalla.
                        </p>

                        <p >
                            <img alt="Modal establecimiento no registrado" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_6d247fe42022847b.png" width="243" height="167" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Botón Aceptar:</strong>
                            regresa a la pantalla de validación de resolución de resolución de
                            comercialización de peces.
                        </p>


                        <p >
                            El establecimiento si está registrado
                            en el sistema: al ingresar al sistema e ingresar los tres campos
                            correctamente el sistema despliega el siguiente mensaje.
                        </p>

                        <p >
                            <img alt="Modal confirmación establecimiento registrado" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_feaf66f87bb9ea34.png"  width="243" height="163" border="0" />
                        </p>

                        <p >
                            <strong>Botón Aceptar:</strong>
                            direcciona a la siguiente pantalla de validación de resolución de
                            comercialización de peces.
                        </p>
                        <p >
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_35df31d770b3a76b.png"  width="605" height="349" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Tipo documento:</strong>
                        </p>
                        <p >
                            <strong>Número documento: </strong>registra
                            el número de documento del establecimiento.
                        </p>
                        <p >
                            <strong>Nombre:</strong>
                            registra el nombre del establecimiento.
                        </p>
                        <p >
                            <strong>Correo:</strong>
                            registra el correo del establecimiento.
                        </p>
                        <p >
                            <strong>Teléfono:</strong>
                            registra el número de teléfono del establecimiento.
                        </p>
                        <p >
                            <strong>Acciones:</strong>
                            visualiza las siguientes opciones para realizar sobre el
                            establecimiento.
                        </p>
                        <p >
                            <img alt="Acciones de registro en tabla" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_df28c6afc2816b75.png"  width="218" height="98" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>* Ver:</strong>
                            visualiza los datos del establecimiento
                        </p>
                        <p >
                            <img alt="Datos del establecimiento" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_15150ab3bff02597.png"  width="605" height="258" border="0" />
                        </p>
                        <p >
                            <strong>Campo nit: </strong>campo
                            precargado del sistema en el cual se visualiza el nit asociado al
                            establecimiento validado antes de ingresar a la funcionalidad.
                        </p>
                        <p >
                            <strong>Campo entidad: </strong>campo
                            precargado del sistema en el cual se visualiza el tipo de
                            establecimiento asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p >
                            <strong>Campo nombre:</strong>
                            campo precargado del sistema en el cual se visualiza el nombre
                            asociado al establecimiento validado antes de ingresar a la
                            funcionalidad.
                        </p>
                        <p >
                            <strong>Campo país:</strong>
                            campo precargado del sistema en el cual se visualiza el país
                            asociado al establecimiento validado antes de ingresar a la
                            funcionalidad.
                        </p>
                        <p >
                            <strong>Campo departamento:</strong>
                            campo precargado del sistema en el cual se visualiza el departamento
                            asociado al establecimiento validado antes de ingresar a la
                            funcionalidad.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Campo ciudad/municipio:</strong>
                            campo precargado del sistema en el cual se visualiza el
                            cuidad/municipio asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p >
                            <strong>Campo dirección:</strong>
                            campo precargado del sistema en el cual se visualiza la dirección
                            asociado al establecimiento validado antes de ingresar a la
                            funcionalidad.
                        </p>
                        <p >
                            <strong>Campo teléfono:</strong>
                            campo precargado del sistema en el cual se visualiza el teléfono
                            asociado al establecimiento validado antes de ingresar a la
                            funcionalidad.
                        </p>
                        <p >
                            <strong>Campo correo:</strong>
                            campo precargado del sistema en el cual se visualiza el correo
                            electrónico asociado al establecimiento validado antes de ingresar a
                            la funcionalidad.
                        </p>

                    </td>
                    <td class="col-6">
                        <p >
                            <strong>* Registrar resolución: </strong>Formulario
                            para ingresar los datos de la resolución otorgada.
                        </p>
                        <p >
                            <img alt="Registrar Resolución" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_535955e65adf72b3.png"  width="605" height="350" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>Pestaña Resolución</strong>
                        </p>
                        <p >
                            <strong>Campo Nombre: </strong>Campo
                            precargado del sistema con el nombre del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Nit:</strong>
                            Campo precargado del sistema con el Nit del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Número de resolución:</strong>
                            Campo abierto para ingresar el número de resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha resolución:</strong>
                            Campo abierto tipo fecha para ingresar la fecha de emisión de la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha inicio:</strong>
                            Campo abierto tipo fecha para ingresar la fecha de inicio de la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha fin:</strong>
                            Campo abierto tipo fecha para ingresar la fecha fin de la resolución.
                        </p>
                        <p >
                            <strong>Documento de Soporte: </strong>Campo
                            para cargar uno o ms documentos.
                        </p>
                        <p >
                            <strong>Campo Objeto de la resolución:</strong>
                            Campo abierto para ingresar el objeto de la resolución.
                        </p>
                        <p >
                            <strong>Botón cancelar:</strong>
                            Botón de acción para cancelar el registro de la resolución.
                        </p>
                        <p >
                            <strong>Botón guardar:</strong>
                            Botón de acción para guardar en el sistema el registro de la
                            resolución. Registrando en la grilla de resolución de permisos en
                            la página de inicio de Registrar información de resolución de
                            comercialización de peces.
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Sección Resolución de permisos</strong>
                        </p>
                        <p >
                            <strong>N° Resolución: </strong>registra
                            el número de resolución.
                        </p>
                        <p >
                            <strong>Fecha resolución:</strong>
                            registra la fecha de resolución.
                        </p>
                        <p >
                            <strong>Fecha inicio:</strong>
                            registra la fecha de inicio de la resolución.
                        </p>
                        <p >
                            <strong>Fecha fin:</strong>
                            registra la fecha fin de la resolución.
                        </p>
                        <p >
                            <strong>Objeto resolución:</strong>
                            registra el objeto de resolución.
                        </p>
                        <p >
                            <strong>Acciones:</strong>
                            visualiza las siguientes opciones para realizar sobre una resolución
                            ya registrada.
                        </p>
                        <p >
                            <img alt="Acciones de registros" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_f400ed7e2f27e02d.png"  width="219" height="89" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>* Ver:</strong>
                            Botón que permite visualizar el
                            formulario de la resolución registrada con los campos precargados y
                            sin la posibilidad de edición.
                        </p>
                        <p >
                            <img alt="Datos Resolución" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_bc51d6d16955f85e.png"  width="605" height="346" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Pestaña Resolución</strong>
                        </p>
                        <p >
                            <strong>Campo Nombre: </strong>Campo
                            precargado del sistema con el nombre del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Nit:</strong>
                            Campo precargado del sistema con el Nit del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Número de resolución:</strong>
                            Campo precargado del sistema con el número de resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha resolución:</strong>
                            Campo precargado del sistema con la fecha de emisión de la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha inicio:</strong>
                            Campo precargado del sistema con la fecha de inicio de la resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha fin:</strong>
                            Campo precargado del sistema con la fecha fin de la resolución.
                        </p>
                        <p >
                            <strong>Documento de Soporte: </strong>Campo
                            precargado del sistema con uno o más documentos.
                        </p>
                        <p >
                            <strong>Campo Objeto de la resolución:</strong>
                            Campo precargado del sistema con el objeto de la resolución.
                        </p>
                        <p >
                            <strong>Botón salir:</strong>
                            Botón de acción para salir de la visualización de la resolución.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p >
                            <strong>* Editar:</strong>
                            Botón que permite visualizar el
                            formulario de la resolución registrada con los campos precargados y
                            con la posibilidad de edición.
                        </p>
                        <p >
                            <img alt="Editar Resolución" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR INFORMACIÓN DE RESOLUCIÓN DE COMERCIALIZACIÓN DE PECES_html_ea406c894262aa91.png" width="605" height="344" border="0" />
                        </p>
                        <p >
                            <strong>Pestaña Resolución</strong>
                        </p>
                        <p >
                            <strong>Campo Nombre: </strong>Campo
                            precargado del sistema con el nombre del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Nit:</strong>
                            Campo precargado del sistema con el Nit del establecimiento<strong>
                            </strong>al cual se va a registrar la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Número de resolución:</strong>
                            Campo abierto para ingresar el número de resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha resolución:</strong>
                            Campo abierto tipo fecha para ingresar la fecha de emisión de la
                            resolución.
                        </p>
                        <p >
                            <strong>Campo Fecha inicio:</strong>
                            Campo abierto tipo fecha para ingresar la fecha de inicio de la
                            resolución.
                        </p>
                    </td>
                    <td class="col-6">
                        <p >
                            <strong>Campo Fecha fin:</strong>
                            Campo abierto tipo fecha para ingresar la fecha fin de la resolución.
                        </p>
                        <p >
                            <strong>Documento de Soporte: </strong>Campo
                            para cargar uno o ms documentos.
                        </p>
                        <p >
                            <strong>Campo Objeto de la resolución:</strong>
                            Campo abierto para ingresar el objeto de la resolución.
                        </p>
                        <p >
                            <strong>Botón cancelar:</strong>
                            Botón de acción para cancelar el registro de la resolución.
                        </p>
                        <p >
                            <strong>Botón guardar:</strong>
                            Botón de acción para guardar la edición en el sistema el registro
                            de la resolución. Registrando en la grilla de resolución de
                            permisos en la página de inicio de Registrar información de
                            resolución de comercialización de peces.
                        </p>

                        <p >
                            <strong>* Eliminar:</strong>
                            Botón que permite eliminar la
                            resolución registrada.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="ControlFishRequest" asp-action="ControlFishRequest" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>