<div class="container">
    <div class="row mb-3" id="divDatosEntidad">
        <div class="mb-1 mt-1 col-6">
            <label for="txtNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" placeholder="Nombre" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtPais" class="form-label">País</label>
            <input type="text" class="form-control" id="txtPais" placeholder="Pais" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtDepartamento" class="form-label">Departamento</label>
            <input type="text" class="form-control" id="txtDepartamento" placeholder="Departamento" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtNit" class="form-label">Nit</label>
            <input type="text" class="form-control" id="txtNit" placeholder="Nit" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtCiudad" class="form-label">Ciudad/Municipio</label>
            <input type="text" class="form-control" id="txtCiudad" placeholder="Ciudad/Municipio" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtTelefono" class="form-label">Teléfono</label>
            <input type="number" class="form-control" id="txtTelefono" placeholder="Telefono" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtCorreo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="txtCorreo" placeholder="Correo" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtDireccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" readonly>
        </div>
    </div>

</div>
