<div class="container">
    <div class="row mb-3" id="divDatosEntidad">
        <div class="mb-1 mt-1 col-6">
            <label for="txtNombreRes" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="txtNombreRes" placeholder="Nombre" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtNitRes" class="form-label">Nit</label>
            <input type="text" class="form-control" id="txtNitRes" placeholder="Nit" readonly>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtNumeroResolucion" class="form-label required">Numero de resolución</label>
            <input type="number" class="form-control" id="txtNumeroResolucion" placeholder="Numero de resolución">
            <span id="validaciontxtNumeroResolucion" class="span-advertencia d-none">Campo Obligatorio</span>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtFechaResolucion" class="form-label required">Fecha resolución</label>
            <input type="date" class="form-control" id="txtFechaResolucion" placeholder="Fecha resolucion">
            <span id="validaciontxtFechaResolucion" class="span-advertencia d-none">Campo Obligatorio</span>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtFechaInicio" class="form-label required">Fecha inicio</label>
            <input type="date" class="form-control" id="txtFechaInicio" placeholder="Fecha inicio">
            <span id="validaciontxtFechaInicio" class="span-advertencia d-none">Campo Obligatorio</span>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="txtFechaFin" class="form-label required">Fecha fin</label>
            <input type="date" class="form-control" id="txtFechaFin" placeholder="Fecha fin">
            <span id="validaciontxtFechaFin" class="span-advertencia d-none">Campo Obligatorio</span>
        </div>
        <div class="mb-1 mt-1 col-6">
            <label for="formFileSoporte" class="form-label required">Documento de Soporte</label>
            <label type="button" class="file text-center" for="formFileSoporte" id="fileContenedorIndividualFile">
                <p id="placeHolderMultipleFile"><span class="fas fa-paperclip"></span> Adjunte o arrastre aquí uno o varios
                    documentos.</p>
                <input type="file" id="formFileSoporte">
            </label>
            <span class="span-advertencia d-none" id="spanAdjuntos"></span>
            <div id="divAdjunto">

            </div>
        </div>
        <div class="mb-1 mt-1 col-12" id="divObjetoResolucion">
            <label for="txtObjetoResolucion" class="form-label required">Objeto de la resolución</label>
            <textarea class="form-control" id="txtObjetoResolucion" rows="4"></textarea>
            <span class="span-advertencia d-none" id="spanObjetoResolucion">Campo Obligatorio</span>
        </div>
    </div>

</div>