<style>
    .text-left {
        text-align: left;
    }

    .vertical-align-bottom {
        vertical-align: bottom;
    }
</style>

<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Realizar solicitud de precintos o marquillas – usuario externo
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            En este módulo se realiza las solicitudes de precintos y marquillas
                            de acuerdo con su perfil de usuario externo.
                        </p>
                        <p class="text-left">
                            Para obtener un usuario y contraseña para el rol de usuario externo,
                            el usuario debe estar regostrdo en VITAL y tener usuario y
                            contraseña.
                        </p>
                        <p class="text-left">
                            Para iniciar, se debe dirigir a la dirección de la página VITAL, y
                            desde allí dirigirse a la opción cupos precintos y marquillas. Lo
                            direcciona a la siguiente pantalla:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen2.png" style="width:6.3in;height:3.49514in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Usuario:</b> visualiza el nombre de usuario de quien
                            inicia sesión.
                        </p>
                        <p class="text-left">
                            <b>Botón serrar sesión:</b> botón de acción para serrar
                            sesión.
                        </p>
                        <p class="text-left">
                            <b>Menú horizontal:</b> Barra de menú en la que se
                            establecen los menús principales y los módulos pertenecientes a cada
                            uno, como alternativa de navegación entre módulos.
                        </p>
                        <p class="text-left">
                            <b>Botón Inicio:</b> Botón que permite regresar a la
                            ventana inicial de cupos, precintos y marquillas.
                        </p>
                        <p class="text-left">
                            <b>Submenú Flujo de negocio:</b> Submenú de la barra
                            horizontal en el que se listan los diferentes módulos de Flujo de
                            negocio, para el rol usuario externo se activa la función:
                        </p>
                        <p class="text-left">
                            Bandeja de solicitud de precintos y marquillas.
                        </p>
                        <p class="text-left">
                            <b>Tarjeta Flujo de negocio:</b> Submenú en forma de
                            tarjeta de acción que permite acceder a la ventana de Flujo de Negocio,
                            donde se listan todos los módulos de esta opción.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el Submenú flujo de negocio se despliegan la siguiente
                            función:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen3.png"
                                 style="width:6.3in;height:3.61806in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>
                                Opción Bandeja de solicitud de precintos y
                                marquillas.:
                            </b> Tarjeta de acción que permite acceder al módulo de
                            solicitud de precintos y marquillas. Visualiza la siguiente pantalla en
                            la cual se debe validar el establecimiento el cual va a solicitar los
                            precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen4.png"
                                 style="width:6.3in;height:1.11736in" />
                        </p>
                        <p class="text-left">
                            <b>Campo tipo de establecimiento:</b> lista desplegable con
                            los tipos de establecimientos: zoocriadero, curtiembre, manufacturera,
                            comercializadora.
                        </p>
                        <p class="text-left">
                            <b>Campo tipo de documento:</b> lista desplegable con los
                            tipos de documento establecidos.
                        </p>
                        <p class="text-left">
                            <b>Campo Número de documento:</b> campo abierto para
                            ingresar el nuero de documento del establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Botón buscar:</b> Botón de acción para ingresar a los
                            registros de las solicitudes realizadas por el usuario que está
                            iniciando sesión.
                        </p>
                        <p class="text-left">
                            Al realizar una búsqueda del establecimiento y dar clic en buscar,
                            pueden presentarse dos situaciones:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            El establecimiento no está registrado en el sistema: al ingresar
                            al sistema e ingresar algunos de los tres campos incorrectamente el
                            sistema despliega el siguiente mensaje, impidiendo el paso a la
                            siguiente pantalla.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen5.png"
                                 style="width:2.528in;height:1.7412in" />
                        </p>
                        <p class="text-left">
                            <b>Botón Aceptar:</b> regresa a la pantalla de
                            validación.
                        </p>
                        <p class="text-left">
                            El establecimiento si está registrado en el sistema: al ingresar
                            al sistema e ingresar los tres campos correctamente el sistema despliega
                            el siguiente mensaje.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen6.png"
                                 style="width:2.52756in;height:1.69747in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Aceptar:</b> direcciona a la siguiente
                            pantalla:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen7.png"
                                 style="width:6.3in;height:1.40139in" />
                        </p>                        <h3 class="list-paragraph" id="pestaña-historial-de-cupos">
                            * Pestaña
                            Historial de cupos
                        </h3>

                        <p class="text-left">
                            Después de ingresar se visualiza un historial de cupos.

                        </p>
                        <p class="text-left">
                            En la siguiente vista.

                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen8.png"
                                 style="width:6.3in;height:3.3875in" /><img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen9.png"
                                                                            style="width:6.3in;height:2.91319in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Tabla cupos:</b> presenta las resoluciones otorgadas,
                            con las columnas:
                        </p>
                        <p class="text-left">
                            <b>Numero de resolución:</b> Registra el número de
                            resolución
                        </p>
                        <p class="text-left">
                            <b>Fecha de resolución:</b> Registra la fecha que se
                            emitió la resolución
                        </p>
                        <p class="text-left">
                            <b>Fecha de registro de resolución:</b> Registra la
                            fecha de registro de la resolución en el sistema
                        </p>
                        <p class="text-left">
                            <b>Autoridad Ambiental que emite la resolución:</b>
                            Registra la autoridad ambiental que emitió la resolución
                        </p>
                        <p class="text-left">
                            <b>Especie:</b> Registra la especie a la cual se le
                            otorgan los cupos en la resolución
                        </p>
                        <p class="text-left">
                            <b>Año de producción:</b> Registra el año de producción
                            de la especie
                        </p>
                        <p class="text-left">
                            <b>Cupos de aprovechamiento y comercialización:</b>
                            Registra los cupos de aprovechamiento y comercialización
                        </p>
                        <p class="text-left">
                            <b>Cuota de repoblación:</b> Registra cuota de
                            repoblación otorgada para la especie en la resolución
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Total cupos asignados:</b> Registra los cupos
                            otorgados para la especie en la resolución, si la cuota de repoblación
                            es pagada en recursos económicos o ambientales aquí se realiza la suma
                            con los cupos de aprovechamiento y comercialización.
                        </p>

                        <p class="text-left">
                            <b>Cupos Disponibles:</b> Registra los cupos que están
                            disponles para venta, permisos cites o cortes. Ya que este dato se
                            actualiza según se vayan ocupando los cupos.
                        </p>
                        <p class="text-left">
                            <b>Numero inicial de aprovechamiento</b>: Registra la
                            numeración inicial de los cupos de aprovechamiento.
                        </p>
                        <p class="text-left">
                            <b>Número final de aprovechamiento:</b> Registra la
                            numeración final de los cupos de aprovechamiento.
                        </p>
                        <p class="text-left">
                            <b>Numero inicial cuota de repoblación:</b> Registra la
                            numeración inicial de los cupos de repoblación.
                        </p>
                        <p class="text-left">
                            <b>Número final cuota de repoblación:</b> Registra la
                            numeración final de los cupos de repoblación.
                        </p>
                        <p class="text-left">
                            <b>Tabla inventario:</b> presenta los cupos obtenidos
                            mediante un traspaso de cupos y una carta de venta o factura, con las
                            columnas:
                        </p>
                        <p class="text-left">
                            <b>Número de carta de venta y/o factura:</b> Registra el
                            número de carta de venta y/o factura si tiene, para el caso de ser por
                            traslado de cupos esta columna estaría en blanco.
                        </p>
                        <p class="text-left">
                            <b>Quien Vende (Nombre/Razón Social):</b> Registra el
                            nombre o razón social del establecimiento que realizo la venta.
                        </p>
                        <p class="text-left">
                            <b>Fecha de Venta:</b> Registra la fecha que se realizó la
                            venta la cual está registrada en la carta de venta y/o factura.
                        </p>
                        <p class="text-left">
                            <b>Disponibilidad de Inventario:</b> Registra los cupos
                            obtenidos mediante la carta de venta y/o factura o el traslado de
                            cupos.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Especie:</b> Registra la especie de la cual se compró
                            los cupos.
                        </p>
                        <p class="text-left">
                            <b>Año:</b> Registra el año de producción al cual
                            pertenecen los cupos de la especio comprados.
                        </p>
                        <p class="text-left">
                            <b>Inventario Disponible:</b> Registra los cupos que están
                            disponles para venta, permisos cites o cortes. Ya que este dato se
                            actualiza según se vayan ocupando los cupos.
                        </p>
                        <p class="text-left">
                            <b>Botón Regresar:</b> Permite regresar a la pantalla
                            inicial de flujo de negocio.
                        </p>
                        <p class="text-left">
                            * Pestaña
                            Solicitud
                        </p>
                        <p class="text-left">
                            Después de ingresar se visualiza la pestaña solicitud en la cual se
                            ingresa los datos del formulario de precintos o marquillas desde el
                            usuario externo.
                        </p>
                        <p class="text-left">
                            En el siguiente formulario.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen10.png" style="width:6.3in;height:2.91319in" /><img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen11.png" style="width:6.3in;height:2.65764in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Crear solicitud</b>
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> Campo precargado del sistema con la cuidad
                            de origen del establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Fecha:</b> Campo precargado del sistema con la fecha en
                            que se está realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Establecimiento:</b> Campo precargado del sistema con el
                            nombre del establecimiento con el cual se va realizar la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Sección Representante legal:</b> esta sección presenta
                            los datos de quien está iniciando sesión y por ende quien está
                            realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Primer nombre:</b> Campo precargado con el primer nombre
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo nombre:</b> Campo precargado con el segundo
                            nombre de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Primer apellido:</b> Campo precargado con el primer
                            apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo apellido:</b> Campo precargado con el segundo
                            apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Tipo de identificación:</b> Campo precargado con el tipo
                            de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Número de identificación:</b> Campo precargado con el
                            número de identificación de la persona que inicio sesión.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Teléfono:</b> Campo precargado con el teléfono de la
                            persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Correo electrónico:</b> Campo precargado con el correo
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Sección Solicitud</b>
                        </p>
                        <p class="text-left">
                            <b>Dirección de entrega:</b> campo abierto para ingresar la
                            dirección de entrega.
                        </p>
                        <p class="text-left">
                            <b>Departamento:</b> campo tipo lista con los departamentos
                            de Colombia.
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> campo tipo lista con las ciudades de
                            Colombia.
                        </p>
                        <p class="text-left">
                            <b>Cantidad:</b> campo precargado del sistema el cual suma
                            los cupos seleccionados.
                        </p>
                        <p class="text-left">
                            <b>Longitud menor (cm):</b> campo abierto para ingresar la
                            Longitud menor.
                        </p>
                        <p class="text-left">
                            <b>Longitud mayor (cm):</b> campo abierto para ingresar la
                            Longitud mayor.
                        </p>
                        <p class="text-left">
                            <b>Fecha consignación precintos – marquillas:</b> campo
                            abierto tipo fecha para ingresar la Fecha consignación.
                        </p>
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> campo tipo lista con los tipos de
                            solicitud: precintos y marquillas.
                        </p>
                        <p class="text-left">
                            <b>Soporte consignación precintos – marquillas:</b> campo
                            para cargar el soporte de consignación.
                        </p>
                        <p class="text-left">
                            <b>Anexos:</b> campo para cargar anexos de la
                            solicitud.
                        </p>
                        <p class="text-left">
                            <b>Especies o subespecies:</b> campo tipo lista con las
                            especies entregadas por MADS.
                        </p>
                        <p class="text-left">
                            <b>Botón buscar:</b> Botón de acción para realizar la
                            búsqueda de la especie ingresada anteriormente y de la cual se va a
                            seleccionar los cupos.
                        </p>
                        <p class="text-left">
                            Si la especie tiene cupos en resoluciones y/o inventario, visualiza
                            la siguiente pantalla:
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen12.png"
                                 style="width:6.3in;height:2.85069in" />
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen13.png"
                                 style="width:6.3in;height:3.23333in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Sección cupos:</b> contiene las resoluciones otorgados
                            por una autoridad ambiental al establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Columna Número de resolución:</b> Registra el número de
                            resolución.
                        </p>
                        <p class="text-left">
                            <b>Columna Especie:</b> Registra la especie de la
                            resolución.
                        </p>
                        <p class="text-left">
                            <b>Columna Años de producción:</b> Registra el año de
                            producción de la especie de la resolución.
                        </p>
                        <p class="text-left">
                            <b>Columna Cupos de aprovechamiento y comercialización:</b>
                            Registra los cupos otorgados de aprovechamiento y comercialización.
                        </p>
                        <p class="text-left">
                            <b>Columna Cupos de repoblación:</b> Registra los cupos
                            otorgados de cuota de repoblación.
                        </p>
                        <p class="text-left">
                            <b>Columna Total cupos otorgados:</b> Registra el total de
                            los cupos otorgados.
                        </p>
                        <p class="text-left">
                            <b>Columna Cupos disponibles:</b> Registra los cupos
                            disponibles de la resolución.
                        </p>
                        <p class="text-left">
                            <b>Columna Acciones:</b> Visualiza las siguientes opciones
                            para seleccionar los cupos de la resolución ya registrada:
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen14.png"
                                 style="width:1.45833in;height:1.20833in" />
                        </p>
                        <p class="text-left">
                            <b>* Agregar:</b> Botón de acción para ingresar a los cupos
                            disponibles que tenga registrados el establecimiento en el sistema para
                            la resolución seleccionada, desplegando la siguiente pantalla:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen15.png"
                                 style="width:6.3in;height:3.70139in" />
                        </p>
                        <p class="text-left">
                            <b>Rango de numeraciones:</b> Visualiza el rango de
                            numeraciones (inicial y final) otorgados para esa resolución que se va a
                            seleccionar los cupos para venta.
                        </p>
                        <p class="text-left">
                            <b>Campo numeración inicial:</b> Campo abierto para ingresa
                            la numeración inicial del cupo a vender.
                        </p>
                        <p class="text-left">
                            <b>Campo numeración final:</b> Campo abierto para ingresa
                            la numeración inicial del cupo a vender.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Seleccionar:</b> Al ingresar el rango de
                            numeración a vender, selección el botón Seleccionar, el cual realiza la
                            validación de que los cupos ingresados estén disponibles, si están
                            disponibles el sistema agrega el rango de las numeraciones a la sección
                            numeraciones seleccionadas en l parte inferior que se activa con una
                            grilla, con las siguientes columnas:
                        </p>
                        <p class="text-left">
                            <b>Columna Número inicial:</b> Registra la numeración
                            inicial del rango de los cupos a vender.
                        </p>
                        <p class="text-left">
                            <b>Columna Número final:</b> Registra la numeración final
                            del rango de los cupos a vender.
                        </p>
                        <p class="text-left">
                            <b>Columna cantidad:</b> Registra la cantidad de cupos
                            ingresados en el intervalo de cupos.
                        </p>
                        <p class="text-left">
                            <b>Columna acciones:</b> Visualiza las siguientes opciones
                            para seleccionar los cupos de la resolución ya registrada:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen16.png"
                                 style="width:1.12727in;height:0.85719in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>* Eliminar:</b> Elimina el registro de los datos
                            seleccionados.
                        </p>
                        <p class="text-left">
                            <b>Sección numeraciones no Disponibles:</b> en esta sección
                            se visualiza la grilla con las numeraciones que ya no están disponibles
                            para la solicitud ya sea porque se vendieron.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen17.png"
                                 style="width:6.24783in;height:2.49269in" />
                        </p>
                        <p class="text-left">
                            <b>Columna numeración inicial:</b> registra la numeración
                            inicial del rango de numeraciones que ya no está disponible.
                        </p>
                        <p class="text-left">
                            <b>Columna numeración final:</b> registra la numeración
                            inicial del rango de numeraciones que ya no está disponible.
                        </p>
                        <p class="text-left">
                            <b>Botón volver:</b> Botón de acción para regresar a la
                            pantalla de cupos e inventario.
                        </p>
                        <p class="text-left">
                            <b>Botón guardar:</b> Botón de acción para guardar los
                            cupos seleccionados de la resolución.
                        </p>
                        <p class="text-left">
                            Al guardar se activa el botón editar de los cupos seleccionados.

                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen18.png"
                                 style="width:1.08333in;height:1.44792in" />
                        </p>
                        <p class="text-left">
                            <b>Botón cancelar:</b> Botón de acción para cancelar los
                            cupos seleccionados de la resolución.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen19.png"
                                 style="width:6.3in;height:3.33125in" />
                        </p>
                        <p class="text-left">
                            <b>Sección inventario:</b> Contiene las resoluciones
                            otorgados por una autoridad ambiental al establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Columna Número de carta de venta y/o Factura:</b>
                            Registra el número de carta de venta y/o factura si tiene, para el caso
                            de ser por traslado de cupos esta columna estaría en blanco.
                        </p>
                        <p class="text-left">
                            <b>Columna Quien Vende (Nombre/Razón Social):</b> Registra
                            el nombre o razón social del establecimiento que realizo la venta.
                        </p>
                        <p class="text-left">
                            <b>Columna Fecha de Venta:</b> Registra la fecha que se
                            realizó la venta la cual está registrada en la carta de venta y/o
                            factura.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Cantidad de especímenes comprados:</b> Registra
                            los cupos obtenidos mediante la carta de venta y/o factura o el traslado
                            de cupos.
                        </p>
                        <p class="text-left">
                            <b>Columna Año:</b> Registra el año de producción al cual
                            pertenecen los cupos de la especio comprados.
                        </p>
                        <p class="text-left">
                            <b>Columna Especie:</b> Registra la especie de la cual se
                            compró los cupos.
                        </p>
                        <p class="text-left">
                            <b>Columna Inventario Disponibles:</b> Registra los cupos
                            que están disponles para venta, permisos cites o cortes. Ya que este
                            dato se actualiza según se vayan ocupando los cupos.
                        </p>
                        <p class="text-left">
                            <b>Columna Acciones:</b> Visualiza las siguientes opciones
                            para seleccionar los cupos de la resolución ya registrada:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen20.png"
                                 style="width:1.45833in;height:1.20833in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>* Agregar:</b> Botón de acción para ingresar a los cupos
                            disponibles que tenga registrados el establecimiento en el sistema para
                            la resolución seleccionada, desplegando la siguiente pantalla:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen21.png"
                                 style="width:6.3in;height:3.70139in" />
                        </p>
                        <p class="text-left">
                            <b>Rango de numeraciones:</b> Visualiza el rango de
                            numeraciones (inicial y final) otorgados para esa resolución que se va a
                            seleccionar los cupos para venta.
                        </p>
                        <p class="text-left">
                            <b>Campo numeración inicial:</b> Campo abierto para ingresa
                            la numeración inicial del cupo a vender.
                        </p>
                        <p class="text-left">
                            <b>Campo numeración final:</b> Campo abierto para ingresa
                            la numeración inicial del cupo a vender.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Seleccionar:</b> Al ingresar el rango de
                            numeración a vender, selección el botón Seleccionar, el cual realiza la
                            validación de que los cupos ingresados estén disponibles, si están
                            disponibles el sistema agrega el rango de las numeraciones a la sección
                            numeraciones seleccionadas en l parte inferior que se activa con una
                            grilla, con las siguientes columnas:
                        </p>
                        <p class="text-left">
                            <b>Columna Número inicial:</b> Registra la numeración
                            inicial del rango de los cupos a vender.
                        </p>
                        <p class="text-left">
                            <b>Columna Número final:</b> Registra la numeración final
                            del rango de los cupos a vender.
                        </p>
                        <p class="text-left">
                            <b>Columna cantidad:</b> Registra la cantidad de cupos
                            ingresados en el intervalo de cupos.
                        </p>
                        <p class="text-left">
                            <b>Columna acciones:</b> Visualiza las siguientes opciones
                            para seleccionar los cupos de la resolución ya registrada:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen22.png"
                                 style="width:1.47769in;height:1.12366in" />
                        </p>
                        <p class="text-left">
                            <b>* Eliminar:</b> Elimina el registro de los datos
                            seleccionados.
                        </p>
                        <p class="text-left">
                            <b>Sección numeraciones no Disponibles:</b> en esta sección
                            se visualiza la grilla con las numeraciones que ya no están disponibles
                            para la solicitud ya sea porque se vendieron.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen23.png"
                                 style="width:6.24783in;height:2.49269in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna numeración inicial:</b> registra la numeración
                            inicial del rango de numeraciones que ya no está disponible.
                        </p>
                        <p class="text-left">
                            <b>Columna numeración final:</b> registra la numeración
                            inicial del rango de numeraciones que ya no está disponible.
                        </p>
                        <p class="text-left">
                            <b>Botón cancelar:</b> Botón de acción para cancelar los
                            cupos seleccionados de la resolución.
                        </p>
                        <p class="text-left">
                            <b>Botón volver:</b> Botón de acción para regresar a la
                            pantalla de cupos e inventario.
                        </p>
                        <p class="text-left">
                            <b>Botón guardar:</b> Botón de acción para guardar los
                            cupos seleccionados de la resolución.
                        </p>
                        <p class="text-left">
                            Al guardar se activa el botón editar de los cupos seleccionados.

                        </p>                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen24.png"
                                 style="width:1.08333in;height:1.44792in" />
                        </p>                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen25.png"
                                 style="width:6.3in;height:3.29861in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón guardar:</b> Botón de acción para guardar los
                            intervalos de cupos seleccionados de las resoluciones requeridas.
                        </p>
                        <p class="text-left">
                            <b>Botón cancelar:</b> cancela el registro de la
                            solicitud.
                        </p>
                        <p class="text-left">
                            Al guardar bien los cupos que se van a vender el sistema los guarda
                            en la sección cupos da la pestaña quien vende y de la pestaña quien
                            compra. En la siguiente grilla:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen26.png"
                                 style="width:6.3in;height:1.38958in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Regresar:</b> Botón de acción para regresar a la
                            pestaña cupos.
                        </p>
                        <p class="text-left">
                            <b>Botón Guardar:</b> Botón de acción para guardar la
                            solicitud. Esta acción envía la solicitud a la bandeja del coordinador
                            para que asigne la solicitud a un analista.
                        </p>
                        <p class="text-left">
                            * Pestaña
                            Solicitudes Radicadas
                        </p>
                        <p class="text-left">
                            Después de realizar una solicitud de precintos o marquillas desde un
                            usuario externo y guardarla, la solicitud pasa a la bandeja solicitudes
                            radicadas del usuario externo.
                        </p>
                        <p class="text-left">
                            Para realizar la visualización de la solicitud se debe realizar lo
                            siguiente:
                        </p>
                        <p class="text-left">
                            En la siguiente bandeja solicitudes desistidas.

                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen27.png" style="width:6.3in;height:2.74028in" />
                            <b>Número de radicado:</b> Registra el número de radicado de
                            entrada de la solicitud, esta acción de radicado la realiza el analista.
                            Hasta que el analista radique no se visualizara esta columna con el
                            dato.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Registra el tipo de solicitud,
                            puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Nombre del solicitante:</b> Registra el nombre de la
                            persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de solicitud:</b> Registra la fecha que se realizó
                            la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de radicación:</b> Registra la fecha de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Estado:</b> Registra el estado de la solicitud: puede
                            ser Enviada, radicada, pre aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Acciones:</b> visualiza la siguiente opción para
                            realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen28.png"
                                 style="width:1.11458in;height:1.04167in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Ver:</b> Botón que permite visualiza el formulario de la
                            solicitud.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen29.png" style="width:6.3in;height:3.93472in" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen30.png" style="width:6.3in;height:3.03611in" />
                        </p>                        <h3 class="list-paragraph" id="pestaña-requerimiento">
                            * Pestaña
                            Requerimiento
                        </h3>

                        <p class="text-left">
                            Después de realizar una solicitud de precintos o marquillas desde un
                            usuario externo, realizar la asignación a un analista desde el
                            coordinador, realizarla evaluación y realiza un requerimiento por el
                            analista, la solicitud regresa al usuario externo a la bandeja
                            requerimiento y pasa a la bandeja requerimiento del analista.
                        </p>
                        <p class="text-left">
                            Para realizar la visualización y dar respuesta al requerimiento se
                            debe realizar lo siguiente:
                        </p>
                        <p class="text-left">
                            En la siguiente bandeja.

                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen31.png"
                                 style="width:6.3in;height:3.24792in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Número de radicado:</b> Registra el número de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Registra el tipo de solicitud,
                            puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Nombre del solicitante:</b> Registra el nombre de la
                            persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de solicitud:</b> Registra la fecha que se realizó
                            la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de radicación:</b> Registra la fecha de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Estado:</b> Registra el estado de la solicitud: puede
                            ser Enviada, radicada, pre aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Observaciones:</b> Registra las observaciones de la
                            solicitud en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Acciones:</b> visualiza la siguiente opción para
                            realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen32.png"
                                 style="width:0.98958in;height:0.90625in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen33.png" style="width:6.3in;height:3.33194in" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen34.png" style="width:6.3in;height:2.02708in" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen35.png" style="width:6.3in;height:3.09375in" />
                        </p>
                        <p class="text-left">
                            * Pestaña
                            solicitudes aprobadas
                        </p>
                        <p class="text-left">
                            Después de realizar una solicitud de precintos o marquillas desde un
                            usuario externo, realizar la asignación a un analista desde el
                            coordinador, realizarla evaluación, generar precintos o marquillas y
                            generar la carta por parte del analista, el coordinador apruebe la carta
                            y el director firmar y enviar el correo para generar los precintos o
                            marquillas, la solicitud es aprobada, con los precintos generados para
                            los cupos solicitados.
                        </p>
                        <p class="text-left">
                            Para realizar la visualización de la solicitud aprobada se debe
                            realizar lo siguiente:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen36.png"
                                 style="width:6.3in;height:3.18056in" />
                        </p>
                        <p class="text-left">
                            <b>Número de radicado:</b> Registra el número de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Registra el tipo de solicitud,
                            puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Nombre del solicitante:</b> Registra el nombre de la
                            persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de solicitud:</b> Registra la fecha que se realizó
                            la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de radicación:</b> Registra la fecha de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Número de radicado de salida:</b> Registra la fecha de
                            radicado de salida de la solicitud, esta acción de radicado la realiza
                            el analista cuando genera la carta. Hasta que el analista radique no se
                            visualizara esta columna con el dato.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Fecha de radicación de salida:</b> Registra la fecha de
                            radicado de entrada de la solicitud, esta acción de radicado la realiza
                            el analista cuando genera la carta. Hasta que el analista radique no se
                            visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <b>Estado:</b> Registra el estado de la solicitud: puede
                            ser Enviada, radicada, pre aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Observaciones:</b> Registra las observaciones de la
                            solicitud en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Acciones:</b> visualiza la siguiente opción para
                            realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen37.png"
                                 style="width:1.01042in;height:1in" />
                        </p>
                        <p class="text-left">
                            * Selecciona el botón VER de la columna acciones, visualiza las
                            siguientes pestañas, con la información del formulario de la solicitud y
                            la carta que realizo el analista donde se otorga las numeraciones de
                            precintos o marquillas:
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Pestaña solicitud:</b>
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen38.png" style="width:6.3in;height:3.40625in" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen39.png" style="width:6.3in;height:3.91389in" />
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> Campo precargado del sistema con la cuidad
                            de origen del establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Fecha:</b> Campo precargado del sistema con la fecha en
                            que se está realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Establecimiento:</b> Campo precargado del sistema con el
                            nombre del establecimiento con el cual se va realizar la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Sección Representante legal:</b> esta sección presenta
                            los datos de quien está iniciando sesión y por ende quien está
                            realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Primer nombre:</b> Campo precargado con el primer nombre
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo nombre:</b> Campo precargado con el segundo
                            nombre de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Primer apellido:</b> Campo precargado con el primer
                            apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo apellido:</b> Campo precargado con el segundo
                            apellido de la persona que inicio sesión.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Tipo de identificación:</b> Campo precargado con el tipo
                            de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Número de identificación:</b> Campo precargado con el
                            número de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Teléfono:</b> Campo precargado con el teléfono de la
                            persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Correo electrónico:</b> Campo precargado con el correo
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Sección Solicitud</b>
                        </p>
                        <p class="text-left">
                            <b>Especies o subespecies:</b> Campo precargado con la
                            nombre de la especie a la cual se le realizo la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Grilla con las columnas:</b>
                        </p>
                        <p class="text-left">
                            <b>Especie:</b> Registra el nombre de la
                            especie.
                        </p>
                        <p class="text-left">
                            <b>Número inicial:</b> Registra el número inicial del
                            rango seleccionado.
                        </p>
                        <p class="text-left">
                            <b>Número final:</b> Registra el número final del rango
                            seleccionado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Dirección de entrega:</b> Campo precargado con la
                            dirección de entrega.
                        </p>
                        <p class="text-left">
                            <b>Departamento:</b> Campo precargado con el departamentos
                            de entrega.
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> Campo precargado con la ciudad de
                            entrega.
                        </p>
                        <p class="text-left">
                            <b>Cantidad:</b> campo precargado del sistema el cual suma
                            los cupos seleccionados.
                        </p>
                        <p class="text-left">
                            <b>Longitud menor (cm):</b> Campo precargado con la
                            Longitud menor.
                        </p>
                        <p class="text-left">
                            <b>Longitud mayor (cm):</b> Campo precargado con la
                            Longitud mayor.
                        </p>
                        <p class="text-left">
                            <b>Fecha consignación precintos – marquillas:</b> Campo
                            precargado con la Fecha consignación.
                        </p>
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Campo precargado con el tipo de
                            solicitud: precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Soporte consignación precintos – marquillas:</b> Campo
                            precargado con el soporte de consignación.
                        </p>
                        <p class="text-left">
                            <b>Anexos:</b> Campo precargado con los anexos de la
                            solicitud.
                        </p>
                        <p class="text-left">
                            Si se realizó un requerimiento a esta solicitud se visualizan lis
                            siguientes capos adicionales:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen40.png"
                                 style="width:6.3in;height:2.11303in" />
                        </p>
                        <p class="text-left">
                            <b>Campo respuesta:</b> campo donde se ingresa la respuesta
                            dada al requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Documento soporte:</b> campo para adjuntar uno o más
                            documentos soportes a la respuesta dada al requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Botón --------------:</b> Botón de acción que permite
                            regresar a la bandeja solicitudes aprobadas y salir de la visualización
                            de la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Pestaña carta:</b>
                        </p>
                        <p class="text-left">
                            <b>
                                - Para las solicitudes de precintos visualiza la siguiente
                                carta:
                            </b>
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen41.png"
                                 style="width:5.90551in;height:4.61075in" /> <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen42.png"
                                                                                  style="width:5.90551in;height:3.63366in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>
                                - Para las solicitudes de marquillas visualiza la siguiente
                                carta:
                            </b>
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen43.png"
                                 style="width:5.90551in;height:3.79575in" /><img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen44.png"
                                                                                 style="width:5.90551in;height:4.5769in" />
                        </p>                        <h3 class="list-paragraph" id="pestaña-desistimiento">
                            * Pestaña
                            Desistimiento
                        </h3>

                        <p class="text-left">
                            Después de realizar una solicitud de precintos o marquillas desde un
                            usuario externo, se puede realizar el desistimiento de la solicitud
                            menos en estado aprobado.
                        </p>
                        <p class="text-left">
                            Para realizar la visualización de la solicitud aprobada se debe
                            realizar lo siguiente:
                        </p>
                        <p class="text-left">
                            En la siguiente bandeja solicitudes desistidas.

                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen45.png"
                                 style="width:6.3in;height:3.18681in" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Número de radicado:</b> Registra el número de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Registra el tipo de solicitud,
                            puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Nombre del solicitante:</b> Registra el nombre de la
                            persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de solicitud:</b> Registra la fecha que se realizó
                            la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Fecha de radicación:</b> Registra la fecha de radicado
                            de entrada de la solicitud, esta acción de radicado la realiza el
                            analista. Hasta que el analista radique no se visualizara esta columna
                            con el dato.
                        </p>
                        <p class="text-left">
                            <b>Estado:</b> Registra el estado de la solicitud: puede
                            ser Enviada, radicada, pre aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Observaciones:</b> Registra las observaciones de la
                            solicitud en requerimiento.
                        </p>
                        <p class="text-left">
                            <b>Acciones:</b> visualiza la siguiente opción para
                            realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen46.png"
                                 style="width:0.875in;height:0.9375in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            * Selecciona el botón VER de la columna acciones, visualiza las
                            siguientes pestañas, con la información del formulario de la solicitud y
                            la razón del desistimiento que realizo el analista:
                        </p>
                        <p class="text-left">
                            <b>- Pestaña solicitud</b>
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen47.png" style="width:6.3in;height:3.65in" /><img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen48.png" style="width:6.3in;height:3.53889in" />
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> Campo precargado del sistema con la cuidad
                            de origen del establecimiento.
                        </p>
                        <p class="text-left">
                            <b>Fecha:</b> Campo precargado del sistema con la fecha en
                            que se está realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Establecimiento:</b> Campo precargado del sistema con el
                            nombre del establecimiento con el cual se va realizar la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Sección Representante legal:</b> esta sección presenta
                            los datos de quien está iniciando sesión y por ende quien está
                            realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Primer nombre:</b> Campo precargado con el primer nombre
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo nombre:</b> Campo precargado con el segundo
                            nombre de la persona que inicio sesión.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Primer apellido:</b> Campo precargado con el primer
                            apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Segundo apellido:</b> Campo precargado con el segundo
                            apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Tipo de identificación:</b> Campo precargado con el tipo
                            de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Número de identificación:</b> Campo precargado con el
                            número de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Teléfono:</b> Campo precargado con el teléfono de la
                            persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Correo electrónico:</b> Campo precargado con el correo
                            de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <b>Sección Solicitud</b>
                        </p>
                        <p class="text-left">
                            <b>Especies o subespecies:</b> Campo precargado con la
                            nombre de la especie a la cual se le realizo la solicitud.
                        </p>
                        <p class="text-left">
                            <b>Grilla con las columnas:</b>
                        </p>
                        <p class="text-left">
                            <b>Especie:</b> Registra el nombre de la
                            especie.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Número inicial:</b> Registra el número inicial del
                            rango seleccionado.
                        </p>
                        <p class="text-left">
                            <b>Número final:</b> Registra el número final del rango
                            seleccionado.
                        </p>

                        <p class="text-left">
                            <b>Dirección de entrega:</b> Campo precargado con la
                            dirección de entrega.
                        </p>
                        <p class="text-left">
                            <b>Departamento:</b> Campo precargado con el departamentos
                            de entrega.
                        </p>
                        <p class="text-left">
                            <b>Ciudad:</b> Campo precargado con la ciudad de
                            entrega.
                        </p>
                        <p class="text-left">
                            <b>Cantidad:</b> campo precargado del sistema el cual suma
                            los cupos seleccionados.
                        </p>
                        <p class="text-left">
                            <b>Longitud menor (cm):</b> Campo precargado con la
                            Longitud menor.
                        </p>
                        <p class="text-left">
                            <b>Longitud mayor (cm):</b> Campo precargado con la
                            Longitud mayor.
                        </p>
                        <p class="text-left">
                            <b>Fecha consignación precintos – marquillas:</b> Campo
                            precargado con la Fecha consignación.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Tipo de solicitud:</b> Campo precargado con el tipo de
                            solicitud: precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <b>Soporte consignación precintos – marquillas:</b> Campo
                            precargado con el soporte de consignación.
                        </p>
                        <p class="text-left">
                            <b>Anexos:</b> Campo precargado con los anexos de la
                            solicitud.
                        </p>
                        <p class="text-left">
                            <b>Botón volver:</b> Botón de acción que permite regresa a
                            la bandeja de desistimiento.
                        </p>
                        <p class="text-left">
                            <b>Botón siguiente:</b> Botón de acción que permite
                            continuar a la pestaña desistimiento.
                        </p>
                        <p class="text-left">
                            <b>- Pestaña Desistimiento</b>
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - USUARIO EXTERNO_html_Imagen49.png"
                                 style="width:6.3in;height:3.83264in" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo estado:</b> registra el estado desistimiento.
                        </p>
                        <p class="text-left">
                            <b>Campo fecha de radicado del desistimiento:</b> registra
                            la fecha que se realizó el desistimiento.
                        </p>
                        <p class="text-left">
                            <b>Campo observaciones:</b> registra las observaciones del
                            desistimiento.
                        </p>
                        <p class="text-left">
                            <b>Documento soporte:</b> visualiza los documentos soporte
                            del desistimiento.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="GestionPrencintosNacionales" asp-action="Index" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>