
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-1">
            <label for="txtEstado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="txtEstado" placeholder="Estado" readonly/>
        </div>
        <div class="col-md-3 mb-1">
            <label for="txtFechaRadicadoDesistimiento" class="form-label">Fecha de radicación del desistimiento</label>
            <input type="date" class="form-control" id="txtFechaRadicadoDesistimiento" readonly />
        </div>

        <div class="col-md-6 mb-1">
            <label for="contenedorDocSoporteDesistimiento" class="form-label">Documento soporte</label>
            <div id="contenedorDocSoporteDesistimiento">

            </div>
        </div>
        <div class="col-md-6 mb-1">
            <label for="txtObservacionesDesistimiento" class="form-label">Observaciones</label>
            <textarea class="form-control" id="txtObservacionesDesistimiento" rows="4" readonly></textarea>
        </div>
    </div>
</div>
    
