
<div id="divCupos" class="mb-4">
    <h2 class="mb-3">Cupos</h2>
    <table id="TableCupos" class="table w-100" aria-describedby="Tabla cupos">
        <caption class="d-none">Table Description</caption>
        <thead>
            <tr>
                <th></th>
                <th class="th-mediumText">Número de resolución</th>
                <th class="th-mediumText">Fecha de resolución</th>
                <th class="th-mediumText">Fecha de registo de resolución</th>
                <th class="th-bigText">Autoridad ambiental que emite la resolución</th>
                <th class="th-mediumText">Especie</th>
                <th class="th-mediumText">Año de producción</th>
                <th class="th-bigText">Cupos de aprovechamiento y comercialización</th>
                <th class="th-mediumText">Cuota de repoblación</th>
                <th class="th-mediumText">Total cupos asignados</th>
                <th class="th-mediumText">Cupos Disponibles</th>
                <th class="th-bigText">Numero inicial de aprovechamiento</th>
                <th class="th-bigText">Numero final de aprovechamiento</th>
                <th class="th-bigText">Numero inicial cuota de repoblación</th>
                <th class="th-bigText">Numero final cuota de repoblación</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="divInventario" class="mb-2">
    <h2 class="mb-3">Inventario</h2>
    <table id="TableInventario" class="table w-100" aria-describedby="Tabla inventario">
        <caption class="d-none">Table Description</caption>
        <thead>
            <tr>
                <th></th>
                <th class="th-bigText">Número de carta de venta y/o factura</th>
                <th class="th-bigText">Quien Vende (Nombre/Razón Social)</th>
                <th class="th-mediumText">Fecha de Venta</th>
                <th class="th-bigText">Disponibilidad de Inventario</th>
                <th class="th-mediumText">Especie</th>
                <th class="th-bigText">Año de producción</th>
                <th class="th-bigText">Inventario Disponible</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="divEstadisticas" class="mb-2 col-12">

</div>
