<div class="mt-2 mb-2">
    <table id="tableRequeriemiento" class="table w-100" aria-describedby="Tabla requerimeinto">
        <thead>
            <tr>
                <th></th>
                <th class="th-bigText">Número de radicado</th>
                <th class="th-bigText">Tipo de solicitud</th>
                <th class="th-bigText">Nombre del solicitante</th>
                <th class="th-bigText">Fecha de solicitud</th>
                <th class="th-bigText">Fecha de radicación</th>
                <th class="th-mediumText">Estado</th>
                <th class="th-bigText">Observaciones</th>
                <th class="th-bigText">Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
