<script>

   

     function loadpendientes() {
         console.log("entre a la tab1")
         
    }


    //async function requerimientotable() {
    //    $(`#requerimiento`).DataTable({
    //        destroy: true,
    //        scrollX: true,
    //        lengthChange: true,
    //        lengthMenu: [5, 10, 20, 50, 100],
    //        paging: true,
    //        info: true,
    //        dom: "<'row'<'col-md-12'f><'col-md-12 text-end'<'d-flex align-items-center mt-1'<'col-md-10'l><'col-md-2'i>>>>" + "<'row'<'col-md-12'rt><'col-md-12 text-center'p>>",
    //        language: {
    //            lengthMenu: "Resultados pág. _MENU_",
    //            info: "_START_ al _TOTAL_ Resultados",
    //            search: "",
    //            searchPlaceholder: "Buscar",
    //            zeroRecords: "No se encontraron resultados",
    //            infoEmpty: "0 al 0 Resultados",
    //            paginate: {
    //                previous: "Anterior",
    //                next: "Siguiente",
    //            },
    //        },
    //        //datos es la variable del controller consulta que da
    //        data: r,
    //        columns: [
    //            {
    //                data: "id",
    //                className: "d-none",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "id",
    //            },
    //            {
    //                data: "tiponovedad",
    //            },
    //            {
    //                render: function () {
    //                    return '<a type="button" class="text-primary">VER DETALLES</a>';
    //                },
    //            },
    //        ],
    //        columnDefs: [
    //            {
    //                targets: 11,
    //            },
    //        ],
    //    });
    //    agregarClasesDatatable(`#requerimiento`);


    //}

</script>