@{
    Layout = "_LayoutBandejaReceptor";
}
<body>
    <div class="row content">
        <div class="col-md-8 resume">
            <a asp-controller="Home" asp-action="Index">Modulo de CUPOS</a>  >   <a asp-controller="Home" asp-action="FlujoNegocio">Flujo de Negocio</a>  >  Gestionar Empresa  >  <strong>Historial de Cupos</strong>
        </div>
        <div class="col-md-4 iconos">
            <a type="button" class="btn btn-secondary" title="Ayuda" asp-action="Ayuda" asp-controller="AdministracionTecnica">AYUDA</a>
            <a type="button" class="btn btn-secondary" title="Inicio" asp-action="Index" asp-controller="Home" >INICIO</a>
        </div>
    </div>
    <div class="container">
        <div class="content-fluid">
            <h1 class="mb-4 mt-4">Control de Cupos</h1>
            <div id="divCupos" class="mb-2">
                <h2 class="mb-3">Cupos</h2>
                <table id="TableCupos" class="table w-100" aria-describedby="Tabla cupos">
                    <caption class="d-none">Table Description</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="th-mediumText">Número de resolución</th>
                            <th class="th-mediumText">Fecha de resolución</th>
                            <th class="th-mediumText">Fecha de registo de resolución</th>
                            <th class="th-bigText">Autoridad ambiental que emite la resolución</th>
                            <th class="th-mediumText">Especie</th>
                            <th class="th-mediumText">Año de producción</th>
                            <th class="th-bigText">Cupos de aprovechamiento y comercialización</th>
                            <th class="th-mediumText">Cuota de repoblación</th>
                            <th class="th-mediumText">Total cupos asignados</th>
                            <th class="th-mediumText">Cupos Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="divInventario" class="mb-2">
                <h2 class="mb-3">Inventario</h2>
                <table id="TableInventario" class="table w-100" aria-describedby="Tabla inventario">
                    <caption class="d-none">Table Description</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Número de carta de venta y/o factura</th>
                            <th>Quien Vende (Nombre/Razón Social)</th>
                            <th>Fecha de Venta</th>
                            <th>Disponibilidad de Inventario</th>
                            <th>Especie</th>
                            <th>Año</th>
                            <th>Inventario Disponible</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="divEstadisticas" class="mb-2 col-12">
            
            </div>
            <div class="row justify-content-center">
                <button type="button" onclick="SalirHistorial()" id="btnSalirHistorial"
                    class="col-1 btn btn-primary m-2">Salir</button>
            </div>
        </div>
    </div>
</body>
<script>
    var nitEmpresa;
    let autoridades;
    var especies = [];

    $(document).ready(async function() {
        nitEmpresa = '@ViewBag.nitHistorial';

        await TraerAutoridadEmite();
        await traerTiposEspecimenes();
        await loadTablaCupos();
        await loadTablaInventario();
    });

    $("#btnSalirHistorial").click(function() {
        document.location.href = "/GestionEntidades/Index";
    });

    async function TraerAutoridadEmite() {
        let url = `@Url.Action("ConsultAuthority", "NonTimberFloraCertificate")`;
        autoridades = await Get(url);
        if (autoridades.volverInicio != undefined) {
            cerrarSesionCaducada();
            return;
        }
    }

    //se trae los Tipos de Especimenes para las datatable
    async function traerTiposEspecimenes() {
        let url = `@Url.Action("ConsultEspecimensTypes", "RegistrarResolucion")`;
        especies = await Get(url);
        if (especies.volverInicio != undefined) {
            cerrarSesionCaducada();
            return;
        }
    }

    //cargar la tabal de cupos en modal control de cupos 
    async function loadTablaCupos() {
        let url = `@Url.Action("ConsultQuotas", "RegistrarResolucion")` + `?nitBussines=${nitEmpresa}`;
        let r = await Get(url);
        if (r.volverInicio != undefined) {
            cerrarSesionCaducada();
            return;
        }
        cuposPorEspecie=r;
        console.log(r);
        console.log(autoridades);
        console.log(especies);
        var columns = [
            {
                "data": "codigoCupo",
                className: "d-none"
            },
            {
                "data": "numeroResolucion",
                className: "td-1"
            },

            {
                "data": "fechaResolucion",
                render: function (data) {
                    return moment(data).format('yyyy-MM-DD');
                }
            },
            {
                "data": "fechaRegistroResolucion",
                render: function (data) {
                    return moment(data).format('yyyy-MM-DD');
                }
            },
            {
                "data": "autoridadEmiteResolucion",
                render : function(data){
                    let autoridad;
                    autoridades.forEach(el=>{
                        if(parseInt(el.code) == parseInt(data)){
                            autoridad = el.name;
                        }
                    });
                    return autoridad
                }
            },
            {
                "data": "codigoEspecie",
                render: function (data) {
                    var especieNombre;
                    especies.forEach(el => {
                        if (el.id == parseInt(data)) {
                            especieNombre = el.text;
                        }
                    });
                    return especieNombre;
                }
            },
            {
                "data": "anioProduccion"
            },
            {
                "data": "cuposAprovechamientoComercializacion"
            },
            {
                "data": "cuotaRepoblacion"
            },
            {
                "data": "cuposTotal"
            },
            {
                "data": "cuposDisponibles"
            }
        ];

        DataTableGenerico('#TableCupos', columns, r, 10);
    }

    //cargar la tabal de inventario en modal control de cupos
    async function loadTablaInventario() {
        let url = `@Url.Action("GetInventory","SaleDocument")` + `?documentNumber=${nitEmpresa}` ;
        let r = await Get(url);
        if (r.volverInicio != undefined) {
            cerrarSesionCaducada();
            return;
        }
        inventarioEspecies=r;
        $(`#TableInventario`).DataTable({
            destroy: true,
            scrollX: true,
            lengthChange: true,
            lengthMenu: [5, 10, 20, 50, 100],
            paging: true,
            info: true,
            dom: "<'row'<'col-md-12'f><'col-md-12 text-end'<'d-flex align-items-center mt-1'<'col-md-10'l><'col-md-2'i>>>>" + "<'row'<'col-md-12'rt><'col-md-12 text-center'p>>",
            language: {
                lengthMenu: "Resultados pág. _MENU_",
                info: "_START_ al _TOTAL_ Resultados",
                search: '',
                searchPlaceholder: "Buscar",
                zeroRecords: "No se encontraron resultados",
                infoEmpty: "0 al 0 Resultados",
                paginate: {
                    previous: 'Anterior',
                    next: 'Siguiente'
                }
            },
            data: r,
            columns: [
                {
                    "data": "code",
                    className: "d-none"
                },
                {
                    "data": "numberSaleCarte"
                },
                {
                    "data": "reasonSocial"
                },
                {
                    "data": "saleDate",
                    render: function (data) {
                        if (data != null) {
                        return moment(data).format("DD-MM-yyyy");
                        }
                        return data;
                    }, 
                },
                {
                    "data": "availabilityInventory"
                },
                {
                    "data": "speciesCode",
                    render: function (data) {
                        var especieNombre;
                        especies.forEach(el => {
                            if (el.id == data) {
                                especieNombre = el.text;
                            }
                        });
                        return especieNombre;
                    }
                },
                {
                    "data": "year"
                },
                {
                    "data": "availableInventory"
                }
            ],
            columnDefs: [{
                targets: 7
            }]
        });
        agregarClasesDatatable(`#TableInventario`);
    }
</script>