<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Administracion de Roles</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p align="left">En este módulo se realizan las configuraciones de rol necesarias para cada usuario que acceda al sistema.
                            Estas configuraciones permiten que los usuarios puedan ingresar y visualizar los módulos de trabajo de 
                            acuerdo con su perfil de trabajo en el proceso de gestión de permisos CITES.
                        </p>
                        <p align="left">
                            La opción de Administración de Roles se despliega en la siguiente pantalla que ubica los diferentes roles
                            listados en el sistema y sus datos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE ROLES_bandeja.png" alt="Bandeja Administracion de Roles" name="Imagen 62385" align="bottom" width="558" height="248" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Digite el nombre del rol: <img alt="" title="Botón INICIO" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Nombre de rol, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Filtro Estado: <img alt="" title="Botón INICIO" src="~/images/Filtro.png" border="0"/></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Nombre de rol, de acuerdo con los criterios que digite en este.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede consultar los registros de actividades, de acuerdo con los filtros utilizados.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón AGREGAR ROL: <img alt="" title="Botón AGREGAR ROL" src="~/images/BotonAgregarRol.png" border="0" /></b>
                            Mediante este botón de acción, el usuario ir a la ventana de creación de actividades, para crear una actividad y los estados relacionados a ella,
                            que definen un proceso de gestión del flujo de negocio.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Columna Nombre de rol: </b>Columna en la que se define el nombre del rol de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Columna Cargo: </b>Columna en la que se define el cargo de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Columna Estado: </b>Columna en la que se define el estado del rol de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Columna Acciones: </b>Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición y Activación/Inactivación del rol.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón Editar: <img alt="" title="Botón Editar" src="~/images/BotonEditar.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede editar la información de la fila de registro del rol.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón Activar/Inactivar: <img alt="" title="Botón Activar/Inactivar" src="~/images/ActivarInactivar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede activar o inactivar el rol de la fila de registro en donde se ubica el botón.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">
                    
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Administracion de Actividades" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE ROLES_bandejafiltrada.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p align="left">
                            Al digitar criterios de búsqueda en el filtro de nombre de rol, seleccionar una opción del listado desplegado en el filtro de estados y seleccionar el botón Consultar,
                            se pueden realizar búsquedas específicas de roles. Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" title="Administracion de Actividades" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE ROLES_crearRol.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            Al seleccionar el botón de “Agregar rol” se dirige siguiente a la ventana de creación de roles.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Campo Nombre: <img alt="" title="Campo Nombre" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar el nombre deseado para el rol a crear (De este campo se listarán los roles existentes, que coincidan con los criterios digitados por el usuario).
                        </p>
                    </td>
                    <td>
                        <p align="left">
                            <b>Campo Cargo: <img alt="" title="Campo Cargo" src="~/images/Filtro.png" border="0" /></b>
                            Campo para ingresar información descriptiva respecto al cargo desempeñado por la persona que se espera utilice el rol a crear.
                        </p>
                    </td class="col-6">
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón Continuar: <img alt="" title="Campo Nombre" src="~/images/MANUAL DE USUARIO - Boton_Continuar.png" border="0" /></b>
                            Campo para seleccionar el estado al que estará relacionado la actividad que se desea crear.
                            </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón Volver: <img alt="" title="Botón Guardar" src="~/images/BotonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.
                        </p>
                    </td>
                    <td class="col-6">
                        <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE ROLES_modalconfirmacion.png" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar el guardado de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede rechazar el guardado de la información.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            Al seleccionar el botón de “Editar”, se visualizará la información de edición del registro de rol en que fue seleccionada la opción.
                        </p>
                    </td>
                    <td class="col-6">
                        <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION DE ROLES_bandejaeditar.png" border="0" />
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón GUARDAR: <img alt="" title="Botón GUARDAR" src="~/images/MANUAL DE USUARIO - Boton_Continuar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la información del rol, lo que representa su edición en la base del sistema.
                            </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <b>Botón CERRAR: <img alt="" title="Botón CERRAR" src="~/images/BotonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de edición, y cerrar las opciones de edición.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAdminRoles btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAdminRoles").click(function() {
    document.location.href = "/AdministrarRoles/Index";
})
</script>