@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <div class="col-11 mx-auto">
        <h1>Política de privacidad y condiciones de uso</h1>
        <h1>Pagína en construcción</h1>
        <img src="~/images/PaginaNoEncontrada.webp" alt="Imagen de pagina no encontrada">
    </div>
</body>
<script>
    $(document).ready(function () {
        $('.barnav-box').addClass('d-none');
        $('.MenuSuperior ').addClass('d-none');
    });
</script>