@model CUPOS_FRONT.Models.ReportesPrecintosModels.ReportesPrecintosViewModel;

<div class="container">

    <div>
        <a asp-controller="Home" asp-action="Reportes">Modulo de Reportes </a>  >  <strong>Reportes de Precintos</strong>
    </div>
    <div class="receptor-buttons-ayuda-inicio text-end">
        <button type="submit" class="btn-Ayuda-AdminActividades btn btn-secondary" title="Ayuda">AYUDA</button>
        <button type="submit" class="btn btn-secondary" title="Inicio">INICIO</button>
    </div>
    <div class="row">
        <div class="container">
            <div class="w-100">
                <h2>Reporte Precintos</h2>
                <div class="row mt-2">
                  
                    <div class="col-md-3 mb-1">
                        <label for="@Model.ResolutionNumber" class="form-label">Numero de Resolución</label>
                        <input type="text" asp-for="ResolutionNumber" id="NumeroResolucion" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label for="@Model.Establishment" class="form-label">Establecimiento</label>
                        <select asp-for="Establishment" asp-items="Model.Establecimientos" class="form-select" id="Establecimiento"></select>
                    </div>
                    <div class="col-md-3 mb-1">
                        <label for="@Model.NIT" class="form-label">Nit Empresa</label>
                        <input type="text" asp-for="NIT" id="nit" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label for="@Model.RadicationDate" class="form-label">Fecha Radicación</label>
                        <input asp-for="RadicationDate" id="FechaRadicacion" />
                    </div> 
                    @*</div>*@
                </div>
            </div>
            <br />
            <div class="mt-2 row justify-content-end">
                <div class="col-2">
                    <button type="button" id="btnConsultarDatos" class="btn btn-primary bordesButon mb-2">Consultar</button>
                </div>
                @*<a class="btn btn-primary bordesButon mb-2" asp-action="Reportes" asp-controller="Home">Regresar</a>*@
            </div>
            @*<div class="row col-12 mt-2">
                <button id="btnExportarExcel" class="btn btn-primary bordesButon mb-2">Exportar Excel</button>
                <button id="btnExportarPDF" class="btn btn-danger bordesButon mb-2">Exportar PDF</button>
            </div>*@

            <div class="mt-3">
                <div class="mt-2 mb-2 divTabla">
                    <div class="table-responsive">
                        <table id="TablaReporteriaPrecintos" class="table w-100">
                            <caption class="d-none">Table Description</caption>
                            <thead>
                                <tr>
                                    <th class="th-mediumText">Número Radicado</th>
                                    <th class="th-mediumText">Fecha Radicado</th>
                                    <th class="th-bigText">Nombre Empresa</th>
                                    <th class="th-mediumText">NIT</th>
                                    <th class="th-mediumText">Ciudad</th>
                                    <th class="th-mediumText">Dirección Entrega</th>
                                    <th class="th-shortText">Teléfono</th>
                                    <th class="th-mediumText">Especie</th>
                                    <th class="th-shortText">Long Menor</th>
                                    <th class="th-shortText">Long Mayor</th>
                                    <th class="th-shortText">Cantidad</th>
                                    <th class="th-shortText">Color</th>
                                    <th class="th-shortText">Año Producción</th>
                                    <th class="th-mediumText">Numeración Interna Inicial</th>
                                    <th class="th-mediumText">Numeración Interna Final</th>
                                    <th class="th-shortText">Numeración Interna Inicial</th>
                                    <th class="th-mediumText">Numeración Interna Final</th>
                                    <th class="th-shortText">Código Empresa</th>
                                    <th class="th-shortText">Valor Consignación</th>
                                    <th class="th-mediumText">Analista</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-2 row justify-content-center">
                <div class="col-2">
                    <a class="btn btn-primary bordesButon mb-2" asp-action="Reportes" asp-controller="Home" >Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

@*<script src="~/js/ReportesPrecintos/ReportePrecintosIndex.js" asp-append-version="true"></script>*@
<script>
    //moduleReportePrecintos.inicializarProcesos()
    $("#btnConsultarDatos").click(async function() {
            var NumeroResolucion = $("#NumeroResolucion").val();
            var Establecimiento = $("#Establecimiento").val();
            var nit = $("#nit").val();
            var FechaRadicacion = $("#FechaRadicacion").val();

            json = {
                ResolutionNumber: NumeroResolucion,
                Establishment: Establecimiento,
                NIT: nit,
                RadicationDate: FechaRadicacion
            }

            let url = `/ReportesPrecintos/ObtenerDatosPrecintosAPI`;
            let resp = await Get(url, json);
            
            var columns = [
                {
                    "data": "radicationNumber"
                },
                {
                    "data": "radicationDate"
                },
                {
                    "data": "companyName"
                },
                {
                    "data": "nit"
                },
                {
                    "data": "city"
                },
                {
                    "data": "deliveryAddress"
                },
                {
                    "data": "telephone"
                },
                {
                    "data": "species"
                },
                {
                    "data": "lesserLength"
                },
                {
                    "data": "greaterLength"
                },
                {
                    "data": "quantity"
                },
                {
                    "data": "color"
                },
                {
                    "data": "productionYear"
                },
                {
                    "data": "initialInternalNumber"
                },
                {
                    "data": "finalInternalNumber"
                },
                {
                    "data": "initialNumber"
                },
                {
                    "data": "finalNumber"
                },
                {
                    "data": "companyCode"
                },
                {
                    "data": "depositValue"
                },
                {
                    "data": "analyst"
                },
            ];

            DataTableGenericoBotones('#TablaReporteriaPrecintos', columns, resp, 19);
        });

        $(document).ready(async function() {
            let url = `/ReportesPrecintos/ObtenerDatosPrecintosAPI`;
            let resp = await Get(url);
            
            var columns = [
                {
                    "data": "radicationNumber"
                },
                {
                    "data": "radicationDate"
                },
                {
                    "data": "companyName"
                },
                {
                    "data": "nit"
                },
                {
                    "data": "city"
                },
                {
                    "data": "deliveryAddress"
                },
                {
                    "data": "telephone"
                },
                {
                    "data": "species"
                },
                {
                    "data": "lesserLength"
                },
                {
                    "data": "greaterLength"
                },
                {
                    "data": "quantity"
                },
                {
                    "data": "color"
                },
                {
                    "data": "productionYear"
                },
                {
                    "data": "initialInternalNumber"
                },
                {
                    "data": "finalInternalNumber"
                },
                {
                    "data": "initialNumber"
                },
                {
                    "data": "finalNumber"
                },
                {
                    "data": "companyCode"
                },
                {
                    "data": "depositValue"
                },
                {
                    "data": "analyst"
                },
            ];

            DataTableGenericoBotones('#TablaReporteriamarquillas', columns, resp, 19);
        });
</script>
}