<style>
    .text-left {
        text-align: left;
    }

    .vertical-align-bottom {
        vertical-align: bottom;
    }
</style>

<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Consultar precintos y marquillas</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            En este módulo se realiza las
                            consulta delos precintos y marquillas asignados para los
                            establecimientos registrados en el sistema de acuerdo con su perfil
                            de analista zoocria.
                        </p>
                        <p class="text-left">
                            Para obtener un usuario y
                            contraseña para el rol de analista de zoocria, el usuario debe
                            solicitar al administrador del sistema la creacion del usuario,
                            mediante un correo electronico en el cual debe sumistrar todos los
                            datos correspondientes.
                        </p>
                        <p class="text-left">
                            Paralo cual el administrador
                            recive el correo y gestiona la creacion del usuario con rol analista
                            zoocria desde el modulo de adinistracion, funcion gestionar usuarios.
                        </p>
                        <p class="text-left">
                            Al crear el usuaro el sistema
                            envia un correo electronico al usuario que solico la creacion del
                            usuario en el cual se adjunta usuario, contraseña temparol y el
                            enlace a la pantalla de inicio de sesion del sistema cupos precintos
                            y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_e4d0c723c24d2c94.png" alt="Imagen 62385" class="vertical-align-bottom" width="558" height="248" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Para iniciar, se debe dirigir
                            a la dirección de la página enviada para el aplicativo
                            para cupos precintos y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_ce8901dc08a9b656.png" alt="Imagen 62386" class="vertical-align-bottom" width="275" height="314" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d3ae4dfa4186dd05.png" alt="Imagen 62387" class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d3ae4dfa4186dd05.png" alt="Imagen 62388" class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>
                                CAPTCHA- Casilla de
                                verificación No soy un robot
                            </strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_942ffd06273d9c21.png" alt="Imagen 62389" class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d884c4fbaa41fcf7.gif" alt="Shape2" alt="Shape2" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción
                            para ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                        <p class="text-left">
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d2d7f82e43470423.png" alt="Imagen 62391" class="vertical-align-bottom" width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda
                            con opciones de apoyo para navegación del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CONTRASTE </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_783b10d543e76db6.png" alt="Imagen 62392" class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite cambiar el contraste del brillo de la ventanilla
                            electrónica, y visualizarlo en un modo oscuro.
                        </p>
                        <p class="text-left">
                            <strong>Botón REDUCIR LETRA </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_701c9169fba01f8e.png" alt="Imagen 62393" class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite reducir el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_36a0d623038cb28c.png" alt="Imagen 62394" class="vertical-align-bottom" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite aumentar el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CENTRO DE RELEVO </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_bd53499beabc0bfe.png" alt="Imagen 62395" class="vertical-align-bottom" width="21" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Ingresa con las credenciales ,
                            haciendo referencia a nombre de usuario y contraseña temporal
                            asociada a este. Selecciona la casilla de verificación de No soy un
                            robot (opción de seguridad), y posterior a su aprobación selecciona
                            el botón de Ingresar.</p>
                            <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_b473277b96222635.png" alt="Imagen 62396" class="vertical-align-bottom" width="605" height="266" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        Al ingresar se encontrará con
                        la pantalla creación de usuario, al ingresar por primeras vez se
                        debe realizar el cambio de la contraseña temporal.</p>
                        <p class="text-left">
                            <strong>Campo Nueva contraseña</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_cca38a6849d9155d.png" alt="Imagen 62777" class="vertical-align-bottom" width="126" height="23" border="0" />
                            :
                            Campo para ingresar la contraseña que se desea asociar al nombre de
                            usuario ingresado.
                        </p>
                        <p class="text-left">
                            <strong>
                                Campo Confirmar
                                contraseña
                            </strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_bddfebc61f2f79b1.png" alt="Imagen 62778" class="vertical-align-bottom" width="123" height="22" border="0" />
                            :
                            Campo para confirmar la contraseña ingresada, y que se desea asociar
                            al nombre de usuario ingresado.
                        </p>
                        <p class="text-left">
                            <strong>
                                Casilla acepta política de
                                tratamiento de datos personales
                            </strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_962c6fb5a49117fd.png" alt="Imagen 62779" class="vertical-align-bottom" width="81" height="27" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con la política de tratamiento de datos.
                        </p>
                        <p class="text-left">
                            <strong>
                                Casilla acepta términos y
                                condiciones
                            </strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_142f14d43a755fd8.png" alt="Imagen 62780" class="vertical-align-bottom" width="75" height="18" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con los términos y condiciones de uso del sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón guardar</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_4889aabf4fd589be.png" alt="Imagen 62781" class="vertical-align-bottom" width="65" height="24" border="0" />
                            :
                            Botón de acción para
                            guardar la nueva contraseña.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_be734d45fd0b2dc4.png" alt="Imagen 62402" class="vertical-align-bottom" width="605" height="167" border="0" />
                        </p>
                        <p class="text-left">
                            Al ingresar, confirmar la
                            nueva contraseña, aceptar las políticas de seguridad y dar clic en
                            el botón guardar, el sistema lo redirecciona a la pantalla de inicio
                            de sesión de cupos, precintos y marquillas.</p>
                            <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_ce8901dc08a9b656.png" alt="Imagen 62403" class="vertical-align-bottom" width="275" height="314" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d3ae4dfa4186dd05.png" alt="Imagen 62404" class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el listado de
                            usuarios registrados en el sistema.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d3ae4dfa4186dd05.png" alt="Imagen 62405" class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la nueva contraseña asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>
                                CAPTCHA- Casilla de
                                verificación No soy un robot
                            </strong><img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_942ffd06273d9c21.png" alt="Imagen 62406" class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_d884c4fbaa41fcf7.gif" alt="Shape3" alt="Shape3" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción
                            para ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al ingresar se encontrará con
                            las siguientes opciones habilitadas para el usuario analista zoocria.
                        </p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_bc85281ae626b26f.png" alt="Imagen 62408" class="vertical-align-bottom" width="605" height="336" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Usuario: </strong>visualiza
                            el nombre de usuario de quien inicia sesión.
                        </p>
                        <p class="text-left">
                            <strong>
                                Botón serrar sesión:
                            </strong>botón de acción<strong>
                            </strong>para serrar sesión.
                        </p>
                        <p class="text-left">
                            <strong>Menú horizontal:</strong>
                            Barra de menú en la que se establecen los menús principales y los
                            módulos pertenecientes a cada uno, como alternativa de navegación
                            entre módulos.
                        </p>
                        <p class="text-left">
                            <strong>Botón Inicio:</strong>
                            Botón que permite regresar a la ventana inicial de cupos, precintos
                            y marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Submenú Flujo de negocio:</strong>
                            Submenú de la barra horizontal en el que se listan los diferentes
                            módulos de Flujo de negocio, para el rol analista zoocria se
                            activaron las funcionalidades:
                        </p>
                        <p class="text-left">
                            Resolución de asignación de
                            CUPOS
                        </p>
                        <p class="text-left">
                            Registrar documento de venta
                        </p>
                        <p class="text-left">
                            Gestionar establecimiento
                        </p>
                        <p class="text-left">
                            Hoja de vida empresa
                        </p>
                        <p class="text-left">
                            Consulta de precintos y
                            marquillas
                        </p>
                        <p class="text-left">
                            Registro de acta de visita de
                            cortes
                        </p>
                        <p class="text-left">
                            <strong>Submenú Reportes:</strong>
                            Submenú de la barra horizontal en el que se listan los diferentes de
                            Reportes, para el rol analista zoocria se presentan los siguientes
                            reportes:
                        </p>
                        <p class="text-left">
                            Reporte Establecimientos
                        </p>
                        <p class="text-left">
                            Reporte Precintos
                        </p>
                        <p class="text-left">
                            Reporte Marquillas
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Reporte Cupos
                        </p>
                        <p class="text-left">
                            <strong>Tarjeta Flujo de negocio:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Flujo de Negocio, donde se listan todos los módulos de
                            esta opción.
                        </p>
                        <p class="text-left">
                            <strong>Tarjeta Reportes:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Reportes, donde se listan todos los reportes de esta
                            opción.
                        </p>
                        <p class="text-left">
                            Al seleccionar el Submenú
                            flujo de negocio se despliegan la siguiente función:</p>
                            <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_deab537d3e99c107.png" alt="Imagen 62507" class="vertical-align-bottom" width="605" height="439" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Opción Resolución de
                            asignación de CUPOS: </strong>Tarjeta
                            de acción que permite acceder al módulo de Resolución de
                            asignación de CUPOS.</p>
                            <p class="text-left">
                            <strong>Opción Registrar documento
                            de venta:</strong> Tarjeta
                            de acción que permite acceder al módulo de Registrar documento de
                            venta.</p>
                            <p class="text-left">
                            <strong>Opción Gestionar
                            establecimiento:</strong>
                            Tarjeta de acción que permite acceder al módulo de Gestionar
                            establecimiento.</p>
                            <p class="text-left">
                            <strong>Opción Hoja de vida
                            empresa:</strong> Tarjeta de
                            acción que permite acceder al módulo de Hoja de vida empresa.</p>
                            <p class="text-left">
                            <strong>Opción Consulta de
                            precintos y marquillas:</strong>
                            Tarjeta de acción que permite acceder al módulo de Consulta de
                            precintos y marquillas.</p>
                            <p class="text-left">
                            <strong>Opción Registro de acta de
                            visita de cortes:</strong>
                            Tarjeta de acción que permite acceder al módulo de Registro de acta
                            de visita de cortes.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
	                        Seleccione la opción de
	                        consultar precintos y marquillas, se despliega la siguiente
	                        pantalla.</p>
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - CONSULTAR PRECINTOS Y MARQUILLAS_html_f15d5454bb7bb3f2.png" alt="Imagen 62508" class="vertical-align-bottom" width="605" height="323" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Filtros para realizar la
                            Consulta de precintos y marquillas</strong></p>
                            <p class="text-left">
                            <strong>Tipo documento del
                            establecimiento: </strong>lista
                            desplegable con los tipos de documento establecidos</p>
                            <p class="text-left">
                            <strong>Número documento del
                            establecimiento:</strong>
                            campo abierto para ingresar el número de documento.</p>
                            <p class="text-left">
                            <strong>Nombre del establecimiento:
                            </strong>campo abierto para
                            ingresar el nombre de documento.</p>
                            <p class="text-left">
                            <strong>Número Radicado: </strong>campo
                            abierto para ingresar el número de radicado de la solicitud que le
                            otorgo los precintos o marquillas.</p>
                            <p class="text-left">
                            <strong>Fecha Inicial: </strong>campo
                            abierto tipo fecha para ingresar la fecha inicial que se desea traer
                            los registros.</p>
                            <p class="text-left">
                            <strong>Fecha Final:</strong>
                            campo abierto tipo fecha para ingresar la fecha final que se desea
                            traer los registros.</p>
                            <p class="text-left">
                            <strong>Color:</strong>
                            lista desplegable con los colores que existen para precinto y
                            marquillas.</p>
                            <p class="text-left">
                            <strong>Vigencia: </strong>campo
                            abierto tipo fecha para ingresar la fecha de vigencia de los
                            registros.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al ingresar uno o más campos
                            tipo filtro, el resultado se verá reflejado en la siguiente grilla:
                        </p>
                        <p class="text-left">
                            <strong>
                                Tipo documento del
                                establecimiento:
                            </strong>Registra
                            el tipo de documento del establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número documento del
                                establecimiento:
                            </strong>Registra
                            el número de documento del establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>
                                Nombre del establecimiento:
                            </strong>Registra el nombre
                            del establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Número Radicado:</strong>
                            Registra el número de radicado de la solicitud de precintos o
                            marquillas.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número de Permiso CITES:
                            </strong>Registra el número
                            de permiso CITES si existe.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Inicial:</strong>
                            registra la fecha inicial de vigencia.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Final: </strong>registra
                            la fecha final de vigencia.
                        </p>
                        <p class="text-left">
                            <strong>Nombre Especie:</strong>
                            registra el nombre de la especie a los cuales se le otorgo los
                            precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Número Inicial: </strong>registra
                            el número inicial del rango de cupos.
                        </p>
                        <p class="text-left">
                            <strong>Número Final:</strong>
                            registra el número final del rango de cupos.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número Interno Inicial:
                            </strong>registra el número
                            inicial del rango de precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número Interno Final:
                            </strong>registra el número
                            inicial del rango de precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Asignación: </strong>registra
                            la fecha de asignación de precintos o marquillas
                        </p>
                        <p class="text-left">
                            <strong>Cantidad</strong>:<strong>
                            </strong>registra la
                            cantidad de precintos o marquillas otorgadas.
                        </p>
                        <p class="text-left">
                            <strong>Vigencia: </strong>registra
                            el año de vigencia de precintos o marquillas otorgadas,
                        </p>
                        <p class="text-left">
                            <strong>Color: </strong>registra
                            el color de precintos o marquillas otorgadas
                        </p>
                        <p class="text-left">
                            <strong>Precintos Disponibles:</strong>
                            registra el número de precintos disponibles para alguna transacción.
                        </p>
                        <p class="text-left">
                            <strong>Precintos Utilizados:</strong>
                            registra el número de precintos utilizado en alguna transacción.
                        </p>

                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="PrecintosMarquillas" asp-action="Index" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>