@{
    Layout = "_LayoutSaleDocuments";
}

<div class="container">
    <div class="row content">
        <div class="col-md-8 resume">
            <a asp-controller="" asp-action="">Inicio</a>  > <a asp-controller="SaleDocument" asp-action="SaleDocuments">Documentos de Venta </a>  > <strong>Registrar Documento de Venta</strong>
        </div>
        <div class="col-md-4 iconos">
            <button type="submit" class="btn btn-secondary" title="Ayuda">AYUDA</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">INICIO</a>
        </div>
    </div>        
    <h3 class="titulos-h3">Registrar Documento de Venta</h3>
    <div class="row mt-2">
        <div class="col-md-4 mb-1">
            <label for="businessLbl" class="form-label">Establecimiento</label>                           
            <select name="businessSelect" id="businessSelect" class="form-control">
                <option value="">Seleccione</option>
                <option value="60">Zoocriadero</option>
                <option value="61">Comerzializadora</option>
                <option value="62">Manofacturera</option>
                <option value="63">Curtiembre</option>
            </select>
        </div>
        <div class="col-md-4 mb-1">
            <label for="typeDocumentLbl" class="form-label">Tipo documento</label>                           
            <select name="typeDocumentSelect" id="typeDocumentSelect" class="form-control">
                <option value="">Seleccione</option>
                <option value="1">Cédula</option>
                <option value="95">Nit</option> 
            </select>
        </div>
        <div class="col-md-4 mb-1">
            <label for="documentNumberLbl" class="form-label">Número documento</label>                           
            <input type="text" class="form-control" id="documentNumberTxt">
        </div>                                
    </div>    
    <div class="row justify-content-center mt-5">
        <button type="button" id="btnReturn" class="btn btn-secondary m-2" onclick="Return()" title="Regresar a documentos de venta">Regresar</button>
        <button type="button" class="btn btn-primary btn-bandeja-regresar m-2" onclick="ValidateCompany()" title="Valida que la empresa se encuentre registrada">Buscar</button>
    </div>                      
</div>
<div class="modal fade" id="MessageTextModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p id="messageText"></p>
                    </div>
                    <div id="divBotonesConfirmacion" class="text-center col-12">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnAccept">Aceptar</button>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="Scripts\ValidateCompanyScripts" />

