<style>
    .text-left {
        text-align: left;
    }
</style>
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Gestión de Auditoria</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se consulta la trazabilidad correspondiente a las consultas y cambios realizadas 
                            por los diferentes usuarios que utiliza el módulo, en cada uno de los Submódulos del sistema.
                        </p>
                        <p class="text-left">
                            La opción de Gestión de auditoría se despliega en la siguiente pantalla.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_bandeja.png" alt="Bandeja Gestión de Auditoria" name="Imagen 62385" align="bottom" width="558" height="248" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Desde: <img alt="" title="Filtro Desde" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de trazabilidad, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Filtro Hasta: <img alt="" title="Filtro Hasta" src="~/images/Filtro.png" border="0"/></b>
                        Mediante este filtro el usuario puede filtrar los resultados de trazabilidad, de acuerdo con los criterios que digite en este.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede consultar los registros de trazabilidad, de acuerdo con los filtros de fecha utilizados.
                        </p>
                    </td>
                    <td class="col-6">
                        
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Usuario: </b>Columna en la que se define el nombre del usuario asociado a la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Rol: </b>Columna en la que se define el rol del usuario asociado a la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acción: </b>Columna en la que se define la acción llevada a cabo por el usuario asociado en el registro de trazabilidad del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Submódulo: </b>Columna en la que se define el Submódulo modificado, y que está asociado a la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Fecha: </b>Columna en la que se proporciona la fecha en la que se realizó una acción, y que ahora se asocia en la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Hora: </b>Columna en la que se proporciona la hora en la que se realizó una acción, y que ahora se asocia en la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna IP: </b>Columna en la que se proporciona la IP utilizada por el usuario que se realizó una acción, y que ahora se asocia en la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Detalle: </b>Columna en la que se lista el botón de acción para ingresar al detalle de los valores modificados en la acción utilizada, que ahora se asocia en la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">
                    
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Administracion de Actividades" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_bandejafiltrada.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de fechas Desde y Hasta, y seleccionar el botón Consultar, 
                            se pueden realizar búsquedas específicas de registros de trazabilidad del sistema. 
                            Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Descargar: <img alt="" title="Botón Descargar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_BotonDescargar.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede descargar la trazabilidad del sistema, para su visualización en un archivo de formato tipo xlsx.
                            </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Resultados pág. : <img alt="" title="Botón Guardar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_BotonResultados.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede seleccionar la cantidad de registros que desea visualizar por página en la bandeja de resultados.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Detalles: <img alt="" title="Botón Descargar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_BotonDetalles.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede ingresar a una sección que proporciona un mayor detalle de los valores modificados en la acción utilizada, que ahora se asocia en la trazabilidad de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Página: <img alt="" title="Botón Guardar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_BotonPagina.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede navegar entre las páginas de resultados generadas como producto de la búsqueda realizada.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Gestion de Auditoria" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_bandejaDetalle.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Detalles” se dirige siguiente a la ventana de visualización de detalle de modificación de un registro seleccionado 
                            (aplica para edición, creación y eliminación).
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Nombre del Campo: </b>
                            Columna en la que se define el campo de base de datos modificado, y que está asociado al registro consultado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Nombre del Registro: </b>
                            Columna en la que se define el nombre del campo modificado, y que está asociado al registro consultado.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Valor Anterior: </b>
                            Columna en la que se define el valor previo a la modificación del registro consultado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Valor Actual: </b>
                            Columna en la que se define el valor guardado en el registro consultado.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Volver: <img alt="" title="Botón Descargar" src="~/images/BotonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede regresar a la pantalla de resultados.
                        </p>
                    </td>
                    <td class="col-6">
                        
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón “Descargar”, descargará un archivo de Excel con formato xlsx en la computadora, como el siguiente:
                        </p>
                    </td>
                    <td class="col-6">
                        <img alt="" title="Botón Descargar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Auditoria_Descarga.png" border="0" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAuditoria btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAuditoria").click(function() {
    document.location.href = "/Auditoria/GestionAuditoria";
})
</script>