@model Web.Models.CvModel;
@{
    Layout = "_LayoutRegistrarResolucion";
}
<div class="container">
    <div>
        <a asp-controller="Home" asp-action="Index">Inicio</a> > <a asp-controller="Home" asp-action="FlujoNegocio">Flujo de negocio</a> > <strong>
            Hoja de vida entidad
        </strong>
    </div>
    <div class="text-end">
        <a class="btn btn-secondary" asp-controller="Cv" target="_blank" asp-action="Ayuda" title="Ayuda">ayuda</a>
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index" data-bs-toggle="tooltip"
           data-bs-placement="top" title="Inicio">Inicio</a>
    </div>

 

    <div class="row">

        <h1>Hoja de vida</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab1" id="tab-1"
                   onclick="loadDatosEmpresahj()">Datos del Establecimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab2" id="tab-2"
                   onclick="loadsituacion()">Situación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab3" id="tab-3"
                   onclick="documentoventa()">Documentos de Compra y venta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab4" id="tab-4"
                   onclick="certificadoflorahj()">Certificado de Flora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab5" id="tab-5"
                   onclick="Controlpeces()">Control Solicitudes Peces</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane container active p-2" id="tab1">
                <partial name="Partials/datos_de_la_empresa" />
            </div>
            <div class="tab-pane container fade p-2" id="tab2">
                <partial name="Partials/situacion" />
            </div>
            <div class="tab-pane container fade p-2" id="tab3">
                <partial name="Partials/documento_de_venta" />
            </div>
            <div class="tab-pane container fade p-2" id="tab4">
                <partial name="Partials/certificado_de_flora_no_maderables" />
            </div>
            <div class="tab-pane container fade p-2" id="tab5">
                <partial name="Partials/Control_solicitudes" />
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <button type="button" onclick="Anterior4()" id="btnAnterior4"
                class="col-1 btn btn-primary m-2 d-none">
            Anterior
        </button>
        <button type="button" onclick="siguiente4()" id="btnSiguiente4"
                class="col-1 btn btn-primary m-2">
            Siguiente
        </button>
        <button type="button" onclick="cerrarSesion3()" id="salir4" data-bs-toggle="modal" data-bs-target="#modalCerrarSesion3"
                class="col-1 btn btn-primary m-2 d-none">
            Salir
        </button>
    </div>
</div>

<div class="modal fade" id="modalCerrarSesion3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="text-center col-12">
                    <span class="fa-solid fa-circle-check i-modal"></span>
                </div>
                <div class="text-center col-12 titulo-modal">
                    <p>Confirmación</p>
                </div>
                <div id="header" class="d-block mensajes-modal">
                    <p id="mensajeModalCerrarSesion3"></p>
                </div>
                <div class="row">
                    <div id="btnSiNoCerrarSsesion3" class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">NO</button>
                        </div>
                        <div class="col-6">
                            <a type="button" class="btn btn-secondary w-100" asp-controller="Home"
                               asp-action="Index">SI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Scripts\IndexScripts" />
