    <div class="col-md-4 mb-1">        
        <label class="form-label required">Documento soporte</label>
        <label type="button" class="file text-center" for="fileMultipleFile" id="fileContenedorMultipleFile">
            <p id="placeHolderMultipleFile"><span class="fas fa-paperclip"></span> Adjunte o arrastre aquí uno o varios documentos.</p>
            <input type="file" id="fileMultipleFile" class="disabledField">
        </label>
        <span id="ValidateFileMultipleFile" class="span-advertencia d-none">Campo Obligatorio</span>                         
        <span id="spanFileMultipleFile" class="span-advertencia d-none"></span>
        <div id="contenedorMultipleFile">
        </div>        
    </div> 