<div id="QuotasInventoryTableDiv">
    <div id="divCuposComprar">
        <h6 class="titulosModalControl">Cupos</h6>
        <div class="mt-3 d-none" id="divCuposShow">
            <div class="mt-2 mb-2">
                <table id="TableCuposShow" class="table w-100" aria-describedby="Tabla cupos show">
                    <thead>
                        <tr>       
                            <th class="d-none">Codigo</th>                                                         
                            <th class="th-mediumText">Número de resolución</th>
                            <th class="d-none">Codigo Especie</th>
                            <th class="th-mediumText">Especie</th>
                            <th class="th-shortText">Años de produccion</th>
                            <th class="th-shortText">Cupos de aprovechamiento y comercialización</th>
                            <th class="th-shortText">Cupos de repoblación</th>
                            <th class="th-shortText">Total cupos otorgados</th>                            
                            <th class="th-shortText">Cupos disponibles</th>
                            <th class="th-shortText">Cupos vendidos</th>
                            <th class="th-shortText">Numeracion inicial</th>
                            <th class="th-shortText">Numeracion final</th>
                            <th class="th-shortText">Numeracion inicial precintos</th>
                            <th class="th-shortText">Numeracion final precintos</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-3" id="divCupos">
            <div class="mt-2 mb-2">
                <table id="TableCupos" class="table w-100" aria-describedby="Tabla cupos">
                    <thead>
                        <tr>       
                            <th class="d-none">Codigo</th>                                                         
                            <th class="th-mediumText">Número de resolución</th>
                            <th class="d-none">Codigo Especie</th>
                            <th class="th-mediumText">Especie</th>
                            <th class="th-shortText">Años de produccion</th>
                            <th class="th-shortText">Cupos de aprovechamiento y comercialización</th>
                            <th class="th-shortText">Cupos de repoblación</th>
                            <th class="th-shortText">Total cupos otorgados</th>                            
                            <th class="th-shortText">Cupos disponibles</th>                  
                            <th class="th-mediumText">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>           
        </div>
    </div>  
    <div id="divInventarioComprar">
        <h6 class="titulosModalControl">Inventario</h6>          
        <div class="mt-3 d-none" id="divInventoryShow">
            <div class="mt-2 mb-2">
                <table id="TableInventoryShow" class="table w-100" aria-describedby="Tabla inventario show">
                    <thead>
                        <tr>          
                            <th class="d-none">Codigo</th>                                                         
                            <th class="th-mediumText">Número de carta de venta y/o Factura</th>
                            <th class="th-mediumText">Quien Vende (Nombre/Razón Social)</th>                            
                            <th class="th-mediumText">Fecha de Venta</th>
                            <th class="th-mediumText">Cantidad de especímenes comprados</th>
                            <th class="th-mediumText">Año</th>
                            <th class="d-none">Codigo Especie</th>
                            <th class="th-mediumText">Especie</th>                        
                            <th class="th-mediumText">Inventario diponibles</th>
                            <th class="th-mediumText">Inventario vendido</th>
                            <th class="th-shortText">Numeracion inicial</th>
                            <th class="th-shortText">Numeracion final</th>
                            <th class="th-shortText">Numeracion inicial precintos</th>
                            <th class="th-shortText">Numeracion final precintos</th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-3" id="divInventory">
            <div class="mt-2 mb-2">
                <table id="TableInventory" class="table w-100" aria-describedby="Tabla inventario">
                    <thead>
                        <tr>          
                            <th class="d-none">Codigo</th>                                                         
                            <th class="th-mediumText">Número de carta de venta y/o Factura</th>
                            <th class="th-mediumText">Quien Vende (Nombre/Razón Social)</th>                            
                            <th class="th-mediumText">Fecha de Venta</th>
                            <th class="th-mediumText">Cantidad de especímenes comprados</th>
                            <th class="th-mediumText">Año</th>
                            <th class="d-none">Codigo Especie</th>
                            <th class="th-mediumText">Especie</th>                        
                            <th class="th-mediumText">Inventario Diponibles</th>                       
                            <th class="th-mediumText">Acciones</th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>           
        </div>     
    </div>
</div>

<div id="divNumeraciones" class="d-none">
    <div class="mb-2 mt-2 row">
        <div class="row">
            <p class="col">Rango de numeracion aprovechamiento <span id="initialNumber"></span>-<span id="finalNumber"></span></p>
            <p id="txtRep" class="col d-none">Rango de numeracion reploblación <span id="initialNumberRep"></span>-<span id="finalNumberRep"></span></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="txtNumeroInicialSelected" class="form-label">N° Inicial</label>
            <input type="text" class="form-control" id="txtNumeroInicialSelected" placeholder="N° Inicial">
        </div>
        <div class="col-md-8 col-sm-12">
            <label for="txtNumerofinalSelected" class="form-label">N° Final</label>
            <div class="row d-flex">
                <div class="col-md-6 col-sm-12">
                    <input type="text" class="form-control" id="txtNumerofinalSelected"
                        placeholder="N° Final">
                </div>
                <div class="col-md-6 col-sm-12" id="divBtn">
                    <button type="button" class="btn btn-primary w-100" onclick="ValidarNumeraciones()">
                        <span class="spinner-border spinner-border-sm d-none" role="status"
                            aria-hidden="true" id="spinnerButton"></span>
                        Seleccionar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 mt-2 d-none" id="divNumSelected">    
        <h2>Numeraciones Seleccionadas</h2>
        <table id="TableCuposSeleccionados" class="table w-100" aria-describedby="Tabla cupos seleccionados">
            <thead>
                <tr>
                    <th class="d-none"></th>       
                    <th class="th-shortText">N° inicial</th>
                    <th class="th-shortText">N° final</th>
                    <th class="th-shortText">N° inicial precintos</th>
                    <th class="th-shortText">N° final precintos</th>
                    <th class="th-shortText">Cantidad</th>
                    <th class="th-shortText">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="mb-2 mt-2">    
        <h2 id="tituloNoDisp">Numeraciones no disponibles</h2>
        <table id="TableCuposOcupados" class="table w-100" aria-describedby="Tabla cupos ocupados">
            <thead>
                <tr>       
                    <th>N° Interna Inicial</th>
                    <th>N° Interna Final</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <button class="btn btn-secondary mt-3 mb-3" onclick="volverResoluciones(true)">volver</button>
    <button class="btn btn-primary mt-3 mb-3" onclick="guardarPreseleccionados(true)">Guardar</button>
</div>
<div class="modal fade" id="modalAlertaNumeraciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fas fa-exclamation-circle i-modal-alerta"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal-alerta">
                        <p>Alerta</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p id="textAlertaNumeraciones"></p>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                ACEPTAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>