<div id="QuotasInventoryTableEditDiv"> 
    <h6 class="titulosModalControl">Quién vende/Cupos vendidos</h6>
    <div class="mt-3">
        <div class="mt-2 mb-2">
            <table id="TableCuposEdit" class="table w-100" aria-describedby="Tabla cupos editar">
                <thead>
                    <tr>       
                        <th class="d-none">Codigo</th>                                                         
                        <th class="th-mediumText">Número de resolución</th>
                        <th class="th-shortText">Total cupos otorgados</th>                            
                        <th class="th-mediumText">Cupos de aprovechamiento y comercialización</th>
                        <th class="th-mediumText">Cupos de replobación</th>
                        <th class="th-mediumText">Cupos disponibles</th>
                        <th class="th-shortText">Años de producción</th>
                        <th class="d-none">Codigo Especie</th>
                        <th class="th-mediumText">Especie</th>
                        <th class="th-mediumText">N° cupos vendidos</th>
                        <th class="th-shortText">Numeración Interna Inicial</th>
                        <th class="th-shortText">Numeración Interna Final</th>                        
                        <th class="th-shortText">Numeración Inicial Precintos</th>
                        <th class="th-shortText">Numeración Final Precintos</th> 
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>           
    </div>     
    <h6 class="titulosModalControl">Quién compra/Especimenes comprados</h6>          
    <div class="mt-3">
        <div class="mt-2 mb-2">
            <table id="TableInventoryEdit" class="table w-100" aria-describedby="Tabla inventario editar">
                <thead>
                    <tr>          
                        <th class="d-none">Codigo</th>                                                         
                        <th class="th-mediumText">Número de carta de venta y/o Factura</th>
                        <th class="th-mediumText">Quien Vende (Nombre/Razón Social)</th>                            
                        <th class="th-mediumText">Fecha de Venta</th>
                        <th class="th-mediumText">Cantidad de especímenes comprados</th>
                        <th class="th-mediumText">Año</th>
                        <th class="th-mediumText">Especie</th> 
                        <th class="th-mediumText">Inventario Diponibles</th>
                        <th class="th-mediumText">Inventario Vendido</th>
                        <th class="th-mediumText">Numeración Interna Inicial</th>
                        <th class="th-mediumText">Numeración Interna Final</th>                                                 
                        <th class="th-shortText">Numeración Inicial Precintos</th>
                        <th class="th-shortText">Numeración Final Precintos</th>      
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>           
    </div>     
</div>