<style>
    .text-left {
        text-align: left;
    }

    .vertical-align-bottom {
        vertical-align: bottom;
    }
</style>


<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Flora
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        En este módulo se realiza el registro  de las resoluciones de
                        certificados de flora registrados en el sistema. Esta función
                        permite que los usuarios puedan ingresar y registrar las
                        certificaciones emitidas por una entidad ambiental competente de
                        acuerdo con su perfil de analista flora.</p>
                        <p class="text-left">
                        Para obtener un usuario y contraseña para el rol de analista de
                        flora, el usuario debe solicitar al administrador del sistema la
                        creacion del usuario, mediante un correo electronico en el cual debe
                        sumistrar todos los datos correspondientes.</p>
                        <p class="text-left">
                        Paralo cual el administrador recive el correo y gestiona la creacion
                        del usuario con rol analista flora desde el modulo de adinistracion,
                        funcion gestionar usuarios.</p>
                        <p class="text-left">
                        Al crear el usuaro el sistema envia un correo electronico al usuario
                        que solico la creacion del usuario en el cual se adjunta usuario,
                        contraseña temparol y el enlace a la pantalla de inicio de sesion
                        del sistema cupos precintos y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_e4d0c723c24d2c94.png"  class="vertical-align-bottom" width="558" height="248" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Para iniciar, se debe dirigir a la dirección de la página enviada
                            para el aplicativo para cupos precintos y marquillas.
                        </p>
                        <p lang="es-CO" align="justify" style="line-height: 100%; margin-bottom: 0.14in">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_ce8901dc08a9b656.png"  class="vertical-align-bottom" width="275" height="314" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>CAPTCHA- Casilla de verificación No soy un robot</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d884c4fbaa41fcf7.gif"  alt="Shape2" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para ingresar al sistema con las credenciales
                            de usuario y contraseña ingresada.
                        </p>
                        <p class="text-left">
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d2d7f82e43470423.png"  class="vertical-align-bottom" width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda con opciones de apoyo para navegación del
                            usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CONTRASTE </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_783b10d543e76db6.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite cambiar el contraste del brillo
                            de la ventanilla electrónica, y visualizarlo en un modo oscuro.
                        </p>
                        <p class="text-left">
                            <strong>Botón REDUCIR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_701c9169fba01f8e.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite reducir el tamaño de la fuente
                            de toda la ventanilla electrónica, de acuerdo con las preferencias
                            del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_36a0d623038cb28c.png"  class="vertical-align-bottom" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite aumentar el tamaño de la fuente
                            de toda la ventanilla electrónica, de acuerdo con las preferencias
                            del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Botón CENTRO DE RELEVO </strong>
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_bd53499beabc0bfe.png"  class="vertical-align-bottom" width="21" height="19" border="0"/>
                        <strong>
                        :</strong> Botón de acción que permite acceder al centro de relevo
                        establecido por MINTIC.</p>
                        <p class="text-left">
                        Ingresa con las credenciales , haciendo referencia a nombre de
                        usuario y contraseña temporal asociada a este. Selecciona la casilla
                        de verificación de No soy un robot (opción de seguridad), y
                        posterior a su aprobación selecciona el botón de Ingresar.</p>
                        <p class="text-left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_b473277b96222635.png"  class="vertical-align-bottom" width="605" height="266" border="0"/>
                        </p>
                        <p class="text-left">
                        Al ingresar se encontrará con la pantalla creación de usuario, al
                        ingresar por primeras vez se debe realizar el cambio de la contraseña
                        temporal.</p>
                        <p class="text-left">
                        <strong>Campo Nueva contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_cca38a6849d9155d.png"  class="vertical-align-bottom" width="126" height="23" border="0"/>
                        :
                        Campo para ingresar la contraseña que se desea asociar al nombre de
                        usuario ingresado.</p>
                        <p class="text-left">
                    </td>
                    <td class="col-6">
                        <strong>Campo Confirmar contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_bddfebc61f2f79b1.png"  class="vertical-align-bottom" width="123" height="22" border="0"/>
                        :
                        Campo para confirmar la contraseña ingresada, y que se desea asociar
                        al nombre de usuario ingresado.</p>
                        <p class="text-left">
                        <strong>Casilla acepta política de tratamiento de datos personales</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_962c6fb5a49117fd.png"  class="vertical-align-bottom" width="81" height="27" border="0"/>
                        :
                        Casilla de verificación que debe marcar el usuario para indicar que
                        está de acuerdo con la política de tratamiento de datos.</p>
                        <p class="text-left">
                        <strong>Casilla acepta términos y condiciones</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_142f14d43a755fd8.png"  class="vertical-align-bottom" width="75" height="18" border="0"/>
                        :
                        Casilla de verificación que debe marcar el usuario para indicar que
                        está de acuerdo con los términos y condiciones de uso del sistema.</p>
                        <p class="text-left">
                            <strong>Botón guardar</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_4889aabf4fd589be.png"  class="vertical-align-bottom" width="65" height="24" border="0"/>
                            :
                            Botón de acción para guardar la nueva contraseña.
                        </p>
                        <p class="text-left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_be734d45fd0b2dc4.png"  class="vertical-align-bottom" width="605" height="167" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        Al ingresar, confirmar la nueva contraseña, aceptar las políticas
                        de seguridad y dar clic en el botón guardar, el sistema lo
                        redirecciona a la pantalla de inicio de sesión de cupos, precintos y
                        marquillas.
                        </p>
                        <p class="text-left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_ce8901dc08a9b656.png"  class="vertical-align-bottom" width="275" height="314" border="0"/>
                        </p>
                        <p class="text-left">
                        <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0"/>
                        <strong>:</strong>
                        Campo para ingresar el nombre de usuario de acuerdo con el listado de
                        usuarios registrados en el sistema.
                        </p>
                        <p class="text-left">
                        <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0"/>
                        <strong>:</strong>
                        Campo para ingresar la nueva contraseña asociada al nombre de
                        usuario ingresado en el campo de Usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>CAPTCHA- Casilla de verificación No soy un robot</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_d884c4fbaa41fcf7.gif"  alt="Shape3" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para ingresar al sistema con las credenciales
                            de usuario y contraseña ingresada.
                        </p>
                        <p class="text-left">
                            Al ingresar se encontrará con las siguientes opciones habilitadas
                            para el usuario analista flora.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_8d1639bbe8463b34.png"  class="vertical-align-bottom" width="605" height="313" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Usuario: </strong>visualiza el nombre de usuario de quien inicia
                        sesión.
                        </p>
                        <p class="text-left">
                        <strong>Botón serrar sesión: </strong>botón de acción<strong> </strong>para serrar
                        sesión.
                        </p>
                        <p class="text-left">
                        <strong>Menú horizontal:</strong> Barra de menú en la que se establecen los
                        menús principales y los módulos pertenecientes a cada uno, como
                        alternativa de navegación entre módulos.
                        </p>
                        <p class="text-left">
                        <strong>Botón Inicio:</strong> Botón que permite regresar a la ventana
                        inicial de cupos, precintos y marquillas.
                        </p>
                        <p class="text-left">
                        <strong>Submenú Flujo de negocio:</strong> Submenú de la barra horizontal en
                        el que se listan los diferentes módulos de Flujo de negocio, para el
                        rol analista flora se activaron las funcionalidades: 

                        </p>
                        <p class="text-left">
                        Gestionar establecimiento
                        </p>
                        <p class="text-left">
                        Hoja de vida empresa
                        </p>
                        <p class="text-left">
                        Flora
                        </p>
                        <p class="text-left">
                        <strong>Tarjeta Flujo de negocio:</strong> Submenú en forma de tarjeta de
                        acción que permite acceder a la ventana de Flujo de Negocio, donde
                        se listan todos los módulos de esta opción.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el Submenú flujo de negocio se despliegan las
                            siguientes funcionalidades:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_b987569db40495bc.png"  class="vertical-align-bottom" width="605" height="316" border="0" />

                        </p>
                        <p class="text-left">
                            <strong>Opción Gestionar establecimiento:</strong> Tarjeta de acción que
                            permite acceder al módulo de Gestionar establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Opción Hoja de vida empresa:</strong> Tarjeta de acción que permite
                            acceder al módulo de Hoja de vida empresa.
                        </p>
                        <p class="text-left">
                            <strong>Opción Flora: </strong>Tarjeta de acción que permite acceder al
                            módulo de flora.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Seleccione la opción Flora, se despliega la siguiente pantalla.
                        </p>

                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_438f8d4679bc0fa9.png"  class="vertical-align-bottom" width="605" height="283" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo número de certificado:</strong> campo abierto para ingresar el
                        número de certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Campo tipo de documento:</strong> lista desplegable con los tipos de
                        documento establecidos.
                        </p>
                        <p class="text-left">
                        <strong>Numero de documento:</strong> campo abierto para ingresar el nuero de
                        documento del  establecimiento.
                        </p>
                        <p class="text-left">
                        <strong>Botón buscar:</strong> Botón de acción para filtrar los registros de
                        acuerdo al campo o campos ingresados, en la grilla inferior, con las
                        columnas:
                        </p>
                        <p class="text-left">
                        <strong>Columna N° Certificación: r</strong>egistra el número de certificado
                        de flora.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Columna Nit: r</strong>egistra el nit del establecimiento a quien se
                        otorga el certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Columna Fecha registró certificado: r</strong>egistra la fecha de
                        ingreso en el sistema el certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Columna Fecha certificación: r</strong>egistra la fecha de emisión
                        del certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Columna Vigencia de certificación:</strong> <strong>r</strong>egistra la fecha
                        de vigencia del certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Columna Acciones:</strong> visualiza las siguientes opciones para
                        realizar sobre un certificado de flora ya registrado:
                        </p>
                        <p class="text-left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_78b4dbe6cabb0c54.png"  class="vertical-align-bottom" width="183" height="100" border="0"/>
                        </p>
                        <p class="text-left">
                        <strong>* Ver:</strong> Botón que permite visualiza el formulario del
                        certificado de flora registrado con los campos precargados y sin la
                        posibilidad de edición
                        </p>
                        <p class="text-left">
                        <strong>Pestaña Datos del establecimiento:</strong>
                        </p>
                        <p class="text-left">
                        <strong>Campo nit: </strong>campo precargado del sistema en el cual se
                        visualiza el nit asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo entidad: </strong>campo precargado del sistema en el cual se
                        visualiza el tipo de establecimiento asociado al establecimiento
                        validado antes de ingresar a la funcionalidad.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo nombre:</strong> campo precargado del sistema en el cual se
                        visualiza el nombre asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo país:</strong> campo precargado del sistema en el cual se
                        visualiza el país asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo departamento:</strong> campo precargado del sistema en el cual se
                        visualiza el departamento asociado al establecimiento validado antes
                        de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo ciudad/municipio:</strong> campo precargado del sistema en el
                        cual se visualiza el cuidad/municipio asociado al establecimiento
                        validado antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo dirección:</strong> campo precargado del sistema en el cual se
                        visualiza la dirección asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo teléfono:</strong> campo precargado del sistema en el cual se
                        visualiza el teléfono  asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo correo:</strong> campo precargado del sistema en el cual se
                        visualiza el correo electrónico asociado al establecimiento validado
                        antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Botón Siguiente:</strong> Botón que permite continuar a la pestaña
                        Resolución.
                        </p>
                        <p class="text-left">
                        <strong>Pestaña certificado</strong>
                        </p>
                        <p class="text-left">
                        <strong>Campo Autoridad ambiental que emite certificado: </strong>campo
                        precargado del sistema con Autoridad ambiental que emite certificado.
                        </p>
                        <p class="text-left">
                        <strong>Campo Número de certificación: </strong>campo precargado del sistema
                        con el número de certificación.
                        </p>
                        <p class="text-left">
                        <strong>Campo Fecha de certificación: </strong>campo precargado del sistema
                        con la fecha de emisión del certificado.
                        </p>
                        <p class="text-left">
                        <strong>Campo Vigencia de certificación: </strong>campo precargado del sistema
                        con la fecha de vigencia del certificado
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo Tipo de permiso:</strong> campo precargado del sistema con el
                        tipo de permiso del certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Campo Tipo de especímenes o productos a importar o exportar:
                        </strong>campo precargado del sistema con una o varias de las siguientes
                        opciones seleccionadas.
                        </p>
                        <p class="text-left">
                        <strong>productos forestales segundo grado de transformación o
                        terminados</strong>
                        </p>
                        <p class="text-left">
                        <strong>flora cortada</strong>
                        </p>
                        <p class="text-left">
                        <strong>follaje</strong>
                        </p>
                        <p class="text-left">
                        <strong>demás productos de la flora silvestre no obtenida mediante
                        aprovechamiento directo de medio natural</strong>
                        </p>
                        <p class="text-left">
                        <strong>Documento de Soporte: </strong>campo precargado del sistema con uno o
                        más documentos.
                        </p>
                        <p class="text-left">
                        <strong>Campo Observaciones: </strong>campo precargado del sistema con las
                        observaciones.
                        </p>
                        <p class="text-left">
                        <strong>Botón Salir: </strong>Botón de acción para salir de la vista del
                        formulario del certificado de flora.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Editar:</strong> Botón que permite visualiza el formulario del
                            certificado de flora registrado con los campos precargados y con la
                            posibilidad de edición.
                        </p>
                        <p class="text-left">
                            <strong>Pestaña Datos del establecimiento:</strong>
                        </p>
                        <p class="text-left">
                            <strong>Campo nit: </strong>campo precargado del sistema en el cual se
                            visualiza el nit asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo entidad: </strong>campo precargado del sistema en el cual se
                            visualiza el tipo de establecimiento asociado al establecimiento
                            validado antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo nombre:</strong> campo precargado del sistema en el cual se
                            visualiza el nombre asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo país:</strong> campo precargado del sistema en el cual se
                            visualiza el país asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo departamento:</strong> campo precargado del sistema en el cual se
                            visualiza el departamento asociado al establecimiento validado antes
                            de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo ciudad/municipio:</strong> campo precargado del sistema en el
                            cual se visualiza el cuidad/municipio asociado al establecimiento
                            validado antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo dirección:</strong> campo precargado del sistema en el cual se
                        visualiza la dirección asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo teléfono:</strong> campo precargado del sistema en el cual se
                        visualiza el teléfono  asociado al establecimiento validado antes de
                        ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Campo correo:</strong> campo precargado del sistema en el cual se
                        visualiza el correo electrónico asociado al establecimiento validado
                        antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                        <strong>Botón Siguiente:</strong> Botón que permite continuar a la pestaña
                        Resolución.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Pestaña certificado</strong>
                        </p>
                        <p class="text-left">
                        <strong>Campo Autoridad ambiental que emite certificado: </strong>Lista
                        desplegable con las opciones que entrego MADS.
                        </p>
                        <p class="text-left">
                        <strong>Campo Número de certificación: </strong>Campo abierto para ingresar
                        el número de certificación.
                        </p>
                        <p class="text-left">
                        <strong>Campo Fecha de certificación: </strong>Campo abierto tipo fecha para
                        ingresar la fecha de emisión del certificado.
                        </p>
                        <p class="text-left">
                        <strong>Campo Vigencia de certificación: </strong>Campo abierto tipo fecha
                        para ingresar la fecha de vigencia del certificado
                        </p>
                        <p class="text-left">
                        <strong>Campo Tipo de permiso:</strong> Lista desplegable, con una o más
                        opción de selección con las opciones de Importación y Exportación
                        para el certificado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                Campo Tipo de especímenes o productos a importar o exportar:
                            </strong>Lista desplegable, con una o más opción de selección con las
                            opciones:
                        </p>
                        <p class="text-left">
                            <strong>
                                productos forestales segundo grado de transformación o
                                terminados
                            </strong>
                        </p>
                        <p class="text-left">
                            <strong>flora cortada</strong>
                        </p>
                        <p class="text-left">
                            <strong>follaje</strong>
                        </p>
                        <p class="text-left">
                        <strong>demás productos de la flora silvestre no obtenida mediante
                        aprovechamiento directo de medio natural</strong>
                        </p>
                        <p class="text-left">
                        <strong>Documento de Soporte: </strong>Campo para cargar uno o más documentos.
                        </p>
                        <p class="text-left">
                        <strong>Campo Observaciones: </strong>Campo abierto para ingresar las
                        observaciones.
                        </p>
                        <p class="text-left">
                        <strong>Botón Regresar: </strong>Botón de acción para regresar a la pestaña
                        datos del establecimiento.
                        </p>
                        <p class="text-left">
                        <strong>Botón Salir: </strong>Botón de acción para cancelar el registro del
                        certificado de flora.
                        </p>
                        <p class="text-left">
                        <strong>Botón Guardar: </strong>Botón de acción para guardar el certificado
                        de flora.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Eliminar:</strong> Botón que permite eliminar el registro del
                            certificado de flora registrado.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_22f14236241406ad.png"  class="vertical-align-bottom" width="217" height="147" border="0" />

                        </p>
                        <p class="text-left">
                            <strong>Botón registrar certificado: </strong>Botón de acción para ingresar
                            al formulario para registrar el certificado de flora.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_f137d712fc490cb6.png"  class="vertical-align-bottom" width="605" height="173" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo tipo de documento:</strong> lista desplegable con los tipos de
                            documento establecidos.
                        </p>
                        <p class="text-left">
                            <strong>Campo Número de documento:</strong> campo abierto para ingresar el
                            nuero de documento del  establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Botón buscar:</strong> Botón de acción para ingresar al formulario
                            de certificado de flora emitido para el establecimiento validado.
                        </p>

                        <p class="text-left">
                            Al realizar una búsqueda del establecimiento y dar clic en buscar,
                            pueden presentarse dos situaciones:
                        </p>

                        <p class="text-left">
                            El establecimiento no está registrado en el sistema: al ingresar al
                            sistema e ingresar algunos de los tres campos incorrectamente el
                            sistema despliega el siguiente mensaje, impidiendo el paso a la
                            siguiente pantalla.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_6d247fe42022847b.png"  class="vertical-align-bottom" width="243" height="167" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Botón Aceptar:</strong> regresa a la pantalla de validación de flora.
                        </p>
                        <p class="text-left">
                            El establecimiento si está registrado en el sistema: al ingresar al
                            sistema e ingresar los tres campos correctamente el sistema
                            despliega el siguiente mensaje.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_feaf66f87bb9ea34.png"  class="vertical-align-bottom" width="243" height="163" border="0" />

                        </p>
                        <p class="text-left">
                            <strong>Botón Aceptar:</strong> direcciona a la siguiente pantalla de
                            registrar certificado de flora.
                        </p>
                        <p class="text-left">
                            <strong>Pestañan datos del establecimiento</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_9e3b3e5e11d12a8f.png"  class="vertical-align-bottom" width="605" height="289" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo nit: </strong>campo precargado del sistema en el cual se
                            visualiza el nit asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo entidad: </strong>campo precargado del sistema en el cual se
                            visualiza el tipo de establecimiento asociado al establecimiento
                            validado antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo nombre:</strong> campo precargado del sistema en el cual se
                            visualiza el nombre asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo país:</strong> campo precargado del sistema en el cual se
                            visualiza el país asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo departamento:</strong> campo precargado del sistema en el cual se
                            visualiza el departamento asociado al establecimiento validado antes
                            de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo ciudad/municipio:</strong> campo precargado del sistema en el
                            cual se visualiza el cuidad/municipio asociado al establecimiento
                            validado antes de ingresar a la funcionalidad.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo dirección:</strong> campo precargado del sistema en el cual se
                            visualiza la dirección asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo teléfono:</strong> campo precargado del sistema en el cual se
                            visualiza el teléfono  asociado al establecimiento validado antes de
                            ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Campo correo:</strong> campo precargado del sistema en el cual se
                            visualiza el correo electrónico asociado al establecimiento validado
                            antes de ingresar a la funcionalidad.
                        </p>
                        <p class="text-left">
                            <strong>Botón Siguiente:</strong> Botón que permite continuar a la pestaña
                            Resolución.
                        </p>
                        <p class="text-left">
                            <strong>Pestaña certificado</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - FLORA_html_82d006e08a997b85.png"  class="vertical-align-bottom" width="500" height="356" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo Autoridad ambiental que emite certificado: </strong>Lista
                        desplegable con las opciones que entrego MADS.
                        </p>
                        <p class="text-left">
                        <strong>Campo Número de certificación: </strong>Campo abierto para ingresar
                        el número de certificación.
                        </p>
                        <p class="text-left">
                        <strong>Campo Fecha de certificación: </strong>Campo abierto tipo fecha para
                        ingresar la fecha de emisión del certificado.
                        </p>
                        <p class="text-left">
                        <strong>Campo Vigencia de certificación: </strong>Campo abierto tipo fecha
                        para ingresar la fecha de vigencia del certificado
                        </p>
                        <p class="text-left">
                        <strong>Campo Tipo de permiso:</strong> Lista desplegable, con una o más
                        opción de selección con las opciones de Importación y Exportación
                        para el certificado.
                        </p>
                        <p class="text-left">
                        <strong>Campo Tipo de especímenes o productos a importar o exportar:
                        </strong>Lista desplegable, con una o más opción de selección con las
                        opciones:
                        </p>
                        <p class="text-left">
                        <strong>productos forestales segundo grado de transformación o
                        terminados</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>flora cortada</strong>
                        </p>
                        <p class="text-left">
                            <strong>follaje</strong>
                        </p>
                        <p class="text-left">
                            <strong>
                                demás productos de la flora silvestre no obtenida mediante
                                aprovechamiento directo de medio natural
                            </strong>
                        </p>
                        <p class="text-left">
                            <strong>Documento de Soporte: </strong>Campo para cargar uno o más documentos.
                        </p>
                        <p class="text-left">
                            <strong>Campo Observaciones: </strong>Campo abierto para ingresar las
                            observaciones.
                        </p>
                        <p class="text-left">
                            <strong>Botón Regresar: </strong>Botón de acción para regresar a la pestaña
                            datos del establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Botón Salir: </strong>Botón de acción para cancelar el registro del
                            certificado de flora.
                        </p>
                        <p class="text-left">
                            <strong>Botón Guardar: </strong>Botón de acción para guardar el certificado
                            de flora.
                        </p>
                    </td>
                    <td class="col-6">
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="NonTimberFloraCertificate" asp-action="NonTimberFloraCertificate" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>