<style>
    .text-left {
        text-align: left;
    }
</style>
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Gestión de Solicitudes de Asignación de Rol</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se realizan las configuraciones requeridas para la gestión de solicitudes de asignación de rol.
                            Aquí se visualizan los correos, nombres, números de identificación y roles solicitados por los usuarios que ingresan a 
                            través de la integración con el sistema VITAL. De aquí se definen y gestionan los permisos de roles solicitados y 
                            el estado de estas solicitudes.
                        </p>
                        <p class="text-left">
                            La opción de Gestión de solicitudes de asignación de rol se despliega en la siguiente pantalla que como se mencionó,
                            ubica las diferentes solicitudes de rol realizadas por los usuarios al ingresar por el sistema VITAL.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_bandeja.png" name="Imagen 62385" align="bottom" width="558" height="248" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla CUPOS, PRECINTOS Y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Digite el nombre de usuario: <img alt="" title="Filtro digite nombre de usuario" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Nombre, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede consultar los registros de usuarios, de acuerdo con los filtros utilizados.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Correo Electrónico: </b>
                            Columna en la que se despliega el correo electrónico asociado con cada registro de solicitud de asignación de rol del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Nombre: </b>
                            Columna en la que se despliega el nombre de usuario asociado con cada registro de solicitud de asignación de rol del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna N° de Identificación: </b>
                            Columna en la que se despliega el número de identificación asociado con cada registro de asignación de solicitud de rol del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Rol Solicitado: </b>
                            Columna en la que se despliega el rol solicitado por el usuario al ingresar por el sistema VITAL, para tener acceso a la ventanilla electrónica.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Permisos: </b>
                            Columna en la que se establecen los botones de acción que permiten acceder al submódulo de Administrar Funcionalidades de Rol, para definir los permisos que se asocian al rol solicitado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Solicitud: </b>
                            Columna en la que se muestra el estado de cada registro de solicitud de asignación de rol del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acciones: </b>
                            Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Asignar: <img alt="" title="Botón Asignar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_botonAsignar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario administrador puede cambiar temporalmente la contraseña de un usuario seleccionado.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Editar: <img alt="" title="Botón Editar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_botonEditar.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede acceder a la ventana de edición de solicitudes de asignación de rol.
                        </p>
                    </td>
                    <td class="col-6">
                        
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">
                    
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Gestión solicitudes de rol" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_bandejafiltrada.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de Digitar el nombre de usuario, y seleccionar el botón Consultar,
                            se pueden realizar búsquedas específicas de usuarios. Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Gestión solicitudes de rol" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_edicion.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Editar”, se visualizará la información de edición del registro de solicitud de asignaciones 
                            de rol en que fue seleccionada la opción.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Asignar: <img alt="" title="Botón Editar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_botonAsignar.png" border="0" /></b>
                            Campo para cambiar el primer nombre del usuario, por uno digitado por el usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Lista Solicitud: <img alt="" title="Botón Editar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_listado.png" border="0" /></b>
                            Lista de estados de solicitud para el registro de solicitud de asignación de rol en el sistema.
                        </p>
                        <p class="text-left">
                            <b>- Pendiente: </b> Solicitud que realizada por el usuario que no ha sido gestionada.<br />
                            <b>- Aprobado: </b> Solicitud aprobada que permite el acceso del usuario al sistema. <br />
                            <b>- Rechazado: </b> Solicitud rechazada que impide el acceso del usuario al sistema. <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: <img alt="" title="Botón Descargar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_BotonGuardar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la información de la solicitud, lo que representa su edición en la base del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CERRAR: <img alt="" title="Botón Guardar" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_BotonCerrar.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede seleccionar la cantidad de registros que desea visualizar por página en la bandeja de resultados.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <img alt="" title="Gestión solicitudes de rol" src="~/images/MANUAL DE USUARIO - ADMINISTRACION Gestion De Asignacion de rol_bandejaFuncionalidades.png" border="0" />
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Asignar”, se visualiza el submódulo de Administrar Funcionalidades de rol, con información del rol seleccionado.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAsignacionRol btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAsignacionRol").click(function() {
    document.location.href = "/GestionAsignacionDeRoles/Index";
})
</script>