<!-- modal pregunta confirmación guardar numero radicado -->
<div class="modal fade" id="confirmacionNumeroRadicado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>¿Está seguro de que desea guardar la información?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary" id="confirmarGuardarNumeroRadicado">SI</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito de numero radicado -->
<div class="modal fade" id="creacionNumeroRadicado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>Su información ha sido guardada con éxito</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary" type="button" href="/GestionPrencintosNacionales">ACEPTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito generar códigos precintos -->
<div class="modal fade" id="generarCodigosPrecintos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La generación de los códigos
                            de los precintos se ha
                            realizado con éxito
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary col-12" data-bs-dismiss="modal">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito aprobación guardada -->
<div class="modal fade" id="aprobacionGuardada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La aprobación ha sido
                            guarda con éxito
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary col-12" data-bs-dismiss="modal">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal pregunta devolver solicitud a usuario -->
<div class="modal fade" id="devolverSolicitud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>¿Esta seguro de devolver la solicitud al usuario?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary" id="confirmarDevolverSolicitud">SI</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito devolución exitosa -->
<div class="modal fade" id="devolucionExitosa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La solicitud a sido devuelta
                            al usuario
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary col-12" id="aceptarDevolucion">ACEPTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal pregunta confirmación desistimiento de solicitud -->
<div class="modal fade" id="confirmacionDesistimiento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>¿Esta seguro que desea anular la solicitud?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary" id="confirmarDesistimientoSolicitud">SI</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito desistimiento de solicitud -->
<div class="modal fade" id="desistimientoExitoso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>La solicitud fue anulada con éxito</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary" type="button" href="/GestionPrencintosNacionales">ACEPTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal pregunta confirmación enviar solicitud -->
<div class="modal fade" id="confirmacionEnviarSolicitud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>¿Esta seguro de enviar la solicitud?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary" id="confirmarGuardarNumeroRadicado">SI</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito de enviar solicitud -->
<div class="modal fade" id="enviarSolicitudExito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>La solicitud fue enviada con éxito</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary col-12" data-bs-dismiss="modal">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal de datos obligatorios -->
<div class="modal fade" id="datos-obligatorios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fas fa-exclamation-circle i-modal-alerta"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal-alerta">
                        <p>Alerta</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>Los siguientes campos son obligatorios</p>
                        <ul id="ulCamposOblgatorios" class="list-group">
                            <li class="list-group-item mensaje-datos-obligatorio"></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary boton-confirmar-mensajes-obligatorio col-12" data-bs-dismiss="modal">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito guardar carta solicitud -->
<div class="modal fade" id="guardarCartaExitosa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La información ha sido
                            guardad con éxito
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary boton-confirmar-mensajes-obligatorio col-12" data-bs-dismiss="modal">ACEPTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito enviar carta solicitud -->
<div class="modal fade" id="enviarCartaExitosa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La solicitud se ha enviado con
                            éxito al usuario: Coordinador
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary col-12" id="aceptarEnviarCarta">ACEPTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal pregunta guardar solicitud a usuario -->
<div class="modal fade" id="guardarSolicitud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>¿Esta seguro de guardar la solicitud?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary" id="confirmarGuardarSolicitud">SI</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal éxito guardar exitosa -->
<div class="modal fade" id="guardadoExitosa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-question i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>
                            La solicitud se ha guardado
                            con éxito
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-primary col-12" data-bs-dismiss="modal" id="aceptarGuardado">ACEPTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>