<div class="container">
    <div class="mt-3">
        <div class="mt-2 mb-2">
            <table id="" class="table w-100">
                <caption class="d-none">Table Description</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Tipo de solicitud</th>
                        <th>Numero de radicado</th>
                        <th>Tramites</th>
                        <th>Nombre de la agencia</th>
                        <th>Exportador</th>
                        <th>Fecha de solicitud</th>
                        <th>Fecha de radicacion</th>
                        <th>Para firmar</th>
                        <th>Fecha de asignacion</th>
                        <th>Fecha de respuesta</th>
                        <th>Estado</th>
                        <th class="mediumText">Observaciones</th>
                        <th class="mediumText">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="Scripts\IndexScripts" />