

<div class="container">
    <div>
        <a asp-controller="Home" asp-action="Index">Modulo de Cupos </a>  >  <strong>Registrar visita de Cortes</strong>
    </div>
    <partial name="Partials/_SeccionBotonAyuda"></partial>

    <partial name="Partials/_CreateTipoActa"></partial>
</div>


