<div class="receptor-buttons-ayuda-inicio text-end mb-5">
    <a class="btn btn-secondary" target="_blank" asp-controller="CoordinadorGestionPrecintosNacionales" asp-action="Ayuda" title="Ayuda">AYUDA</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" title="Compartir">INICIO</a>
</div>