<style>
    .text-left {
        text-align: left;
    }

  .vertical-align-bottom {
    vertical-align: bottom;
    }
</style>

<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Solicitud de precintos y
                marquillas
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Asignar
                            solicitud enviada por el usuario externo – Coordinador
                        </p>
                        <p class="text-left">
                            En este módulo se realiza la
                            gestión de las solicitudes de precintos y marquillas registradas en
                            el sistema de acuerdo con su perfil de coordinador.
                        </p>
                        <p class="text-left">
                            Para obtener un usuario y
                            contraseña para el rol de coordinador, el usuario debe solicitar al
                            administrador del sistema la creacion del usuario, mediante un correo
                            electronico en el cual debe sumistrar todos los datos
                            correspondientes.
                        </p>
                        <p class="text-left">
                            Paralo cual el administrador
                            recive el correo y gestiona la creacion del usuario con rol
                            coordinador desde el modulo de adinistracion, funcion gestionar
                            usuarios.
                        </p>
                        <p class="text-left">
                            Al crear el usuaro el sistema
                            envia un correo electronico al usuario que solico la creacion del
                            usuario en el cual se adjunta usuario, contraseña temparol y el
                            enlace a la pantalla de inicio de sesion del sistema cupos precintos
                            y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="Creacion Cuenta de Usuario" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_e4d0c723c24d2c94.png"  class="vertical-align-bottom" width="558" height="248" border="0" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d3dd81efffd9198c.gif"  alt="Shape1" class="text-left"  style="margin: 1px 1px;"  width="58" height="23" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Para iniciar, se debe dirigir
                            a la dirección de la página enviada para el aplicativo
                            para cupos precintos y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_ce8901dc08a9b656.png"  class="vertical-align-bottom" width="275" height="314" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>
                                CAPTCHA- Casilla de
                                verificación No soy un robot
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d884c4fbaa41fcf7.gif"  alt="Shape2" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción
                            para ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                        <p class="text-left">
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d2d7f82e43470423.png"  class="vertical-align-bottom" width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda
                            con opciones de apoyo para navegación del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CONTRASTE </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_783b10d543e76db6.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite cambiar el contraste del brillo de la ventanilla
                            electrónica, y visualizarlo en un modo oscuro.
                        </p>
                        <p class="text-left">
                            <strong>Botón REDUCIR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_701c9169fba01f8e.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite reducir el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_36a0d623038cb28c.png"  class="vertical-align-bottom" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite aumentar el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CENTRO DE RELEVO </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_bd53499beabc0bfe.png"  class="vertical-align-bottom" width="21" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Ingresa con las credenciales ,
                            haciendo referencia a nombre de usuario y contraseña temporal
                            asociada a este. Selecciona la casilla de verificación de No soy un
                            robot (opción de seguridad), y posterior a su aprobación selecciona
                            el botón de Ingresar.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b473277b96222635.png"  class="vertical-align-bottom" width="605" height="266" border="0" />
                        </p>
                        <p class="text-left">
                            Al ingresar se encontrará con
                            la pantalla creación de usuario, al ingresar por primeras vez se
                            debe realizar el cambio de la contraseña temporal.
                        </p>
                        <p class="text-left">
                            <strong>Campo Nueva contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_cca38a6849d9155d.png"  class="vertical-align-bottom" width="126" height="23" border="0" />
                            :
                            Campo para ingresar la contraseña que se desea asociar al nombre de
                            usuario ingresado.
                        </p>
                        <p class="text-left">
                            <strong>
                                Campo Confirmar
                                contraseña
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_bddfebc61f2f79b1.png"  class="vertical-align-bottom" width="123" height="22" border="0" />
                            :
                            Campo para confirmar la contraseña ingresada, y que se desea asociar
                            al nombre de usuario ingresado.
                        </p>
                        <p class="text-left">
                            <strong>
                                Casilla acepta política de
                                tratamiento de datos personales
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_962c6fb5a49117fd.png"  class="vertical-align-bottom" width="81" height="27" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con la política de tratamiento de datos.
                        </p>
                        <p class="text-left">
                            <strong>
                                Casilla acepta términos y
                                condiciones
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_142f14d43a755fd8.png"  class="vertical-align-bottom" width="75" height="18" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con los términos y condiciones de uso del sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón guardar</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_4889aabf4fd589be.png"  class="vertical-align-bottom" width="65" height="24" border="0" />
                            :
                            Botón de acción para
                            guardar la nueva contraseña.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_be734d45fd0b2dc4.png"  class="vertical-align-bottom" width="605" height="167" border="0" />

                        </p>
                        <p class="text-left">
                            Al ingresar, confirmar la
                            nueva contraseña, aceptar las políticas de seguridad y dar clic en
                            el botón guardar, el sistema lo redirecciona a la pantalla de inicio
                            de sesión de cupos, precintos y marquillas.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_ce8901dc08a9b656.png"  class="vertical-align-bottom" width="275" height="314" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el listado de
                            usuarios registrados en el sistema.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la nueva contraseña asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>
                                CAPTCHA- Casilla de
                                verificación No soy un robot
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d884c4fbaa41fcf7.gif"  alt="Shape3" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción
                            para ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                        <p class="text-left">
                            Al ingresar se encontrará con
                            las siguientes opciones habilitadas para el coordinador.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_9e5f4f5c75b3336.png"  class="vertical-align-bottom" width="605" height="303" border="0" />

                        </p>
                        <p class="text-left">
                            <strong>Usuario: </strong>visualiza
                            el nombre de usuario de quien inicia sesión.
                        </p>
                        <p class="text-left">
                            <strong>
                                Botón serrar sesión:
                            </strong>botón de acción<strong>
                            </strong>para serrar sesión.
                        </p>
                        <p class="text-left">
                            <strong>Menú horizontal:</strong>
                            Barra de menú en la que se establecen los menús principales y los
                            módulos pertenecientes a cada uno, como alternativa de navegación
                            entre módulos.
                        </p>
                        <p class="text-left">
                            <strong>Botón Inicio:</strong>
                            Botón que permite regresar a la ventana inicial de cupos, precintos
                            y marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Submenú Flujo de negocio:</strong>
                            Submenú de la barra horizontal en el que se listan los diferentes
                            módulos de Flujo de negocio, para el rol coordinador se activaron
                            las funcionalidades:

                        </p>
                        <p class="text-left">
                            Gestionar precintos y
                            marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Tarjeta Flujo de negocio:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Flujo de Negocio, donde se listan todos los módulos de
                            esta opción.
                        </p>
                        <p class="text-left">
                            Al seleccionar el Submenú
                            flujo de negocio se despliega la siguiente función:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_25115c052b3f8d1c.png"  class="vertical-align-bottom" width="605" height="313" border="0"/>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_1d13a99ed4ebd239.png"  class="vertical-align-bottom" width="605" height="67" border="0"/>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            *
                            Pestaña Asignar Analista
                        </p>
                        <p class="text-left">
                            Después de realizar una
                            solicitud de precintos o marquillas desde un usuario externo, todas
                            esas solicitudes llegan a la bandeja Asignar analista del
                            coordinador, este se encarga de asignar un analista para que realice
                            la posterior evaluación de los datos y adjuntos ingresados en la
                            solicitud, como de generar los códigos y la carta.
                        </p>
                        <p class="text-left">
                            Para asignar analista se debe
                            realizar lo siguiente:
                        </p>
                        <p class="text-left">
                            En la siguiente bandeja
                            asignar analista.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_5d19aa0c52ad8487.png"  class="vertical-align-bottom" width="605" height="365" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                       <p class="text-left">
                        <strong>Número de radicado:
                        </strong>Registra el número
                        de radicado de entrada de la solicitud, esta acción de radicado la
                        realiza el analista. Hasta que el analista radique no se visualizara
                        esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Tipo de solicitud:</strong>
                        Registra el tipo de solicitud, puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                        <strong>Nombre entidad solicitante:</strong>
                        Registra el nombre de la persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de solicitud:</strong>
                        Registra la fecha que se realizó la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de radicación:</strong>
                        Registra la fecha de radicado de entrada de la solicitud, esta acción
                        de radicado la realiza el analista. Hasta que el analista radique no
                        se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Número de radicado de
                        salida:</strong> Registra la
                        fecha de radicado de salida de la solicitud, esta acción de radicado
                        la realiza el analista cuando genera la carta. Hasta que el analista
                        radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de radicación de
                        salida:</strong> Registra la
                        fecha de radicado de entrada de la solicitud, esta acción de
                        radicado la realiza el analista cuando genera la carta. Hasta que el
                        analista radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Estado:</strong>
                        Registra el estado de la solicitud: puede ser Enviada, radicada, pre
                        aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                        <strong>Acciones:</strong>
                        visualiza la siguiente opción para realizar sobre una solicitud:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_4dc18adb57034154.png"  class="vertical-align-bottom" width="84" height="79" border="0"/>
                        </p>
                        <p class="text-left">
                            * Selecciona el botón VER de
                            la columna acciones, visualiza el siguiente formulario, con la
                            solicitud que realizo un usuario externo:
                        </p>
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_2806bcd2fc82c22a.png"  class="vertical-align-bottom" width="605" height="299" border="0"/>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_7610eebf81e821f8.png"  class="vertical-align-bottom" width="605" height="386" border="0"/>
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_c18734b5f6066215.png"  class="vertical-align-bottom" width="605" height="39" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Ciudad: </strong>Campo
                        precargado<strong> </strong>del
                        sistema con la cuidad de origen del establecimiento. 
                        </p>
                        <p class="text-left">
                        <strong>Fecha:</strong>
                        Campo precargado<strong> </strong>del
                        sistema con la fecha en que se está realizando la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Establecimiento: </strong>Campo
                        precargado<strong> </strong>del
                        sistema con el nombre del establecimiento con el cual se va realizar
                        la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Sección Representante
                        legal: </strong>esta sección
                        presenta los datos de quien está iniciando sesión y por ende quien
                        está realizando la solicitud. 
                        </p>
                        <p class="text-left">
                        <strong>Primer nombre: </strong>Campo
                        precargado con el primer nombre de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Segundo nombre:</strong>
                        Campo precargado con el segundo nombre de la persona que inicio
                        sesión.
                        </p>
                        <p class="text-left">
                        <strong>Primer apellido:</strong>
                        Campo precargado con el primer apellido de la persona que inicio
                        sesión.
                        </p>
                        <p class="text-left">
                        <strong>Segundo apellido: </strong>Campo
                        precargado con el segundo apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Tipo de identificación:
                        </strong>Campo precargado
                        con el tipo de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Número de identificación:
                        </strong>Campo precargado
                        con el número de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Teléfono:</strong>
                        Campo precargado con el teléfono de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Correo electrónico: </strong>Campo
                        precargado con el correo de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                        <strong>Sección Solicitud</strong>
                        </p>
                        <p class="text-left">
                        <strong>Especies o subespecies:
                        </strong>Campo precargado
                        con la nombre de la especie a la cual se le realizo la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Grilla con las columnas: </strong>
                        </p>
                        <p class="text-left">
                        <strong>Especie: </strong>Registra
                        el nombre de la especie.
                        </p>
                        <p class="text-left">
                        <strong>Número inicial: </strong>Registra
                        el número inicial del rango seleccionado.
                        </p>
                        <p class="text-left">
                        <strong>Número final: </strong>Registra
                        el número final del rango seleccionado.
                        </p>
                        <p class="text-left">
                        <strong>Dirección de entrega:
                        </strong>Campo precargado
                        con la dirección de entrega.
                        </p>
                        <p class="text-left">
                        <strong>Departamento:</strong>
                        Campo precargado con el departamentos de entrega. 
                        </p>
                        <p class="text-left">
                        <strong>Ciudad:</strong>
                        Campo precargado con la ciudad de entrega.
                        </p>
                        <p class="text-left">
                        <strong>Cantidad:</strong>
                        campo precargado del sistema el cual suma los cupos seleccionados.
                        </p>
                        <p class="text-left">
                        <strong>Longitud menor (cm):</strong>
                        Campo precargado con la
                        Longitud menor.
                        </p>
                        <p class="text-left">
                        <strong>Longitud mayor (cm):</strong>
                        Campo precargado con la
                        Longitud mayor.
                        </p>
                        <p class="text-left">
                        <strong>Fecha consignación
                        precintos – marquillas:</strong>
                        Campo precargado con la
                        Fecha consignación.
                        </p>
                        <p class="text-left">
                        <strong>Tipo de solicitud:</strong>
                        Campo precargado con el tipo de solicitud: precintos o marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                       <p class="text-left">
                        <strong>Soporte consignación
                        precintos – marquillas: </strong>Campo
                        precargado con el soporte de consignación.
                        </p>
                        <p class="text-left">
                        <strong>Anexos:</strong>
                        Campo precargado con los anexos de la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Botón Asignar: </strong>Botón
                        de acción que permite visualizar la lista de analistas a los cuales
                        se les puede asignar la solicitud.
                        </p>
                        <p class="text-left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d5a724a69215efe6.png"  class="vertical-align-bottom" width="605" height="312" border="0"/>
                        </p>
                        <p class="text-left">
                        <strong>Columna Usuario: </strong>Lista
                        el nombre de los analistas para gestionar las solicitudes de
                        precintos y marquillas.
                        </p>
                        <p class="text-left">
                        <strong>Columna Rol: </strong>Visualiza
                        el rol o si tiene más roles asociados al nombre del analista.
                        </p>
                        <p class="text-left">
                        <strong>Columna Asignación:
                        </strong>Visualiza la
                        cantidad de solicitudes que tiene asignadas él analista.
                        </p>
                        <p class="text-left">
                        <strong>Botón Aceptar: </strong>Al
                        seleccionar un analista y dar clic en el botón aceptar, se asigna la
                        solicitud al analista y la solicitud pasa a la bandeja pendientes del
                        analista signado.
                        </p>
                        <p class="text-left">
                        <strong>Botón cancelar: </strong>Botón
                        de acción que cancela la asignación del analista para la solicitud
                        y regresa a la visualización del formulario. 
                        </p>
                        <p class="text-left">
                        <strong>Botón Regresar:</strong>
                        Botón de acción que permite regresar a la bandeja asignar analista.
                        </p>
                        <p class="text-left">*
                        Pestaña Pendientes 
                        </p>
                        <p class="text-left">
                        Después de realizar una
                        solicitud de precintos o marquillas desde un usuario externo,
                        realizar la asignación a un analista desde el coordinador,
                        realizarla evaluación, generar precintos o marquillas y generar la
                        carta por parte del analista, la carta llega para aproar o rechazar
                        al coordinador, este se encarga de dar respuesta a la carta generada
                        por el analista.
                        </p>
                        <p class="text-left">
                        Para realizar la respuesta se
                        debe realizar lo siguiente:
                        </p>
                        <p class="text-left">
                        En la siguiente bandeja
                        pendientes.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_d130ac0fe19d263e.png"  class="vertical-align-bottom" width="605" height="274" border="0"/>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                Número de radicado:
                            </strong>Registra el número
                            de radicado de entrada de la solicitud, esta acción de radicado la
                            realiza el analista. Hasta que el analista radique no se visualizara
                            esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>Tipo de solicitud:</strong>
                            Registra el tipo de solicitud, puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Nombre entidad solicitante:</strong>
                            Registra el nombre de la persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Fecha de solicitud:</strong>
                            Registra la fecha que se realizó la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Fecha de radicación:</strong>
                            Registra la fecha de radicado de entrada de la solicitud, esta acción
                            de radicado la realiza el analista. Hasta que el analista radique no
                            se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número de radicado de
                                salida:
                            </strong> Registra la
                            fecha de radicado de salida de la solicitud, esta acción de radicado
                            la realiza el analista cuando genera la carta. Hasta que el analista
                            radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>
                                Fecha de radicación de
                                salida:
                            </strong> Registra la
                            fecha de radicado de entrada de la solicitud, esta acción de
                            radicado la realiza el analista cuando genera la carta. Hasta que el
                            analista radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>Estado:</strong>
                            Registra el estado de la solicitud: puede ser Enviada, radicada, pre
                            aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <strong>Acciones:</strong>
                            visualiza la siguiente opción para realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_73aba4438cb69ac1.png"  class="vertical-align-bottom" width="97" height="96" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            * Selecciona el botón VER de
                            la columna acciones, visualiza el siguiente PDF, con la carta que
                            realizo el analista donde se otorga las numeraciones de precintos o
                            marquillas:
                        </p>
                        <p class="text-left">
                            <strong>
                                - Para las solicitudes de
                                precintos visualiza la siguiente carta:
                            </strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_fa8771817ebbee23.png"  class="vertical-align-bottom" width="567" height="443" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                       <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_9235c72a98217f05.png"  class="vertical-align-bottom" width="567" height="349" border="0"/>
                       </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                - Para las solicitudes de
                                marquillas visualiza la siguiente carta:
                            </strong>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b48705cedc6e2d30.png"  class="vertical-align-bottom" width="567" height="364" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b335baec121e017d.png" class="text-left" style="margin: 0 6px;" width="567" height="439" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Botón Aprobar: </strong>Botón
                            de acción que permite aprobar o no aprobar la carta generada desde
                            el analista de precintos y marquillas, en la siguiente pantalla:
                        </p>
                        <p class="text-left">
                            <img alt="imagen" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_58d8d09c368156be.png"  class="vertical-align-bottom" width="265" height="237" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Campo estado: </strong>campo
                        tipo lista con la opción aprobada y no aprobada.
                        </p>
                        <p class="text-left">
                        <strong>Campo asignado a: </strong>campo
                        precargado del sistema con el nombre del analista quien tiene la
                        solicitud y quien genero la carta.
                        </p>
                        <p class="text-left">
                        <strong>Campo fecha:</strong>
                        campo precargado del sistema con la fecha de asignación de la
                        solicitud al analista.
                        </p>
                        <p class="text-left">
                        <strong>Botón guardar: </strong>botón
                        de acción que permite<strong>
                        </strong>guardar la acción
                        de aprobación o no de la carta.
                        </p>
                        <p class="text-left">
                        <strong>- Opción aprobado:</strong>
                        Si se selecciona la opción aprobado y da clic en enviar, la carta
                        aprobada por el coordinador pasa a la bandeja del director.
                        </p>
                        <p class="text-left">
                        <strong>- Opción no aprobado:</strong>
                        Si se selecciona la opción no aprobado y da clic en enviar, la carta
                        es rechazada y la solicitud  regresa al analista en la bandeja
                        pendientes.
                        </p>
                        <p class="text-left">
                        <strong>Boto volver: </strong>botón
                        de acción para cancelar la evaluación de la carta y regresar a la
                        visualización dela carta pdf.
                        </p>
                        <p class="text-left">
                        <strong>Botón Regresar: </strong>botón
                        de acción que regresa a la bandeja pendientes del coordinador.
                        </p>
                        <p class="text-left">*
                        Pestaña Solicitudes Aprobadas
                        </p>
                        <p class="text-left">
                        Después de realizar una
                        solicitud de precintos o marquillas desde un usuario externo,
                        realizar la asignación a un analista desde el coordinador,
                        realizarla evaluación, generar precintos o marquillas y generar la
                        carta por parte del analista, el coordinador apruebe la carta y el
                        director firmar y enviar el correo para generar los precintos o
                        marquillas, la solicitud es aprobada, con los precintos generados
                        para los cupos solicitados. 
                        </p>
                        <p class="text-left">
                        Para realizar la visualización
                        de la solicitud aprobada se debe realizar lo siguiente:
                        </p>
                        <p class="text-left">
                        En la siguiente bandeja
                        solicitudes aprobadas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_56547d037e1c223c.png"  class="vertical-align-bottom" width="605" height="247" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                        <strong>Número de radicado:
                        </strong>Registra el número
                        de radicado de entrada de la solicitud, esta acción de radicado la
                        realiza el analista. Hasta que el analista radique no se visualizara
                        esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Tipo de solicitud:</strong>
                        Registra el tipo de solicitud, puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                        <strong>Nombre entidad solicitante:</strong>
                        Registra el nombre de la persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de solicitud:</strong>
                        Registra la fecha que se realizó la solicitud.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de radicación:</strong>
                        Registra la fecha de radicado de entrada de la solicitud, esta acción
                        de radicado la realiza el analista. Hasta que el analista radique no
                        se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Número de radicado de
                        salida:</strong> Registra la
                        fecha de radicado de salida de la solicitud, esta acción de radicado
                        la realiza el analista cuando genera la carta. Hasta que el analista
                        radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Fecha de radicación de
                        salida:</strong> Registra la
                        fecha de radicado de entrada de la solicitud, esta acción de
                        radicado la realiza el analista cuando genera la carta. Hasta que el
                        analista radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                        <strong>Estado:</strong>
                        Registra el estado de la solicitud: puede ser Enviada, radicada, pre
                        aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                        <strong>Acciones:</strong>
                        visualiza la siguiente opción para realizar sobre una solicitud:
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_73aba4438cb69ac1.png"  class="vertical-align-bottom" width="97" height="96" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            * Selecciona el botón VER de
                            la columna acciones, visualiza las siguientes pestañas, con la
                            información del formulario de la solicitud y la carta que realizo el
                            analista donde se otorga las numeraciones de precintos o marquillas:
                        </p>
                        <p class="text-left">
                            <strong>Pestaña solicitud:</strong>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_7e7b963cbcf0d91a.png"  class="vertical-align-bottom" width="605" height="330" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_8e135bc3f5973bd5.png"  class="vertical-align-bottom" width="605" height="377" border="0"/>
                        </p>
                    </td>
                    <td class="col-6">
                    <p class="text-left">
                    <strong>Ciudad: </strong>Campo
                    precargado<strong> </strong>del
                    sistema con la cuidad de origen del establecimiento. 
                    </p>
                    <p class="text-left">
                    <strong>Fecha:</strong>
                    Campo precargado<strong> </strong>del
                    sistema con la fecha en que se está realizando la solicitud.
                    </p>
                    <p class="text-left">
                    <strong>Establecimiento: </strong>Campo
                    precargado<strong> </strong>del
                    sistema con el nombre del establecimiento con el cual se va realizar
                    la solicitud.
                    </p>
                    <p class="text-left">
                    <strong>Sección Representante
                    legal: </strong>esta sección
                    presenta los datos de quien está iniciando sesión y por ende quien
                    está realizando la solicitud. 
                    </p>
                    <p class="text-left">
                    <strong>Primer nombre: </strong>Campo
                    precargado con el primer nombre de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Segundo nombre:</strong>
                    Campo precargado con el segundo nombre de la persona que inicio
                    sesión.
                    </p>
                    <p class="text-left">
                    <strong>Primer apellido:</strong>
                    Campo precargado con el primer apellido de la persona que inicio
                    sesión.
                    </p>
                    <p class="text-left">
                    <strong>Segundo apellido: </strong>Campo
                    precargado con el segundo apellido de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Tipo de identificación:
                    </strong>Campo precargado
                    con el tipo de identificación de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Número de identificación:
                    </strong>Campo precargado
                    con el número de identificación de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Teléfono:</strong>
                    Campo precargado con el teléfono de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Correo electrónico: </strong>Campo
                    precargado con el correo de la persona que inicio sesión.
                    </p>
                    <p class="text-left">
                    <strong>Sección Solicitud</strong>
                    </p>
                    <p class="text-left">
                    <strong>Especies o subespecies:
                    </strong>Campo precargado
                    con la nombre de la especie a la cual se le realizo la solicitud.
                    </p>
                    <p class="text-left">
                    <strong>Grilla con las columnas: </strong>
                    </p>
                    <p class="text-left">
                    <strong>Especie: </strong>Registra
                    el nombre de la especie.
                    </p>
                    <p class="text-left">
                    <strong>Número inicial: </strong>Registra
                    el número inicial del rango seleccionado.
                    </p>
                    <p class="text-left">
                    <strong>Número final: </strong>Registra
                    el número final del rango seleccionado.
                    </p>
                    <p class="text-left">
                    <strong>Dirección de entrega:
                    </strong>Campo precargado
                    con la dirección de entrega.
                    </p>
                    <p class="text-left">
                    <strong>Departamento:</strong>
                    Campo precargado con el departamentos de entrega. 

                    </p>
                    <p class="text-left">
                    <strong>Ciudad:</strong>
                    Campo precargado con la ciudad de entrega.
                    </p>
                    <p class="text-left">
                    <strong>Cantidad:</strong>
                    campo precargado del sistema el cual suma los cupos seleccionados.
                    </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Longitud menor (cm):</strong>
                            Campo precargado con la
                            Longitud menor.
                        </p>
                        <p class="text-left">
                            <strong>Longitud mayor (cm):</strong>
                            Campo precargado con la
                            Longitud mayor.
                        </p>
                        <p class="text-left">
                            <strong>
                                Fecha consignación
                                precintos – marquillas:
                            </strong>
                            Campo precargado con la
                            Fecha consignación.
                        </p>
                        <p class="text-left">
                            <strong>Tipo de solicitud:</strong>
                            Campo precargado con el tipo de solicitud: precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>
                                Soporte consignación
                                precintos – marquillas:
                            </strong>Campo
                            precargado con el soporte de consignación.
                        </p>
                        <p class="text-left">
                            <strong>Anexos:</strong>
                            Campo precargado con los anexos de la solicitud.
                        </p>
                        <p class="text-left">
                            Si se realizó un
                            requerimiento a esta solicitud se visualizan lis siguientes capos
                            adicionales:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b584317294529cf8.png"  class="vertical-align-bottom" width="605" height="203" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>Campo respuesta: </strong>campo
                            donde se ingresa<strong> </strong>la
                            respuesta dada al requerimiento.
                        </p>
                        <p class="text-left">
                            <strong>Documento soporte: </strong>campo
                            para adjuntar uno o más documentos soportes a<strong>
                            </strong>la respuesta dada
                            al requerimiento.
                        </p>
                        <p class="text-left">
                            <strong>
                                Botón --------------:
                            </strong>Botón de acción
                            que permite regresar a la bandeja solicitudes aprobadas y salir de la
                            visualización de la solicitud.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Pestaña carta:</strong>
                        </p>
                        <p class="text-left">
                            <strong>
                                - Para las solicitudes de
                                precintos visualiza la siguiente carta:
                            </strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_fa8771817ebbee23.png"  class="vertical-align-bottom" width="567" height="443" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_9235c72a98217f05.png"  class="vertical-align-bottom" width="567" height="349" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                       <p class="text-left">
                        <strong>- Para las solicitudes de
                        marquillas visualiza la siguiente carta:</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b48705cedc6e2d30.png"  class="vertical-align-bottom" width="567" height="364" border="0"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_b335baec121e017d.png" class="text-left" style="margin: 0 6px;" width="567" height="439" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            *
                            Pestaña Desistimiento
                        </p>
                        <p class="text-left">
                            Después de realizar una
                            solicitud de precintos o marquillas desde un usuario externo, se
                            puede realizar el desistimiento de la solicitud menos en estado
                            aprobado.
                        </p>
                        <p class="text-left">
                            Para realizar la visualización
                            de la solicitud desistida se debe realizar lo siguiente:
                        </p>
                        <p class="text-left">
                            En la siguiente bandeja
                            solicitudes desistidas.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_7dd691d5330a8652.png"  class="vertical-align-bottom" width="605" height="286" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                Número de radicado:
                            </strong>Registra el número
                            de radicado de entrada de la solicitud, esta acción de radicado la
                            realiza el analista. Hasta que el analista radique no se visualizara
                            esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>Tipo de solicitud:</strong>
                            Registra el tipo de solicitud, puede ser; precintos o marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Nombre entidad solicitante:</strong>
                            Registra el nombre de la persona que realiza la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Fecha de solicitud:</strong>
                            Registra la fecha que se realizó la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Fecha de radicación:</strong>
                            Registra la fecha de radicado de entrada de la solicitud, esta acción
                            de radicado la realiza el analista. Hasta que el analista radique no
                            se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número de radicado de
                                salida:
                            </strong> Registra la
                            fecha de radicado de salida de la solicitud, esta acción de radicado
                            la realiza el analista cuando genera la carta. Hasta que el analista
                            radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>
                                Fecha de radicación de
                                salida:
                            </strong> Registra la
                            fecha de radicado de entrada de la solicitud, esta acción de
                            radicado la realiza el analista cuando genera la carta. Hasta que el
                            analista radique no se visualizara esta columna con el dato.
                        </p>
                        <p class="text-left">
                            <strong>Estado:</strong>
                            Registra el estado de la solicitud: puede ser Enviada, radicada, pre
                            aprobada, aprobada, en requerimiento.
                        </p>
                        <p class="text-left">
                            <strong>Acciones:</strong>
                            visualiza la siguiente opción para realizar sobre una solicitud:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_4b3877540953f38b.png"  class="vertical-align-bottom" width="84" height="90" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            * Selecciona el botón VER de
                            la columna acciones, visualiza las siguientes pestañas, con la
                            información del formulario de la solicitud y la razón del
                            desistimiento que realizo el analista:
                        </p>
                        <p class="text-left">
                            <strong>- Pestaña solicitud</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_f9efe8a085857aeb.png"  class="vertical-align-bottom" width="605" height="350" border="0" />
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_a8afdaa9702e2615.png"  class="vertical-align-bottom" width="605" height="340" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Ciudad: </strong>Campo
                            precargado<strong> </strong>del
                            sistema con la cuidad de origen del establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Fecha:</strong>
                            Campo precargado<strong> </strong>del
                            sistema con la fecha en que se está realizando la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Establecimiento: </strong>Campo
                            precargado<strong> </strong>del
                            sistema con el nombre del establecimiento con el cual se va realizar
                            la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>
                                Sección Representante
                                legal:
                            </strong>esta sección
                            presenta los datos de quien está iniciando sesión y por ende quien
                            está realizando la solicitud.

                        </p>
                        <p class="text-left">
                            <strong>Primer nombre: </strong>Campo
                            precargado con el primer nombre de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <strong>Segundo nombre:</strong>
                            Campo precargado con el segundo nombre de la persona que inicio
                            sesión.
                        </p>
                        <p class="text-left">
                            <strong>Primer apellido:</strong>
                            Campo precargado con el primer apellido de la persona que inicio
                            sesión.
                        </p>
                        <p class="text-left">
                            <strong>Segundo apellido: </strong>Campo
                            precargado con el segundo apellido de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <strong>
                                Tipo de identificación:
                            </strong>Campo precargado
                            con el tipo de identificación de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <strong>
                                Número de identificación:
                            </strong>Campo precargado
                            con el número de identificación de la persona que inicio sesión.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Teléfono:</strong>
                            Campo precargado con el teléfono de la persona que inicio sesión.
                        </p>
                        <p class="text-left">
                            <strong>Correo electrónico: </strong>Campo
                            precargado con el correo de la persona que inicio sesión.
                        </p>

                        <p class="text-left">
                            <strong>Sección Solicitud</strong>
                        </p>
                        <p class="text-left">
                            <strong>
                                Especies o subespecies:
                            </strong>Campo precargado
                            con la nombre de la especie a la cual se le realizo la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Grilla con las columnas: </strong>

                        </p>
                        <p class="text-left">
                            <strong>Especie: </strong>Registra
                            el nombre de la especie.
                        </p>
                        <p class="text-left">
                            <strong>Número inicial: </strong>Registra
                            el número inicial del rango seleccionado.
                        </p>
                        <p class="text-left">
                            <strong>Número final: </strong>Registra
                            el número final del rango seleccionado.
                        </p>
                        <p class="text-left">
                            <strong>
                                Dirección de entrega:
                            </strong>Campo precargado
                            con la dirección de entrega.
                        </p>
                        <p class="text-left">
                            <strong>Departamento:</strong>
                            Campo precargado con el departamentos de entrega.
                        </p>
                        <p class="text-left">
                            <strong>Ciudad:</strong>
                            Campo precargado con la ciudad de entrega.
                        </p>
                        <p class="text-left">
                            <strong>Cantidad:</strong>
                            campo precargado del sistema el cual suma los cupos seleccionados.
                        </p>
                        <p class="text-left">
                            <strong>Longitud menor (cm):</strong>
                            Campo precargado con la
                            Longitud menor.
                        </p>
                        <p class="text-left">
                            <strong>Longitud mayor (cm):</strong>
                            Campo precargado con la
                            Longitud mayor.
                        </p>
                        <p class="text-left">
                            <strong>
                                Fecha consignación
                                precintos – marquillas:
                            </strong>
                            Campo precargado con la
                            Fecha consignación.
                        </p>
                        <p class="text-left">
                            <strong>Tipo de solicitud:</strong>
                            Campo precargado con el tipo de solicitud: precintos o marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                Soporte consignación
                                precintos – marquillas:
                            </strong>Campo
                            precargado con el soporte de consignación.
                        </p>
                        <p class="text-left">
                            <strong>Anexos:</strong>
                            Campo precargado con los anexos de la solicitud.
                        </p>
                        <p class="text-left">
                            <strong>Botón volver: </strong>Botón
                            de acción que permite regresa a la bandeja de desistimiento.
                        </p>
                        <p class="text-left">
                            <strong>Botón siguiente: </strong>Botón
                            de acción que permite continuar a la pestaña desistimiento.
                        </p>
                        <p class="text-left">
                            <strong>- Pestaña Desistimiento</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - COORDINADOR_html_c87085d32c63abf9.png"  class="vertical-align-bottom" width="605" height="368" border="0"/>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo estado: </strong>registra
                            el estado desistimiento.
                        </p>
                        <p class="text-left">
                            <strong>
                                Campo fecha de radicado del
                                desistimiento:
                            </strong>registra
                            la fecha que se realizó el desistimiento.
                        </p>
                        <p class="text-left">
                            <strong>
                                Campo observaciones:
                            </strong>registra las
                            observaciones<strong> </strong>del
                            desistimiento.<strong> </strong>
                        </p>
                        <p class="text-left">
                            <strong>
                                Documento soporte:
                            </strong>visualiza los
                            documentos soporte del desistimiento.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="CoordinadorGestionPrecintosNacionales" asp-action="Index" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>