

<div class="col-md-12 mb-3">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label required">Archivos soporte de vinculación</label>
            <label type="button" class="file text-center" for="fileMultipleFile" id="fileContenedorMultipleFile">
                <p id="placeHolderMultipleFile"><span class="fas fa-paperclip"></span> Adjunte o arrastre aquí uno o varios documentos.</p>
                <input type="file" id="fileMultipleFile">
            </label>
            <span id="spanFileMultipleFile" class="span-advertencia d-none"></span>
            <div id="contenedorMultipleFile">
            </div>
        </div>
    </div>
</div>