<div class="receptor-buttons-ayuda-inicio text-end mt-4 mb-4">
    <a class="btn btn-secondary" target="_blank" asp-controller="RegistroVisitaDeCortes" asp-action="Ayuda" title="Ayuda">AYUDA</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" title="Compartir">INICIO</a>
</div>