<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Registrar acta de visita de
                corte
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            En este módulo se realiza el
                            registro de las resoluciones de asignación de cupos para los
                            zoocriaderos registrados en el sistema. Esta función permite que los
                            usuarios puedan ingresar y registrar las resoluciones emitidas por
                            una entidad ambiental competente de acuerdo con su perfil de analista
                            zoocría.
                        </p>
                        <p align="left">
                            Para obtener un usuario y
                            contraseña para el rol de analista de zoocria, el usuario debe
                            solicitar al administrador del sistema la creacion del usuario,
                            mediante un correo electronico en el cual debe sumistrar todos los
                            datos correspondientes.
                        </p>
                        <p align="left">
                            Paralo cual el administrador
                            recive el correo y gestiona la creacion del usuario con rol analista
                            zoocria desde el modulo de adinistracion, funcion gestionar usuarios.
                        </p>
                        <p align="left">
                            Al crear el usuaro el sistema
                            envia un correo electronico al usuario que solico la creacion del
                            usuario en el cual se adjunta usuario, contraseña temparol y el
                            enlace a la pantalla de inicio de sesion del sistema cupos precintos
                            y marquillas.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_e4d0c723c24d2c94.png" name="Imagen 62715" align="bottom" width="558" height="248" border="0"/>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d3dd81efffd9198c.gif" name="Shape1" alt="Shape1" align="left" hspace="1" vspace="1" width="58" height="23"/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            Para iniciar, se debe dirigir
                            a la dirección de la página enviada para el aplicativo
                            para cupos precintos y marquillas.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_ce8901dc08a9b656.png" name="Imagen 62716" align="bottom" width="275" height="314" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d3ae4dfa4186dd05.png" name="Imagen 62717" align="bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                        <p align="left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d3ae4dfa4186dd05.png" name="Imagen 62718" align="bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p align="left">
                            <strong>
                                CAPTCHA- Casilla de
                                verificación No soy un robot
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_942ffd06273d9c21.png" name="Imagen 62719" align="bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p align="left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d884c4fbaa41fcf7.gif" name="Shape2" alt="Shape2" align="bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción
                            para ingresar al sistema con las credenciales de usuario y contraseña
                            ingresada.
                        </p>
                        <p align="left">
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d2d7f82e43470423.png" name="Imagen 62721" align="bottom" width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda
                            con opciones de apoyo para navegación del usuario.
                        </p>
                        <p align="left">
                            <strong>Botón CONTRASTE </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_783b10d543e76db6.png" name="Imagen 62722" align="bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite cambiar el contraste del brillo de la ventanilla
                            electrónica, y visualizarlo en un modo oscuro.
                        </p>
                        <p align="left">
                            <strong>Botón REDUCIR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_701c9169fba01f8e.png" name="Imagen 62723" align="bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite reducir el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p align="left">
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_36a0d623038cb28c.png" name="Imagen 62724" align="bottom" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite aumentar el tamaño de la fuente de toda la ventanilla
                            electrónica, de acuerdo con las preferencias del usuario.
                        </p>
                        <p align="left">
                            <strong>Botón CENTRO DE RELEVO </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_bd53499beabc0bfe.png" name="Imagen 62725" align="bottom" width="21" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción
                            que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                        <p align="left">
                            Ingresa con las credenciales ,
                            haciendo referencia a nombre de usuario y contraseña temporal
                            asociada a este. Selecciona la casilla de verificación de No soy un
                            robot (opción de seguridad), y posterior a su aprobación selecciona
                            el botón de Ingresar.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_b473277b96222635.png" name="Imagen 62726" align="bottom" width="605" height="266" border="0" />
                        </p>
                        <p align="left">
                            Al ingresar se encontrará con
                            la pantalla creación de usuario, al ingresar por primeras veces se
                            debe realizar el cambio de la contraseña temporal.
                        </p>
                        <p align="left">
                            <strong>Campo Nueva contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_cca38a6849d9155d.png" name="Imagen 62815" align="bottom" width="126" height="23" border="0" />
                            :
                            Campo para ingresar la contraseña que se desea asociar al nombre de
                            usuario ingresado.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Confirmar
                                contraseña
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_bddfebc61f2f79b1.png" name="Imagen 62816" align="bottom" width="123" height="22" border="0" />
                            :
                            Campo para confirmar la contraseña ingresada, y que se desea asociar
                            al nombre de usuario ingresado.
                        </p>
                        <p align="left">
                            <strong>
                                Casilla acepta política de
                                tratamiento de datos personales
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_962c6fb5a49117fd.png" name="Imagen 62817" align="bottom" width="81" height="27" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con la política de tratamiento de datos.
                        </p>
                        <p align="left">
                            <strong>
                                Casilla acepta términos y
                                condiciones
                            </strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_142f14d43a755fd8.png" name="Imagen 62818" align="bottom" width="75" height="18" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con los términos y condiciones de uso del sistema.
                        </p>
                        <p align="left">
                            <strong>Botón guardar</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_4889aabf4fd589be.png" name="Imagen 62819" align="bottom" width="65" height="24" border="0" />
                            :
                            Botón de acción para
                            guardar la nueva contraseña.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_be734d45fd0b2dc4.png" name="Imagen 62732" align="bottom" width="605" height="167" border="0" />

                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                        Al ingresar, confirmar la
                        nueva contraseña, aceptar las políticas de seguridad y dar clic en
                        el botón guardar, el sistema lo redirecciona a la pantalla de inicio
                        de sesión de cupos, precintos y marquillas.
                        </p>
                        <p align="left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_ce8901dc08a9b656.png" name="Imagen 62733" align="bottom" width="275" height="314" border="0"/>
                        </p>
                        <p align="left">
                        <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d3ae4dfa4186dd05.png" name="Imagen 62734" align="bottom" width="38" height="13" border="0"/>
                        <strong>:</strong>
                        Campo para ingresar el nombre de usuario de acuerdo con el listado de
                        usuarios registrados en el sistema.
                        </p>
                        <p align="left">
                        <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d3ae4dfa4186dd05.png" name="Imagen 62735" align="bottom" width="38" height="13" border="0"/>
                        <strong>:</strong>
                        Campo para ingresar la nueva contraseña asociada al nombre de
                        usuario ingresado en el campo de Usuario.
                        </p>
                        <p align="left">
                        <strong>CAPTCHA- Casilla de
                        verificación No soy un robot</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_942ffd06273d9c21.png" name="Imagen 62736" align="bottom" width="113" height="32" border="0"/>
                        <strong>:</strong>
                        Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p align="left">
                        <strong>Botón INGRESAR </strong>
                        <img src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_d884c4fbaa41fcf7.gif" name="Shape3" alt="Shape3" align="bottom" width="95" height="19"/>
                        <strong>
                        :</strong> Botón de acción
                        para ingresar al sistema con las credenciales de usuario y contraseña
                        ingresada.
                        </p>
                        <p align="left">
                        Al ingresar se encontrará con
                        las siguientes opciones habilitadas para el usuario analista zoocría.
                        </p>
                        <p align="left">
                        <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_bc85281ae626b26f.png" name="Imagen 62738" align="bottom" width="605" height="336" border="0"/>
                        </p>
                        <p align="left">
                        <strong>Usuario: </strong>visualiza
                        el nombre de usuario de quien inicia sesión.
                        </p>
                        <p align="left">
                        <strong>Botón serrar sesión:
                        </strong>botón de acción<strong>
                        </strong>para serrar sesión.
                        </p>
                        <p align="left">
                        <strong>Menú horizontal:</strong>
                        Barra de menú en la que se establecen los menús principales y los
                        módulos pertenecientes a cada uno, como alternativa de navegación
                        entre módulos.
                        </p>
                        <p align="left">
                        <strong>Botón Inicio:</strong>
                        Botón que permite regresar a la ventana inicial de cupos, precintos
                        y marquillas.
                        </p>
                        <p align="left">
                        <strong>Submenú Flujo de negocio:</strong>
                        Submenú de la barra horizontal en el que se listan los diferentes
                        módulos de Flujo de negocio, para el rol analista zoocría se
                        activaron las funcionalidades: 
                        </p>
                        <p align="left">
                        Resolución de asignación de
                        CUPOS
                        </p>
                        <p align="left">
                        Registrar documento de venta
                        </p>
                        <p align="left">
                        Gestionar establecimiento
                        </p>
                        <p align="left">
                        Hoja de vida empresa
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            Consulta de precintos y
                            marquillas
                        </p>
                        <p align="left">
                            Registro de acta de visita de
                            cortes
                        </p>
                        <p align="left">
                            <strong>Submenú Reportes:</strong>
                            Submenú de la barra horizontal en el que se listan los diferentes de
                            Reportes, para el rol analista zoocría se presentan los siguientes
                            reportes:
                        </p>
                        <p align="left">
                            Reporte Establecimientos
                        </p>
                        <p align="left">
                            Reporte Precintos
                        </p>
                        <p align="left">
                            Reporte Marquillas
                        </p>
                        <p align="left">
                            Reporte Cupos
                        </p>
                        <p align="left">
                            <strong>Tarjeta Flujo de negocio:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Flujo de Negocio, donde se listan todos los módulos de
                            esta opción.
                        </p>
                        <p align="left">
                            <strong>Tarjeta Reportes:</strong>
                            Submenú en forma de tarjeta de acción que permite acceder a la
                            ventana de Reportes, donde se listan todos los reportes de esta
                            opción.
                        </p>
                        <p align="left">
                            Al seleccionar el Submenú
                            flujo de negocio se despliegan las siguientes funcionalidades:
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_deab537d3e99c107.png" name="Imagen 62739" align="bottom" width="605" height="439" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <strong>
                                Opción Resolución de
                                asignación de CUPOS:
                            </strong>Tarjeta
                            de acción que permite acceder al módulo de Resolución de
                            asignación de CUPOS.
                        </p>
                        <p align="left">
                            <strong>
                                Opción Registrar documento
                                de venta:
                            </strong> Tarjeta
                            de acción que permite acceder al módulo de Registrar documento de
                            venta.
                        </p>
                        <p align="left">
                            <strong>
                                Opción Gestionar
                                establecimiento:
                            </strong>
                            Tarjeta de acción que permite acceder al módulo de Gestionar
                            establecimiento.
                        </p>
                        <p align="left">
                            <strong>
                                Opción Hoja de vida
                                empresa:
                            </strong> Tarjeta de
                            acción que permite acceder al módulo de Hoja de vida empresa.
                        </p>
                        <p align="left">
                            <strong>
                                Opción Consulta de
                                precintos y marquillas:
                            </strong>
                            Tarjeta de acción que permite acceder al módulo de Consulta de
                            precintos y marquillas.
                        </p>
                        <p align="left">
                            <strong>
                                Opción Registro de acta de
                                visita de cortes:
                            </strong>
                            Tarjeta de acción que permite acceder al módulo de Registro de acta
                            de visita de cortes.
                        </p>
                        <p align="left">
                            Seleccione la opción de
                            registrar acta de visita de corte, se despliega la siguiente
                            pantalla.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_a6e0e4a42826d477.png" name="Imagen 62713" align="bottom" width="605" height="244" border="0" />
                        </p>
                        <p align="left">
                            Registrar visita de cortes
                        </p>
                        <p align="left">
                            Filtros:
                        </p>
                        <p align="left">
                            <strong>
                                Campo Tipo de
                                Establecimiento:
                            </strong>campo
                            abierto tipo lista con los tipos de establecimiento: zoocriadero,
                            comercializadora, manufacturera y curtiembre.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Establecimientos:
                            </strong>campo abierto tipo
                            lista con los nombres de establecimientos, la cual lista los nombres
                            según se haya seleccionado el tipo de establecimiento.
                        </p>
                        <p align="left">
                            <strong>Campo Fecha Visita</strong>:
                            campo tipo fecha<strong>
                            </strong>para ingresar la
                            fecha de registro de acta de visita de corte.

                        </p>
                        <p align="left">
                            <strong>Botón consultar: </strong>botón
                            de acción que permite realizar la búsqueda de los registros según
                            los filtros ingresados, visualiza los resultados en la grilla
                            inferior.
                        </p>
                        <p align="left">
                            <strong>Botón agregar registro:</strong>
                            botón de acción que permite realizar el registro de una nueva acta
                            de visita de corte.
                        </p>
                        <p align="left">
                            <strong>
                                Columna Tipo de Acta:
                            </strong>Registra el tipo de
                            acta.
                        </p>
                        <p align="left">
                            <strong>Columna Visita Nro.:</strong>
                            Registra el número de visita: 1 y/o 2.
                        </p>
                        <p align="left">
                            <strong>Columna Establecimiento:</strong>
                            Registra el establecimiento.
                        </p>
                        <p align="left">
                            <strong>
                                Columna Tipo de
                                Establecimiento:
                            </strong>
                            Registra el tipo de establecimiento.
                        </p>
                        <p align="left">
                            <strong>Columna Fecha Visita:</strong>
                            Registra la fecha que se realizó la visita de corte.
                        </p>
                        <p align="left">
                            <strong>Columna Fecha Registro:</strong>
                            Registra la fecha que se realizó el registro de acta de visita de
                            corte en el sistema.
                        </p>
                        <p align="left">
                            <strong>Columna Acciones:</strong>
                            visualiza la siguiente opción para realizar sobre una solicitud:
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_7e4c9aec3e0c484b.png" name="Imagen 6" align="bottom" width="132" height="143" border="0" />
                        </p>
                        <p align="left">
                            <strong>* Edita: </strong>Botón
                            que permite visualiza
                            el formulario del acta registrada con los campos precargados y con la
                            posibilidad de edición.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_e3dcfc4d95d5f449.png" name="Imagen 4" align="bottom" width="605" height="331" border="0" />
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_3b842d8200c0931d.png" name="Imagen 5" align="bottom" width="605" height="343" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                        <strong>Campo Visita Nro: </strong>lista
                        de  selección con múltiple selección, con las opciones 1 y 2.
                        </p>
                        <p align="left">
                        <strong>Campo Nit Establecimiento:
                        </strong>campo abierto para
                        ingresar el nit del establecimiento.
                        </p>
                        <p align="left">
                        <strong>Campo Tipo de
                        Establecimiento: </strong>campo
                        precargado del sistema con el tipo de establecimiento, después de
                        validar el nit.
                        </p>
                        <p align="left">
                        <strong>Campo Nombre:</strong>
                        campo precargado del sistema con el nombre de establecimiento,
                        después de validar el nit.
                        </p>
                        <p align="left">
                        <strong>Campo Documento de origen
                        de las pieles: </strong>campo
                        abierto para ingresar Documento de origen de las pieles.
                        </p>
                        <p align="left">
                        <strong>Campo Nro de Documento:
                        </strong>campo abierto para
                        ingresar el número de documento.
                        </p>
                        <p align="left">
                        <strong>Campo Resolución Nro:
                        </strong>campo abierto para
                        ingresar el número de resolución.
                        </p>
                        <p align="left">
                        <strong>Campo Salvoconducto Nro:
                        </strong>campo abierto para
                        ingresar el número de salvoconducto.
                        </p>
                        <p align="left">
                        <strong>Campo Cantidad de pieles a
                        cortar: </strong>campo
                        abierto para ingresar la Cantidad de pieles a cortar.
                        </p>
                        <p align="left">
                        <strong>Campo Precintos de
                        Identificación: </strong>campo
                        abierto para ingresar el documento tipo Excel, en el cual se
                        registra: Año producción, No Resolución, Año Resolución, Código
                        zoocriadero origen, Nombre zoocriadero origen, código num interna,
                        numeración interna, Color, Año precinto mov nacional, No precinto,
                        Fecha expedición SUNL, No SUNL, Tipo SUNL.
                        </p>
                        <p align="left">
                        <strong>Campo Estados de las
                        pieles: </strong>lista de
                        única selección, con las opciones: Crudas, Azul Húmedo, Curtidas,
                        Terminadas
                        </p>
                        <p align="left">
                        <strong>Campo Tipo de Piel: </strong>campo
                        abierto para ingresar el/los tipo de piel.
                        </p>
                        <p align="left">
                        <strong>Botón Agregar piel: </strong>botón
                        de acción que permite adicionar una fila más para agregar otro 
                        registro de pieles.
                        </p>
                        <p align="left">
                        <strong>Campo Tipo de partes
                        obtenidas: </strong>campo
                        tipo lista con las opciones: pecho, cola, flanco.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <strong>Campo Cantidad: </strong>campo
                            abierto para ingresar la cantidad de parles obtenidas.
                        </p>
                        <p align="left">
                            <strong>
                                Campo funcionario Autoridad
                                CITES:
                            </strong>campo
                            precargado del sistema con el nombre del funcionario Cites que está
                            registrando el acta.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nombre de
                                representante del establecimiento:
                            </strong>campo
                            abierto para ingresar el nombre de
                            representante del
                            establecimiento.
                        </p>
                        <p align="left">
                            <strong>Campo Fecha Visita: </strong>campo
                            abierto para ingresar la fecha de visita.
                        </p>
                        <p align="left">
                            <strong>Campo Departamento: </strong>campo
                            abierto tipo lista para seleccionar el departamento.
                        </p>
                        <p align="left">
                            <strong>Ciudad: </strong>campo
                            abierto tipo lista para seleccionar la ciudad según el departamento
                            seleccionado.
                        </p>
                        <p align="left">
                            <strong>
                                Archivos soporte de
                                vinculación:
                            </strong>camp
                            para  cargar uno o varios documentos.
                        </p>
                        <p align="left">
                            <strong>Botón guardar:</strong>
                            botón de acción que permite guardar los datos editados del
                            registro.
                        </p>
                        <p align="left">
                            <strong>Botón Cancelar: </strong>botón
                            de acción que permite cancelar la edición del registro de acta.
                        </p>
                        <p align="left">
                            <strong>* Eliminar: </strong>Botón
                            que permite elimina el
                            acta registrada.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_22f14236241406ad.png" name="Imagen 45" align="bottom" width="217" height="147" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <strong>* Ver: </strong>Botón
                            que permite visualiza
                            el formulario del acta registrada con los campos precargados y sin la
                            posibilidad de edición.
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_efc22021882ad3dc.png" name="Imagen 1" align="bottom" width="605" height="309" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_17883d948ec71fb0.png" name="Imagen 2" align="bottom" width="605" height="295" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <strong>Campo Visita Nro: </strong>campo
                            precargado del sistema con el número de visita registrado.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nit Establecimiento:
                            </strong>campo precargado
                            del sistema con el nit del establecimiento.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Tipo de
                                Establecimiento:
                            </strong>campo
                            precargado del sistema con el tipo de establecimiento, después de
                            validar el nit.
                        </p>
                        <p align="left">
                            <strong>Campo Nombre:</strong>
                            campo precargado del sistema con el nombre de establecimiento,
                            después de validar el nit.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Documento de origen
                                de las pieles:
                            </strong>campo
                            precargado del sistema con el Documento de origen de las pieles.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nro de Documento:
                            </strong>campo precargado
                            del sistema con el número de documento.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Resolución Nro:
                            </strong>campo precargado
                            del sistema con el número de resolución.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Salvoconducto Nro:
                            </strong>campo precargado
                            del sistema con el número de salvoconducto.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Cantidad de pieles a
                                cortar:
                            </strong>campo
                            precargado del sistema con la Cantidad de pieles a cortar.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Precintos de
                                Identificación:
                            </strong>campo
                            precargado del sistema con el documento tipo Excel, en el cual se
                            registra: Año producción, No Resolución, Año Resolución, Código
                            zoocriadero origen, Nombre zoocriadero origen, código num interna,
                            numeración interna, Color, Año precinto mov nacional, No precinto,
                            Fecha expedición SUNL, No SUNL, Tipo SUNL.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Estados de las
                                pieles:
                            </strong>lista de
                            única selección, con las opciones: Crudas, Azul Húmedo, Curtidas,
                            Terminadas.
                        </p>
                        <p align="left">
                            <strong>Campo Tipo de Piel: </strong>campo
                            precargado del sistema con el/los tipos de piel.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Tipo de partes
                                obtenidas:
                            </strong>campo
                            precargado del sistema con Tipo de partes obtenidas con las opciones:
                            pecho, cola, flanco.
                        </p>
                        <p align="left">
                            <strong>Campo Cantidad: </strong>campo
                            precargado del sistema con la cantidad de parles obtenidas.
                        </p>
                        <p align="left">
                            <strong>
                                Campo funcionario Autoridad
                                CITES:
                            </strong>campo
                            precargado del sistema con el nombre del funcionario Cites que está
                            registrando el acta.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <strong>
                                Campo Nombre de
                                representante del establecimiento:
                            </strong>campo
                            precargado del sistema con el nombre de
                            representante del
                            establecimiento.
                        </p>
                        <p align="left">
                            <strong>Campo Fecha Visita: </strong>campo
                            precargado del sistema con la fecha de visita.
                        </p>
                        <p align="left">
                            <strong>Campo Departamento: </strong>campo
                            precargado del sistema con el departamento.
                        </p>
                        <p align="left">
                            <strong>Ciudad: </strong>campo
                            precargado del sistema con la ciudad según el departamento
                            seleccionado.
                        </p>
                        <p align="left">
                            <strong>
                                Archivos soporte de
                                vinculación:
                            </strong>campo
                            precargado del sistema con uno o varios documentos.
                        </p>
                        <p align="left">
                            <strong>Botón salir:</strong>
                            botón de acción que permite salir de la visualización del
                            formulario.
                        </p>
                        <p align="left">
                            Al seleccionar el botón
                            agregar registro
                        </p>
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_1ec29be64b9581c9.png" name="Imagen 62708" align="bottom" width="605" height="359" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_493361cafb242755.png" name="Imagen 62709" align="bottom" width="605" height="319" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            Registrar visita de cortes
                        </p>
                        <p align="left">
                            <strong>
                                Campo Tipo de Acta de
                                Visita:
                            </strong> campo tipo
                            lista con las opciones: Acta de control Corte de pieles partes
                            identificables y acta de control corte de pieles fracciones
                            irregulares.
                        </p>
                        <p align="left">
                            <i>
                                <strong>
                                    Formulario que se
                                    despliega para la opción Acta de control Corte de pieles partes
                                    identificables
                                </strong>
                            </i>
                        </p>
                        <p align="left">
                            <strong>Campo Visita Nro: </strong>lista
                            de selección con múltiple selección, con las opciones 1 y 2.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nit Establecimiento:
                            </strong>campo abierto para
                            ingresar el nit del establecimiento.
                        </p>
                        <p align="left">
                            <strong>Botón buscar: </strong>botón
                            de acción para realizar la búsqueda del nit, el cual debe existir
                            en el sistema.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Tipo de
                                Establecimiento:
                            </strong>campo
                            precargado del sistema con el tipo de establecimiento, después de
                            validar el nit.
                        </p>
                        <p align="left">
                            <strong>Campo Nombre:</strong>
                            campo precargado del sistema con el nombre de establecimiento,
                            después de validar el nit.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Documento de origen
                                de las pieles:
                            </strong>campo
                            abierto para ingresar Documento de origen de las pieles.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nro de Documento:
                            </strong>campo abierto para
                            ingresar el número de documento.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Resolución Nro:
                            </strong>campo abierto para
                            ingresar el número de resolución.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Salvoconducto Nro:
                            </strong>campo abierto para
                            ingresar el número de salvoconducto.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Cantidad de pieles a
                                cortar:
                            </strong>campo
                            abierto para ingresar la Cantidad de pieles a cortar.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Precintos de
                                Identificación:
                            </strong>campo
                            abierto para ingresar el documento tipo Excel, en el cual se
                            registra: Año producción, No Resolución, Año Resolución, Código
                            zoocriadero origen, Nombre zoocriadero origen, código num interna,
                            numeración interna, Color, Año precinto mov nacional, No precinto,
                            Fecha expedición SUNL, No SUNL, Tipo SUNL.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Estados de las
                                pieles:
                            </strong>lista de
                            única selección, con las opciones: Crudas, Azul Húmedo, Curtidas,
                            Terminadas
                        </p>
                        <p align="left">
                            <strong>Campo Tipo de Piel: </strong>campo
                            abierto para ingresar el/los tipos de piel.
                        </p>
                        <p align="left">
                            <strong>Botón Agregar piel: </strong>botón
                            de acción que permite adicionar una fila más para agregar otro
                            registro de pieles.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <strong>
                                Campo Tipo de partes
                                obtenidas:
                            </strong>campo
                            tipo lista con las opciones: pecho, cola, flanco.
                        </p>
                        <p align="left">
                            <strong>Campo Cantidad: </strong>campo
                            abierto para ingresar la cantidad de parles obtenidas.
                        </p>
                        <p align="left">
                            <strong>
                                Campo funcionario Autoridad
                                CITES:
                            </strong>campo
                            precargado del sistema con el nombre del funcionario Cites que está
                            registrando el acta.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nombre de
                                representante del establecimiento:
                            </strong>campo
                            abierto para ingresar el nombre de
                            representante del
                            establecimiento.
                        </p>
                        <p align="left">
                            <strong>Campo Fecha Visita: </strong>campo
                            abierto para ingresar la fecha de visita.
                        </p>
                        <p align="left">
                            <strong>Campo Departamento: </strong>campo
                            abierto tipo lista para seleccionar el departamento.
                        </p>
                        <p align="left">
                            <strong>Ciudad: </strong>campo
                            abierto tipo lista para seleccionar la ciudad según el departamento
                            seleccionado.
                        </p>
                        <p align="left">
                            <strong>
                                Archivos soporte de
                                vinculación:
                            </strong>campo
                            para  cargar uno o varios documentos.
                        </p>
                        <p align="left">
                            <strong>Botón guardar:</strong>
                            botón de acción que permite guardar los datos del registro.
                        </p>
                        <p align="left">
                            <strong>Botón Cancelar: </strong>botón
                            de acción que permite cancelar el registro de acta.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_a02c5444a9afa30.png" name="Imagen 62710" align="bottom" width="605" height="335" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_eb1fae3af3447f4a.png" name="Imagen 62711" align="bottom" width="605" height="356" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - ACTA DE VISITA DE CORTES_html_627fb39829231970.png" name="Imagen 62712" align="bottom" width="605" height="101" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p align="left">
                        Registrar visita de cortes
                        </p>
                        <p align="left">
                        <strong>Campo Tipo de Acta de
                        Visita:</strong> campo tipo
                        lista con las opciones: Acta de control Corte de pieles partes
                        identificables y acta de control corte de pieles fracciones
                        irregulares.
                        </p>
                        <p align="left">
                        <i><strong>Formulario que se
                        despliega para la opción</strong></i>
                        <i><strong>Acta de control
                        Corte de pieles fracciones irregulares</strong></i>
                        </p>
                        <p align="left">
                        <strong>Campo Visita Nro: </strong>lista
                        de selección con múltiple selección, con las opciones 1 y 2.
                        </p>
                        <p align="left">
                        <strong>Campo Nit Establecimiento:
                        </strong>campo abierto para
                        ingresar el nit del establecimiento.
                        </p>
                        <p align="left">
                        <strong>Botón buscar: </strong>botón
                        de acción para realizar la búsqueda del nit, el cual debe existir
                        en el sistema.
                        </p>
                        <p align="left">
                        <strong>Campo Tipo de
                        Establecimiento: </strong>campo
                        precargado del sistema con el tipo de establecimiento, después de
                        validar el nit.
                        </p>
                        <p align="left">
                        <strong>Campo Nombre:</strong>
                        campo precargado del sistema con el nombre de establecimiento,
                        después de validar el nit.
                        </p>
                        <p align="left">
                        <strong>Campo Documento de origen
                        de las pieles: </strong>campo
                        abierto para ingresar Documento de origen de las pieles.
                        </p>
                        <p align="left">
                        <strong>Campo Nro de Documento:
                        </strong>campo abierto para
                        ingresar el número de documento.
                        </p>
                        <p align="left">
                        <strong>Campo Resolución Nro:
                        </strong>campo abierto para
                        ingresar el número de resolución.
                        </p>
                        <p align="left">
                        <strong>Campo Salvoconducto Nro:
                        </strong>campo abierto para
                        ingresar el número de salvoconducto.
                        </p>
                        <p align="left">
                        <strong>Campo Cantidad de pieles a
                        cortar: </strong>campo
                        abierto para ingresar la Cantidad de pieles a cortar.
                        </p>
                        <p align="left">
                        <strong>Campo Precintos de
                        Identificación: </strong>campo
                        abierto para ingresar el documento tipo Excel, en el cual se
                        registra: Año producción, No Resolución, Año Resolución, Código
                        zoocriadero origen, Nombre zoocriadero origen, código num interna,
                        numeración interna, Color, Año precinto mov nacional, No precinto,
                        Fecha expedición SUNL, No SUNL, Tipo SUNL.
                        </p>
                    </td>
                    <td class="col-6">
                        <p align="left">
                            <strong>
                                Campo Estados de las
                                pieles:
                            </strong>lista de
                            única selección, con las opciones: Crudas, Azul Húmedo, Curtidas,
                            Terminadas.
                        </p>
                        <p align="left">
                            <i>
                                <strong>
                                    Primer Control y
                                    Seguimiento
                                </strong>
                            </i>
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Tipo
                                de piel:
                            </strong>campo
                            abierto para ingresar el tipo de piel.
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Área
                                Promedio (dm2):
                            </strong>
                            campo abierto para ingresar el área promedio de la piel.
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Cantidad
                                de piel:
                            </strong> campo
                            abierto para ingresar la cantidad de piel.
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Área
                                Total (dm2):
                            </strong> campo
                            precargado del sistema con la rea total, el cual multiplica la
                            cantidad de piel * área promedio.
                        </p>
                        <p align="left">
                            <strong>Agregar piel:</strong>
                            botón de acción que permite adicionar una fila más para agregar
                            otro registro de pieles.
                        </p>
                        <p align="left">
                            <i>
                                <strong>
                                    Segundo Corte y
                                    Seguimiento
                                </strong>
                            </i>
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Tipo
                                de Fracciones:
                            </strong>
                            campo abierto para ingresar el tipo de facción.
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>Cantidad:</strong>
                            campo abierto para ingresar la cantidad.
                        </p>
                        <p align="left">
                            <strong>Campo </strong><strong>
                                Área
                                Total:
                            </strong> campo
                            abierto para ingresar el re total.
                        </p>
                        <p align="left">
                            <strong>Agregar piel:</strong>
                            botón de acción que permite adicionar una fila más para agregar
                            otro registro de pieles.
                        </p>
                        <p align="left">
                            <strong>
                                Campo funcionario Autoridad
                                CITES:
                            </strong>campo
                            precargado del sistema con el nombre del funcionario Cites que está
                            registrando el acta.
                        </p>
                        <p align="left">
                            <strong>
                                Campo Nombre de
                                representante del establecimiento:
                            </strong>campo
                            abierto para ingresar el nombre de
                            representante del
                            establecimiento.
                        </p>
                        <p align="left">
                            <strong>Campo Fecha Visita: </strong>campo
                            abierto para ingresar la fecha de visita.
                        </p>
                        <p align="left">
                            <strong>Campo Departamento: </strong>campo
                            abierto tipo lista para seleccionar el departamento.
                        </p>
                        <p align="left">
                            <strong>Ciudad: </strong>campo
                            abierto tipo lista para seleccionar la ciudad según el departamento
                            seleccionado.
                        </p>
                        <p align="left">
                            <strong>
                                Archivos soporte de
                                vinculación:
                            </strong>camp
                            para cargar uno o varios documentos.
                        </p>
                        <p align="left">
                            <strong>Botón guardar:</strong>
                            botón de acción que permite guardar los datos del registro.
                        </p>
                        <p align="left">
                            <strong>Botón Cancelar: </strong>botón
                            de acción que permite cancelar el registro de acta.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="RegistroVisitaDeCortes" asp-action="Index" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>