<style>
    .text-left {
        text-align: left;
    }

    .vertical-align-bottom {
        vertical-align: bottom;
    }
</style>

<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>
                Resolución cuotas globales de
                pesca
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            En este módulo se realiza el registro  de las resoluciones de
                            asignación de cupos para los establecimientos registrados en el
                            sistema. Esta función permite que los usuarios puedan ingresar y
                            registrar las resoluciones emitidas por una entidad ambiental
                            competente de acuerdo con su perfil de analista peces.
                        </p>
                        <p class="text-left">
                            Para obtener un usuario y contraseña para el rol de analista de
                            peces, el usuario debe solicitar al administrador del sistema la
                            creacion del usuario, mediante un correo electronico en el cual debe
                            sumistrar todos los datos correspondientes.
                        </p>
                        <p class="text-left">
                            Paralo cual el administrador recive el correo y gestiona la creacion
                            del usuario con rol analista peces desde el modulo de adinistracion,
                            funcion gestionar usuarios.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al crear el usuaro el sistema envia un correo electronico al usuario
                            que solico la creacion del usuario en el cual se adjunta usuario,
                            contraseña temparol y el enlace a la pantalla de inicio de sesion
                            del sistema cupos precintos y marquillas.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_e4d0c723c24d2c94.png"  class="vertical-align-bottom" width="558" height="248" border="0" />
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d3dd81efffd9198c.gif"  alt="Shape1" class="text-left" style="margin: 1px 1px;" width="58" height="23" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Para iniciar, se debe dirigir a la dirección de la página enviada
                            para el aplicativo para cupos precintos y marquillas.
                        </p>


                        <p class="text-left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el usuario
                            enviado al analista.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la contraseña temporal asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>CAPTCHA- Casilla de verificación No soy un robot</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d884c4fbaa41fcf7.gif"  alt="Shape2" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para ingresar al sistema con las credenciales
                            de usuario y contraseña ingresada.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Barra TOOLSMINTIC  </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d2d7f82e43470423.png"  class="vertical-align-bottom" width="18" height="76" border="0" />
                            <strong>
                                :
                            </strong> Barra de ayuda con opciones de apoyo para navegación del
                            usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CONTRASTE </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_783b10d543e76db6.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite cambiar el contraste del brillo
                            de la ventanilla electrónica, y visualizarlo en un modo oscuro.
                        </p>
                        <p class="text-left">
                            <strong>Botón REDUCIR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_701c9169fba01f8e.png"  class="vertical-align-bottom" width="20" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite reducir el tamaño de la fuente
                            de toda la ventanilla electrónica, de acuerdo con las preferencias
                            del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón AUMENTAR LETRA </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_36a0d623038cb28c.png"  class="vertical-align-bottom" width="18" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite aumentar el tamaño de la fuente
                            de toda la ventanilla electrónica, de acuerdo con las preferencias
                            del usuario.
                        </p>
                        <p class="text-left">
                            <strong>Botón CENTRO DE RELEVO </strong>
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_bd53499beabc0bfe.png"  class="vertical-align-bottom" width="21" height="19" border="0" />
                            <strong>
                                :
                            </strong> Botón de acción que permite acceder al centro de relevo
                            establecido por MINTIC.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Ingresa con las credenciales , haciendo referencia a nombre de
                            usuario y contraseña temporal asociada a este. Selecciona la casilla
                            de verificación de No soy un robot (opción de seguridad), y
                            posterior a su aprobación selecciona el botón de Ingresar.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_b473277b96222635.png"  class="vertical-align-bottom" width="605" height="266" border="0" />
                        </p>
                        <p class="text-left">
                            Al ingresar se encontrará con la pantalla creación de usuario, al
                            ingresar por primeras vez se debe realizar el cambio de la contraseña
                            temporal.
                        </p>
                        <p class="text-left">
                            <strong>Campo Nueva contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_cca38a6849d9155d.png"  class="vertical-align-bottom" width="126" height="23" border="0" />
                            :
                            Campo para ingresar la contraseña que se desea asociar al nombre de
                            usuario ingresado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Campo Confirmar contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_bddfebc61f2f79b1.png"  class="vertical-align-bottom" width="123" height="22" border="0" />
                            :
                            Campo para confirmar la contraseña ingresada, y que se desea asociar
                            al nombre de usuario ingresado.
                        </p>
                        <p class="text-left">
                            <strong>Casilla acepta política de tratamiento de datos personales</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_962c6fb5a49117fd.png"  class="vertical-align-bottom" width="81" height="27" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con la política de tratamiento de datos.
                        </p>
                        <p class="text-left">
                            <strong>Casilla acepta términos y condiciones</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_142f14d43a755fd8.png"  class="vertical-align-bottom" width="75" height="18" border="0" />
                            :
                            Casilla de verificación que debe marcar el usuario para indicar que
                            está de acuerdo con los términos y condiciones de uso del sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón guardar</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_4889aabf4fd589be.png"  class="vertical-align-bottom" width="65" height="24" border="0" />
                            :
                            Botón de acción para guardar la nueva contraseña.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_be734d45fd0b2dc4.png"  class="vertical-align-bottom" width="605" height="167" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al ingresar, confirmar la nueva contraseña, aceptar las políticas
                            de seguridad y dar clic en el botón guardar, el sistema lo
                            redirecciona a la pantalla de inicio de sesión de cupos, precintos y
                            marquillas.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_ce8901dc08a9b656.png"  class="vertical-align-bottom" width="275" height="314" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>Campo Usuario</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar el nombre de usuario de acuerdo con el listado de
                            usuarios registrados en el sistema.
                        </p>
                        <p class="text-left">
                            <strong>Campo Contraseña</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d3ae4dfa4186dd05.png"  class="vertical-align-bottom" width="38" height="13" border="0" />
                            <strong>:</strong>
                            Campo para ingresar la nueva contraseña asociada al nombre de
                            usuario ingresado en el campo de Usuario.
                        </p>
                        <p class="text-left">
                            <strong>CAPTCHA- Casilla de verificación No soy un robot</strong><img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_942ffd06273d9c21.png"  class="vertical-align-bottom" width="113" height="32" border="0" />
                            <strong>:</strong>
                            Opción de seguridad para el ingreso al sistema.
                        </p>
                        <p class="text-left">
                            <strong>Botón INGRESAR </strong>
                            <img src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d884c4fbaa41fcf7.gif"  alt="Shape3" class="vertical-align-bottom" width="95" height="19" />
                            <strong>
                                :
                            </strong> Botón de acción para ingresar al sistema con las credenciales
                            de usuario y contraseña ingresada.
                        </p>
                        <p class="text-left">
                            Al ingresar se encontrará con las siguientes opciones habilitadas
                            para el usuario analista peces.
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_19abd06426179224.png"  class="vertical-align-bottom" width="605" height="342" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Usuario: </strong>visualiza el nombre de usuario de quien inicia
                            sesión.
                        </p>
                        <p class="text-left">
                            <strong>Botón serrar sesión: </strong>botón de acción<strong> </strong>para serrar
                            sesión.
                        </p>
                        <p class="text-left">
                            <strong>Menú horizontal:</strong> Barra de menú en la que se establecen los
                            menús principales y los módulos pertenecientes a cada uno, como
                            alternativa de navegación entre módulos.
                        </p>
                        <p class="text-left">
                            <strong>Botón Inicio:</strong> Botón que permite regresar a la ventana
                            inicial de cupos, precintos y marquillas.
                        </p>
                        <p class="text-left">
                            <strong>Submenú Flujo de negocio:</strong> Submenú de la barra horizontal en
                            el que se listan los diferentes módulos de Flujo de negocio, para el
                            rol analista peces se activaron las funcionalidades:
                        </p>
                        <p class="text-left">
                            Gestionar establecimiento
                        </p>
                        <p class="text-left">
                            Hoja de vida empresa
                        </p>
                        <p class="text-left">
                            Resolución cuotas globales de pesca
                        </p>
                        <p class="text-left">
                            Registrar información de resolución de comercialización de peces
                        </p>
                        <p class="text-left">
                            <strong>Tarjeta Flujo de negocio:</strong> Submenú en forma de tarjeta de
                            acción que permite acceder a la ventana de Flujo de Negocio, donde
                            se listan todos los módulos de esta opción.
                        </p>
                        <p class="text-left">
                            Al seleccionar el Submenú flujo de negocio se despliegan las
                            siguientes funcionalidades:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_efd673efd6025ab1.png"  class="vertical-align-bottom" width="605" height="362" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Opción Gestionar establecimiento:</strong> Tarjeta de acción que
                            permite acceder al módulo de Gestionar establecimiento.
                        </p>
                        <p class="text-left">
                            <strong>Opción Hoja de vida empresa:</strong> Tarjeta de acción que permite
                            acceder al módulo de Hoja de vida empresa.
                        </p>
                        <p class="text-left">
                            <strong>Opción Resolución cuotas globales de pesca:</strong> Tarjeta de
                            acción que permite acceder al módulo de Resolución cuotas globales
                            de pesca.
                        </p>
                        <p class="text-left">
                            <strong>
                                Opción Registrar información de resolución de comercialización
                                de peces:
                            </strong> Tarjeta de acción que permite acceder al módulo de
                            Registrar información de resolución de comercialización de peces.
                        </p>
                        <p class="text-left">
                            Seleccione la opción de Resolución cuotas globales de pesca, se
                            despliega la siguiente pantalla. La cual valida que el
                            establecimiento buscado exista en el sistema para Resolución cuotas
                            globales de pesca, eliminar o editar los datos de la resolución.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_e07422390b336a43.png"  class="vertical-align-bottom" width="605" height="318" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Sección filtros</strong>
                        </p>
                        <p class="text-left">
                            <strong>Número resolución: </strong>campo abierto para ingresar el número de
                            resolución.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Inicio: </strong>Campo abierto tipo fecha para ingresar el rango
                            inicio de búsqueda.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Fin:</strong> Campo abierto tipo fecha para ingresar el rango fin
                            de búsqueda.
                        </p>
                        <p class="text-left">
                            Botón buscar: Botón de acción para realizar la búsqueda de las
                            resoluciones, si existen, las cuales se visualizan en la tabla
                            inferior.
                        </p>
                        <p class="text-left">
                            <strong>Tabla resoluciones de cuotas globales de pesca </strong>
                        </p>
                        <p class="text-left">
                            <strong>N° Resolución: </strong>Registra el número de la resolución global
                            de pesca registrada.<strong>   </strong>
                        </p>
                        <p class="text-left">
                            <strong>Fecha Resolución:</strong> Registra la fecha de emisión de la
                            resolución global de pesca registrada.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Inicio / Vigencia:</strong> Registra la fecha de inicio de la
                            resolución global de pesca registrada.
                        </p>
                        <p class="text-left">
                            <strong>Fecha Fin / Vigencia:</strong> Registra la fecha de fin de la
                            resolución global de pesca registrada.
                        </p>
                        <p class="text-left">
                            <strong>Objeto Resolución: </strong>Registra el objeto de resolución de la
                            resolución global de pesca registrada.
                        </p>
                        <p class="text-left">
                            <strong>Acciones:</strong> visualiza las siguientes opciones para realizar
                            sobre una resolución ya registrada:
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_1a268e53543b5641.png"  class="vertical-align-bottom" width="163" height="78" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>* Ver:</strong> Botón que permite visualiza el formulario de la
                            resolución de pescas globales de peces registrada con los campos
                            precargados y sin la posibilidad de edición.
                        </p>
                        <p class="text-left">
                            <strong>- Registro de la resolución para tipo marino costero:</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_5b315a9b7d0bbb2a.png"  class="vertical-align-bottom" width="539" height="395" border="0" />
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d2d3cb8cb71c8b3b.png"  class="vertical-align-bottom" width="539" height="303" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>- Registro de la resolución para tipo continental – agua dulce:</strong>
                        </p>

                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_59d52501d391ccfe.png"  class="vertical-align-bottom" width="605" height="317" border="0" />

                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_a37868b3aa538dc6.png"  class="vertical-align-bottom" width="605" height="158" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>* Editar:</strong> Botón que permite visualiza el formulario de la
                            resolución de pescas globales de peces registrada con los campos
                            precargados y con la posibilidad de edición.
                        </p>

                        <p class="text-left">
                            <strong>- Registro de la resolución para tipo marino costero:</strong>
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_b2bd85d34e80d950.png"  class="vertical-align-bottom" width="605" height="332" border="0" />
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_fec45f7038ed326a.png"  class="vertical-align-bottom" width="605" height="399" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>- Registro de la resolución para tipo continental – agua dulce:</strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_d45bbd0331f9146.png"  class="vertical-align-bottom" width="605" height="371" border="0" />
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_7165a615c877516b.png"  class="vertical-align-bottom" width="605" height="163" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Eliminar:</strong> Botón que permite eliminar la resolución
                            registrada.
                        </p>
                        <p class="text-left">
                            <strong>Botón registrar resolución</strong>: Botón de acción que permite
                            registra una resolución de pesca global ya sea de tipo marino
                            costero o continental, cada uno tiene un formulario, de la siguiente
                            manera:
                        </p>
                        <p class="text-left">
                            La primera pantalla que visualiza es la siguiente, la cual determina
                            qué tipo de resolución se va a registrar:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_334b89a22557cb55.png"  class="vertical-align-bottom" width="605" height="252" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Registrar resolución cuotas globales de pesca
                        </p>
                        <p class="text-left">
                            <strong>Campo Tipo: </strong>campo tipo lista con las opciones marino costero y
                            continental.
                        </p>
                        <p class="text-left">
                            <strong>Campo Número resolución: </strong>campo abierto para ingresar el
                            número de la resolución.
                        </p>
                        <p class="text-left">
                            <strong>Campo Fecha resolución: </strong>campo tipo fecha para ingresar la
                            fecha de emisión de la resolución.
                        </p>
                        <p class="text-left">
                            <strong>Campo Fecha Inicio: </strong>campo tipo fecha para ingresar la fecha de
                            inicio de la resolución.
                        </p>
                        <p class="text-left">
                            <strong>Campo Fecha Fin: </strong>campo no obligatorio tipo fecha para ingresar
                            la fecha fin de la resolución.
                        </p>
                        <p class="text-left">
                            <strong>Campo Objeto de la resolución: </strong>campo abierto para ingresar el
                            objeto de la resolución.
                        </p>
                        <p class="text-left">
                            <strong>Documento soporte: </strong>Espacio para adjuntar uno o más documentos
                            que soportan la resolución.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>
                                * Secciona el tipo marino costero, se despliega el siguiente
                                formulario:
                            </strong>
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_3f326659ef60f127.png"  class="vertical-align-bottom" width="605" height="350" border="0" />

                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_94a06db6c1a2ba0c.png"  class="vertical-align-bottom" width="605" height="280" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>- Seccion Mar Caribe: </strong>Para ingrsar las cuotas para el mar
                            caribe se tienen los siguientes campos:
                        </p>
                        <p class="text-left">
                            <strong>Campo Recurso: </strong>Campo tipo lista,con las opciones que MADS ha
                            proporcionado en el excel, para seleccionar el recuerso (especie).<strong>
                            </strong>
                        </p>
                        <p class="text-left">
                            <strong>Campo Cuota: </strong>Campo abierto, para ingresar la cuota para  el
                            recuerso (especie).
                        </p>
                        <p class="text-left">
                            <strong>Campo Total: </strong>Campo abierto, para ingresar el total de cuotas
                            que se otorgan para  el recuerso (familia).
                        </p>
                        <p class="text-left">
                            <strong>Boton guardar:</strong> Botón de acción que permite registra y pre
                            guardar los datos ingresados para el recurso. Al seleccionar el
                            recurso se agrega en la grilla inferior de la sección, esta acción
                            se puede realizar n veces según la resolución lo requiera.
                        </p>

                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Grilla en la que se realiza el pre guardado del recurso:
                        </p>
                        <p class="text-left">
                            <strong>Columna Recurso: </strong>Registra el recuerso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Cuotas:</strong> Registra las cuotas del recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Total:</strong> Registra el total de cuotas para el recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Acciones:</strong> visualiza las siguientes opciones para
                            realizar sobre un recurso ya registrado:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_c72e003ced8e9c0b.png"  class="vertical-align-bottom" width="133" height="82" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Ver:</strong> Botón que precarga los capos recurso, cuota y total
                            para realizar algún cambio.
                        </p>
                        <p class="text-left">
                            <strong>*Eliminar:</strong> Botón que permite eliminar el registro del
                            recurso.
                        </p>

                        <p class="text-left">
                            <strong>- Seccion Océano Pacífico: </strong>Para ingrsar las cuotas para el
                            Océano Pacífico se tienen los siguientes campos:
                        </p>
                        <p class="text-left">
                            <strong>Campo Recurso: </strong>Campo tipo lista,con las opciones que MADS ha
                            proporcionado en el excel, para seleccionar el recuerso (especie).<strong>
                            </strong>
                        </p>
                        <p class="text-left">
                            <strong>Campo Cuota: </strong>Campo abierto, para ingresar la cuota para  el
                            recuerso (especie).
                        </p>
                        <p class="text-left">
                            <strong>Campo Total: </strong>Campo abierto, para ingresar el total de cuotas
                            que se otorgan para  el recuerso (familia).
                        </p>
                        <p class="text-left">
                            <strong>Boton guardar:</strong> Botón de acción que permite registra y pre
                            guardar los datos ingresados para el recurso. Al seleccionar el
                            recurso se agrega en la grilla inferior de la sección, esta acción
                            se puede realizar n veces según la resolución lo requiera.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Grilla en la que se realiza el pre guardado del recurso:
                        </p>
                        <p class="text-left">
                            <strong>Columna Recurso: </strong>Registra el recuerso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Cuotas:</strong> Registra las cuotas del recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Total:</strong> Registra el total de cuotas para el recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Acciones:</strong> visualiza las siguientes opciones para
                            realizar sobre un recurso ya registrado:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_c72e003ced8e9c0b.png"  class="vertical-align-bottom" width="133" height="82" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Ver:</strong> Botón que precarga los capos recurso, cuota y total
                            para realizar algún cambio.
                        </p>
                        <p class="text-left">
                            <strong>*Eliminar:</strong> Botón que permite eliminar el registro del
                            recurso.
                        </p>

                        <p class="text-left">
                            <strong>
                                - Seccion Archipiélago de San Andres, Providencia y Santa
                                Catalina:
                            </strong>Para ingrsar las cuotas para el Archipiélago de San
                            Andres, Providencia y Santa Catalina se tienen los siguientes campos:
                        </p>
                        <p class="text-left">
                            <strong>Campo Recurso: </strong>Campo tipo lista,con las opciones que MADS ha
                            proporcionado en el excel, para seleccionar el recuerso (especie).<strong>
                            </strong>
                        </p>
                        <p class="text-left">
                            <strong>Campo Cuota: </strong>Campo abierto, para ingresar la cuota para  el
                            recuerso (especie).
                        </p>
                        <p class="text-left">
                            <strong>Campo Total: </strong>Campo abierto, para ingresar el total de cuotas
                            que se otorgan para  el recuerso (familia).
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Boton guardar:</strong> Botón de acción que permite registra y pre
                            guardar los datos ingresados para el recurso. Al seleccionar el
                            recurso se agrega en la grilla inferior de la sección, esta acción
                            se puede realizar n veces según la resolución lo requiera.
                        </p>

                        <p class="text-left">
                            Grilla en la que se realiza el pre guardado del recurso:
                        </p>
                        <p class="text-left">
                            <strong>Columna Recurso: </strong>Registra el recuerso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Cuotas:</strong> Registra las cuotas del recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Total:</strong> Registra el total de cuotas para el recurso.
                        </p>
                        <p class="text-left">
                            <strong>Columna Acciones:</strong> visualiza las siguientes opciones para
                            realizar sobre un recurso ya registrado:
                        </p>
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_c72e003ced8e9c0b.png"  class="vertical-align-bottom" width="133" height="82" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>* Ver:</strong> Botón que precarga los capos recurso, cuota y total
                            para realizar algún cambio.
                        </p>
                        <p class="text-left">
                            <strong>*Eliminar:</strong> Botón que permite eliminar el registro del
                            recurso.
                        </p>

                        <p class="text-left">
                            <i>
                                <strong>
                                    * Secciona el tipo continental, se despliega el siguiente
                                    formulario:
                                </strong>
                            </i>
                        </p>

                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_a8363e2cd62a0d54.png"  class="vertical-align-bottom" width="605" height="373" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Establézcase las cuotas globales de pesca:
                        </p>

                        <p class="text-left">
                            <strong>- Seccion Cuencas Continentales: </strong>Para ingrsar las cuotas para
                            Cuencas Continentales se tienen los siguientes campos:
                        </p>
                        <p class="text-left">
                            <strong>Campo Grupo: </strong>Campo tipo lista con el grupo de especies que
                            MADS envió, para seleccionar el grupo al cual se le va a registrar
                            las cuotas.
                        </p>
                        <p class="text-left">
                            <strong>Campo Especie: </strong>Campo tipo lista con las especies según el
                            grupo seleccionado, para seleccionar la especie a la cual se le va a
                            registrar las cuotas.
                        </p>
                        <p class="text-left">
                            <strong>Campo Nombre común:</strong> Campo precargado por el sistema con el
                            nombre común de la especie seleccionada.
                        </p>
                        <p class="text-left">
                            <strong>Botón otro:</strong> Botón de acción que permite registrar un nombre
                            común para la especie seleccionada previamente. El cual activa el
                            campo otro.
                        </p>
                        <p class="text-left">
                            <strong>Campo otro: </strong>campo abierto para<strong> </strong>registrar un nombre
                            común para la especie seleccionada.
                        </p>
                        <p class="text-left">
                            <strong>Campo Cuota por especie:</strong> campo abierto para<strong> </strong>registrar
                            la cuota para la especie seleccionada.
                        </p>
                        <p class="text-left">
                            <strong>Campo Cuota por grupo:</strong> campo abierto para<strong> </strong>registrar la
                            cuota para el grupo seleccionado.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <strong>Botón guardar:</strong> Botón de acción que permite registrar y pre
                            guardar los datos ingresados para el recurso. Al seleccionar el
                            recurso se agrega en la grilla inferior de la sección, esta acción
                            se puede realizar n veces según la resolución lo requiera.
                        </p>

                        <p class="text-left">
                            Grilla en la que se realiza el pre guardado del recurso:
                        </p>
                        <p class="text-left">
                            <strong>Columna Grupo: </strong>Registra el grupo.
                        </p>
                        <p class="text-left">
                            <strong>Columna Especie:</strong> Registra la especie.
                        </p>
                        <p class="text-left">
                            <strong>Columna Nombre común especie	:</strong> Registra el nombre común de
                            la especie.
                        </p>
                        <p class="text-left">
                            <strong>Columna Cuota por especie:</strong> Registra la cuota para la especie.
                        </p>
                        <p class="text-left">
                            <strong>Columna Cuota por grupo:</strong> Registra la cuota por grupo.
                        </p>
                        <p class="text-left">
                            <strong>Columna Acciones:</strong> visualiza las siguientes opciones para
                            realizar sobre un recurso ya registrado:
                        </p>

                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - CUPOS - REGISTRAR RESOLUCIÓN CUOTAS GLOBALES DE PESCA_html_c72e003ced8e9c0b.png"  class="vertical-align-bottom" width="133" height="82" border="0" />
                        </p>
                        <p class="text-left">
                            <strong>* Ver:</strong> Botón que precarga los capos grupo, especie, nombre
                            común, cuota por especie y cuota por grupo para realizar algún
                            cambio.
                        </p>
                        <p class="text-left">
                            <strong>*Eliminar:</strong> Botón que permite eliminar el registro del
                            recurso.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="col-2 mt-2">
                <a class="btn btn-secondary" type="button" asp-controller="FishQuota" asp-action="FishQuotas" title="Volver">VOLVER</a>
            </div>
        </div>
    </div>
</div>