@using Repository.Helpers.Models;
@model Entidad

@{
    Layout = "_LayoutRegistrarResolucion";
}
<div class="container">
    <div>
        <a asp-controller="Home" asp-action="Index">Inicio</a> > <a asp-controller="Home"
            asp-action="FlujoNegocio">Flujo de negocio</a> > <strong>Resolución de Asignación de
            Cupos</strong>
    </div>
    <div class="text-end">
        <a class="btn btn-secondary" type="button" asp-controller="" asp-action="Ayuda" title="Ayuda">AYUDA</a>
        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index" data-bs-toggle="tooltip"
            data-bs-placement="top" title="Inicio">inicio</a>
    </div>
    <div class="row">
        <div class="row col-12 mb-1 mt-1">
            <div class="mb-1 mt-1 col-4">
                <label for="txtNit" class="form-label">Nit</label>
                <input type="text" class="form-control" asp-for="nit" id="txtNit" placeholder="Nit" readonly>
            </div>
            <div class="mb-1 mt-1 col-4">
                <label for="txtEntidad" class="form-label">Entidad</label>
                <input type="text" class="form-control" asp-for="nombreEntidad" id="txtEntidad" placeholder="Entidad" readonly>
            </div>
            <div class="mb-1 mt-1 col-4">
                <label for="txtNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="nombreEmpresa" id="txtNombre" placeholder="Nombre" readonly>
            </div>
        </div>
        
        <h1>Resolución de Asignación de Cupos</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#tab1" id="tab-1"
                    onclick="loadDatosEntidad()">Datos del establecimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab2" id="tab-2"
                    onclick="loadResolucion()">Resolución</a>
            </li>
            <li class="nav-item" id="nav-3">
                <a class="nav-link" data-bs-toggle="tab" href="#tab3" id="tab-3">Especie a comercializar</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane container active p-2" id="tab1">
                <partial name="Partials/DatosEntidad" model="@Model" />
            </div>
            <div class="tab-pane container fade p-2" id="tab2">
                <partial name="Partials/Resolucion" />
            </div>
            <div class="tab-pane container fade p-2" id="tab3">
                <partial name="Partials/EspecieExportar" />
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <button type="button" onclick="VolverDatosEntidad()" id="btnSalirControl"
            class="col-1 btn btn-primary m-2 d-none">Salir</button>
        <button type="button" onclick="siguiente()" id="btnSiguiente"
            class="col-1 btn btn-primary m-2">Siguiente</button>
        <button type="button" onclick="salirResolucion()" id="btnSalirResolucion"
            class="col-1 btn btn-primary m-2">salir</button>
        <button type="button" onclick="siguienteRegistrarResolucion()" id="btnSiguienteRegistrarResolucion"
            class="col-1 btn btn-primary m-2 d-none">Siguiente</button>
        <button type="button" onclick="guardarRegistrarResolucion()" id="btnGuardarRegistrarResolucion"
            class="col-1 btn btn-primary m-2 d-none">Guardar</button>
        <a asp-controller="Home" type="button" class="col-1 btn btn-primary m-2"
            asp-action="FlujoNegocio" id="btnRegresarFlujo">Regresar</a>
    </div>
</div>


@*Modal*@
<div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary d-none" role="status" id="divSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="divMensajeModal1">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-md-12 mensajes-modal">
                        <p id="mensajeEncontro"></p>
                    </div>
                </div>
                <div class="col-12 text-center mb-2">
                    <div class="row">
                        <div class="col-12 d-none" id="divBtnAceptarModal">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                onclick="aceptarModal1()" id="btnAceptarModal">Aceptar</button>
                        </div>

                        <div class="col-6 d-none" id="divSiGuardarEspecieComercializar">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                id="divSiGuardarEspecieComercializar"
                                onclick="SiGuardarEspecieComercializar()">Si</button>
                        </div>
                        <div class="col-6 d-none" id="divBtnNoModal">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                id="btnNoModal">No</button>
                        </div>
                        <div class="col-6 d-none" id="divBtnSiModal">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnSiModal"
                                onclick="SiModal()">Si</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfimaciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center row" id="divConfirmacionMensaje">
                    <div class="text-center col-12">
                        <span class="fa-solid fa-circle-check i-modal"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal">
                        <p>Confirmación</p>
                    </div>
                    <div class="col-md-12 mensajes-modal">
                        <p id="lblConfirmacion"></p>
                    </div>
                </div>
                <div class="text-center d-none" id="divSpinner3">
                    <div class="spinner-border text-primary mb-2 spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="divBotonesConfirmacion" class="text-center col-12 d-none">
                    <div class="row">
                        <div class="col-6 d-none" id="divBtnSiGuardar">
                            <button type="button" class="btn btn-primary" onclick="siGuardarInformacion()">Si</button>
                        </div>
                        <div class="col-6" id="divBtnNo">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnNoConfimar"
                                onclick="noConfirmaciones()">No</button>
                        </div>
                        <div class="col-6 d-none" id="divBtnSiEliminar">
                            <button type="button" class="btn btn-secondary" onclick="SiEliminar()">Si</button>
                        </div>
                        <div class="col-6 d-none" id="divBtnSiEliminarAgregado">
                            <button type="button" class="btn btn-secondary" onclick="SiEliminarAgregado()">Si</button>
                        </div>
                        <div class="col-6 d-none" id="divBtnSiLimpiarEspecieExportar">
                            <button type="button" class="btn btn-secondary"
                                onclick="siLimpiarEspecieExportar()">Si</button>
                        </div>
                    </div>
                </div>
                <div id="divBotonAceptarConfirmacion" class="col-12 mb-1 mt-1 text-center d-none">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlerta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="text-center col-12">
                        <span class="fas fa-exclamation-circle i-modal-alerta"></span>
                    </div>
                    <div class="text-center col-12 titulo-modal-alerta">
                        <p>Alerta</p>
                    </div>
                    <div class="col-12 mensajes-modal">
                        <p>Los siguientes campos son obligatorios</p>
                        <ul id="ulCamposOblgatorios" class="list-group">

                        </ul>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                ACEPTAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="Scripts\RegistrarResolucionScript" />