<style>
    .text-left {
        text-align: left;
    }
</style>
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Gestión de Usuarios</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se realizan las configuraciones requeridas para la gestión de los usuarios de sistema.
                            Aquí se definen y gestionan los nombres, roles, y contraseñas de los usuarios que tienen acceso al módulo.
                        </p>
                        <p class="text-left">La opción de Gestión de usuarios se despliega en la siguiente pantalla que como se mencionó, ubica los diferentes usuarios del sistema y sus datos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIOS_bandeja.png" border="0" width="558" height="248" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Digite el nombre de usuario: <img alt="" title="Filtro Digite el nombre de usuario" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Usuario, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" border="0" /></b>
                        Mediante este botón de acción, el usuario puede consultar los registros de usuarios, de acuerdo con los filtros utilizados.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Botón CREAR USUARIO: <img alt="" title="Botón CREAR USUARIO" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIO_botonCrearUsuario.png" border="0" /></b>
                        Mediante este botón de acción, el usuario ir a la ventana de creación de usuarios, para crear los diferentes usuarios que tendrán acceso al sistema.
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Usuario: </b>
                            Columna en la que se define el nombre de la tabla paramétrica de cada registro del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Roles: </b>
                            Columna en la que se define el valor de la tabla paramétrica que tendrá cada registro del sistema, y que se puede asociar con el Nombre en la misma fila.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Estado: </b>
                            Columna en la que se define el estado definido para cada registro de usuario del sistema. Esto define a su vez, su ingreso al sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Contraseña: </b>
                            Columna en la que se evidencia la existencia de una contraseña relacionada al usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Vencimiento Contraseña: </b>
                            Columna en la que se proporciona información de la fecha en que se deberá cambiar la contraseña por vencimiento.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acciones: </b>
                            Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición y Cambio de Contraseña de los usuarios.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Editar: </b>
                            Mediante este botón de acción el usuario puede acceder a la ventana de edición de usuarios.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Cambiar Contraseña: </b>
                            Mediante este botón de acción, el usuario administrador puede cambiar temporalmente la contraseña de un usuario seleccionado.
                        </p>
                    </td>
                    <td class="col-6">
                        
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Gestion de Usuarios" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIOS_bandejaFiltrada.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de Digitar el nombre de usuario, y seleccionar el botón Consultar, se pueden realizar búsquedas específicas de usuarios.
                            Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Gestion de Usuarios" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIOS_crearUsuario.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Crear usuario” se dirige siguiente a la ventana de creación de usuarios.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Primer Nombre: <img alt="" title="Campo Primer Nombre" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el primer nombre del usuario a crear.
                    </td>
                    <td class="col-6">
                        <b>Campo Segundo Nombre: <img alt="" title="Campo Segundo Nombre" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el segundo nombre del usuario a crear.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Primer Apellido: <img alt="" title="Campo Primer Apellido" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el primer apellido del usuario a crear.
                    </td>
                    <td class="col-6">
                        <b>Campo Segundo Apellido: <img alt="" title="Campo Segundo Apellido" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el segundo apellido del usuario a crear.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Tipo de Documento: <img alt="" title="Campo Tipo de Documento" src="~/images/Filtro.png" border="0" /></b>
                        Campo de tipo lista, donde es posible seleccionar un tipo de documento de entre los listados por el sistema.
                    </td>
                    <td class="col-6">
                        <b>Campo Número de Documento: <img alt="" title="Campo Número de Documento" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el número de documento del usuario a crear.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Dirección: <img alt="" title="Campo Dirección" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar la dirección deseada para ser relacionada con el usuario a crear.
                    </td>
                    <td class="col-6">
                        <b>Campo Dependencia: <img alt="" title="Campo Dependencia" src="~/images/Filtro.png" border="0" /></b>
                        Campo de tipo lista, donde es posible seleccionar una de las dependencias del sistema.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Teléfono: <img alt="" title="Campo Teléfono" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar información del teléfono de contacto del usuario a crear.
                    </td>
                    <td class="col-6">
                        <b>Campo Celular: <img alt="" title="Campo Celular" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar información del teléfono celular de contacto del usuario a crear, como un segundo número de contacto telefónico.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Inicio Contrato: <img alt="" title="Campo Inicio Contrato" src="~/images/Filtro.png" border="0" /></b>
                        Campo para seleccionar con el botón calendario, la fecha de inicio de contrato del usuario a crear.
                    </td>
                    <td class="col-6">
                        <b>Campo Fin Contrato: <img alt="" title="Campo Fin Contrato" src="~/images/Filtro.png" border="0" /></b>
                        Campo para seleccionar con el botón calendario, la fecha de fin de contrato del usuario a crear.
                        Cuando esta fecha sea mayor a la de consulta, representará un contrato vencido y no tendrá acceso al sistema.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo E-mail: <img alt="" title="Campo E-mail" src="~/images/Filtro.png" border="0" /></b>
                        Campo para ingresar el correo electrónico de contacto del usuario a crear. Es un valor utilizado para la gestión de contraseñas.
                    </td>
                    <td class="col-6">
                        <b>Campo Rol: <img alt="" title="Campo Rol" src="~/images/Filtro.png" border="0" /></b>
                        Campo tipo lista, para seleccionar el o los roles que se desean asociar al usuario a crear, de la lista de roles del sistema.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: <img alt="" title="Botón GUARDAR" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIO_botonGuardar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la información del usuario nuevo, lo que representa su creación en la base del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón VOLVER: <img alt="" title="Botón VOLVER" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIO_botonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIOS_modalConfirmacion.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar el guardado de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede rechazar el guardado de la información.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Editar” se dirige siguiente a la ventana de edición de usuarios.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIOS_editarUsuario.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Primer Nombre: <img alt="" title="Campo Primer Nombre" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el primer nombre del usuario, por uno digitado por el usuario.
                    </td>
                    <td class="col-6">
                        <b>Campo Segundo Nombre: <img alt="" title="Campo Segundo Nombre" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el segundo nombre del usuario, por uno digitado por el usuario.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Primer Apellido: <img alt="" title="Campo Primer Apellido" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el primer apellido del usuario a crear, por uno digitado por el usuario.
                    </td>
                    <td class="col-6">
                        <b>Campo Segundo Apellido: <img alt="" title="Campo Segundo Apellido" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el segundo apellido del usuario, por uno digitado por el usuario.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Tipo de Documento: <img alt="" title="Campo Tipo de Documento" src="~/images/Filtro.png" border="0" /></b>
                        Campo de tipo lista, donde es posible seleccionar un tipo de documento de entre los listados por el sistema, y cambiarlo por uno seleccionado por el usuario.
                    </td>
                    <td class="col-6">
                        <b>Campo Número de Documento: <img alt="" title="Campo Número de Documento" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el número de documento del usuario, por uno digitado por el usuario.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Dirección: <img alt="" title="Campo Dirección" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar la dirección deseada para ser relacionada con el usuario, por una digitada por el usuario.
                    </td>
                    <td class="col-6">
                        <b>Campo Dependencia: <img alt="" title="Campo Dependencia" src="~/images/Filtro.png" border="0" /></b>
                        Campo de tipo lista, donde es posible seleccionar una de las dependencias del sistema, y cambiarla por una seleccionada por el usuario.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Teléfono: <img alt="" title="Campo Teléfono" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar información del teléfono de contacto del usuario, por uno digitado por el usuario.
                    </td>
                    <td class="col-6">
                        <b>Campo Celular: <img alt="" title="Campo Celular" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar o agregar información del teléfono celular de contacto del usuario, por uno digitado por el usuario.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Inicio Contrato: <img alt="" title="Campo Inicio Contrato" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar la fecha de inicio de contrato, establecida para el usuario en la creación.
                    </td>
                    <td class="col-6">
                        <b>Campo Fin Contrato: <img alt="" title="Campo Fin Contrato" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar la fecha de fin de contrato, establecida para el usuario en la creación.
                        Cuando esta fecha sea mayor a la de consulta, representará un contrato vencido y no tendrá acceso al sistema.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo E-mail: <img alt="" title="Campo E-mail" src="~/images/Filtro.png" border="0" /></b>
                        Campo para cambiar el correo electrónico de contacto del usuario, por uno digitado por el usuario. Es un valor utilizado para la gestión de contraseñas.
                    </td>
                    <td class="col-6">
                        <b>Campo Rol: <img alt="" title="Campo Rol" src="~/images/Filtro.png" border="0" /></b>
                        Campo tipo lista, para seleccionar el o los roles que se desean asociar al usuario a modificar, de la lista de roles del sistema.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Campo Estado: <img alt="" title="Campo Estado" src="~/images/Filtro.png" border="0" /></b>
                        Campo tipo lista, para seleccionar el estado del usuario. Este valor define la posibilidad de ingreso del usuario.
                    </td>
                    <td class="col-6">
                        
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: <img alt="" title="Botón GUARDAR" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIO_botonGuardar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede guardar la nueva información para el usuario, lo que representa su edición en la base del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón VOLVER: <img alt="" title="Botón VOLVER" src="~/images/MANUAL DE USUARIO - GESTION DE USUARIO_botonVolver.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverGestionUsuario btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverGestionUsuario").click(function() {
    document.location.href = "/Usuarios/GestionUsuarios";
})
</script>