<footer class="footer">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="mb-4 h3">Ministerio de Ambiente y Desarrollo Sostenible</div>
                    <p>Direccion: Calle 37 No.8-40 Bogotá D.C.</p>
                    <p>Horario de atención: Lunes a Viernes de 8:00 am a 4:30pm</p>
                    <p>Teléfono Conmutador: <a href="tel:6013323400">+57 3323400</a></p>
                    <p>Línea gratuita nacional: <a href="tel:018000919301">01-8000-919 301</a></p>
                    <p>Whatsapp empresarial: <a
                            href="https://api.whatsapp.com/send?phone=573102213891&text=Hola%20me%20interesaria%20hablar%20con%20el%20Ministerio%20de%20Ambiente%20y%20Desarrollo%20Sostenible...">+57
                            310-221 3891</a></p>
                    <p>Correo Institucional: <a href="servicioalciudadano@minambiente.gov.co" target="blank"
                            title="Ir a MinAmbiente responde">servicioalciudadano@minambiente.gov.co</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/portal/inicio/" title="Ir al Inicio del portal MInTIC">
                                <img src="/images/minambiente-logo.png" width="300px"
                                    class="img-fluid" aria-hidden="true" alt="Imagen logo de MinTIC">
                                <span class="sr-only">Logo del ministerio TIC</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-12 small footer-logos">
                    <ul class="list-group list-group-horizontal border-0">
                        <li class="list-group-item border-0 pl-0">
                            <a href="https://www.facebook.com/MinisterioTIC.Colombia/" target="_blank">
                                <img alt="image description" src="~/images/fb-icon.png" /><span class="link">MINAMBIENTE</span>

                            </a>
                        </li>
                        <li class="list-group-item border-0">
                            <a href="https://www.instagram.com/ministerio_tic/" target="_blank">
                                <img alt="image description" src="~/images/ins-icon.png" /><span class="link">MINAMBIENTE</span>

                            </a>
                        </li>
                        <li class="list-group-item border-0">
                            <a href="https://twitter.com/Ministerio_TIC" target="_blank">
                                <img alt="image description" src="~/images/tw-icon.png" />
                                <span class="link">MINAMBIENTE</span>

                            </a>
                        </li>

                    </ul>

                    <div class="mt-3 poli-link">
                        <a asp-controller="Home" asp-action="Privacy" title="Ir a Política de privacidad y condiciones de uso" target="_blank" class="mr-3">Política de privacidad y condiciones de uso</a>
                        <a asp-controller="Home" asp-action="MapaSitio" title="Ir a Mapa del sitio" target="_blank" class="mr-3">Mapa del sitio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row p-3 p-sm-0">
                <ul class="d-flex m-0 py-3 list-unstyled">
                    <li class="marca-pais">
                        <img alt="image description" src="~/images/channels-616_marca_colombia.png" alt="Marca Colombia" width="60px"
                            class="img-fluid">

                        <span class="sr-only">Logo marca Colombia</span>
                    </li>
                    <li class="align-self-center logo-gov">
                        <!-- <img src="https://css.mintic.gov.co/mt/mintic/img/header_govco.png" alt="Logo Gobierno de Colombia"  width="130px"/> -->
                        <img src="~/images/channels-616_header_govco.png" alt="Logo Gobierno de Colombia" width="130px"
                            class="img-fluid">

                    </li>
                </ul>

            </div>
        </div>
    </div>

</footer>