<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Administracion de Actividades</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
            <caption class="d-none">Table Description</caption>
            <thead class="d-none">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>
                    <img alt="" title="Ir a Adminstracion de Actividades" src="~/images/AdminActividades.png" class="pagAdminActividades" />
                </td>
                <td>
                    <p align="left">En este módulo se realizan las configuraciones requeridas para la gestión de los estados y etapas definidos en el flujo de negocio. Aquí se definen, describen y gestionan los estados de solicitudes y actividades que se tienen contemplados en las diferentes funcionalidades del flujo de negocio.</p>
                    <p align="left">La opción de Administración de Actividades se despliega en la siguiente pantalla que ubica los diferentes estados de actividad y etapas, listados en el sistema y sus datos.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" class="btnAyuda" /></strong>Botón de acción que permite acceder a la ayuda del sistema.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" class="btnAyuda" /></strong>Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Filtro Digite el nombre de la actividad: <img alt="" title="Filtro" src="~/images/Filtro.png" class="btnAyuda" /></strong>Mediante este filtro el usuario puede filtrar los resultados de Nombre de actividad, de acuerdo con los criterios que digite en este.</p>
                </td>
                <td>
                    <p align="left"><strong>Filtro Estado: <img alt="" title="Filtro" src="~/images/Filtro.png" class="btnAyuda" /></strong>Mediante este filtro el usuario puede filtrar los resultados de Estado, de acuerdo con los criterios que seleccionados en la lista de este.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón CONSULTAR: <img alt="" title="Botón CONSULTAR" src="~/images/BotonConsultar.png" class="btnAyuda" /></strong>Mediante este botón de acción, el usuario puede consultar los registros de actividades, de acuerdo con los filtros utilizados.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón AGREGAR ACTIVIDAD: <img alt="" title="Botón AGREGAR ACTIVIDAD" src="~/images/BotonAgregarActividad.png" class="btnAyuda" /></strong>Mediante este botón de acción, el usuario ir a la ventana de creación de actividades, para crear una actividad y los estados relacionados a ella, que definen un proceso de gestión del flujo de negocio.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Columna Actividad: </strong>Columna en la que se define el nombre de la actividad en cada registro del sistema.</p>
                </td>
                <td>
                    <p align="left"><strong>Columna Descripción: </strong>Columna en la que se proporciona una breve descripción, proporcionada por el usuario en el momento de la creación de cada registro del sistema.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Columna Etapa: </strong>Columna en la que se define la etapa en la que se ubica la actividad de cada registro del sistema.</p>
                </td>
                <td>
                    <p align="left"><strong>Columna Posición: </strong>Columna en la que se define la posición que ocupa la actividad, en un orden establecido para la consecución de las actividades del flujo de negocios.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Columna Estado: </strong>Columna en la que se define el estado definido para cada registro de actividad sistema.</p>
                </td>
                <td>
                    <p align="left"><strong>Columna Acciones: </strong>Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición y Activación/Inactivación de actividad.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón Editar: <img alt="" title="Botón Editar" src="~/images/BotonEditar.png" class="btnAyuda" /></strong>Mediante este botón de acción el usuario puede editar la información de la fila de registro de la actividad (Actividad, Descripción, Etapa, Posición, Estado).</p>
                </td>
                <td>
                    <p align="left"><strong>Botón Activar/Inactivar: <img alt="" title="Botón Activar/Inactivar" src="~/images/ActivarInactivar.png" class="btnAyuda" /></strong>Mediante este botón de acción, el usuario puede activar o inactivar la actividad de la fila de registro en donde se ubica el botón.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" class="btnAyuda" /></strong>Barra de ayuda con opciones de apoyo para navegación del usuario.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" class="btnAyuda" /></strong>Botón de acción que permite cambiar el contraste del brillo de la ventanilla electrónica, y visualizarlo en un modo oscuro.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" class="btnAyuda" /></strong>Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla electrónica, de acuerdo con las preferencias del usuario.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" class="btnAyuda" /></strong>Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla electrónica, de acuerdo con las preferencias del usuario.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" class="btnAyuda" /></strong>Botón de acción que permite acceder al centro de relevo establecido por MINTIC.</p>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <img alt="" title="Administracion de Actividades" src="~/images/AdminActividadesFiltrado.png" class="btnAyuda" />
                </td>
                <td>
                    <p>Al digitar criterios de búsqueda en el filtro de nombre de actividad, seleccionar una opción del listado desplegado en el filtro de estados y seleccionar el botón Consultar, se pueden realizar búsquedas específicas de actividades. Este proceso se observa en una ventana como la siguiente.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Al seleccionar el botón de “Agregar actividad” se dirige siguiente a la ventana de creación de actividades.</p>
                </td>
                <td>
                    <img alt="" title="Crear Actividad" src="~/images/CrearActividad.png" class="btnAyuda" />
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Campo Nombre: <img alt="" title="Campo Nombre" src="~/images/Filtro.png" class="btnAyuda" /></strong>Campo para ingresar el nombre deseado para la actividad a crear (De este campo se listarán las actividades existentes, que coincidan con los criterios digitados por el usuario).</p>
                </td>
                <td>
                    <p align="left"><strong>Campo Descripción: <img alt="" title="Campo Descripción" src="~/images/Filtro.png" class="btnAyuda" /></strong>Campo para ingresar información descriptiva respecto a la actividad que se desea crear.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Campo Estado: <img alt="" title="Campo Nombre" src="~/images/Filtro.png" class="btnAyuda" /></strong>Campo para seleccionar el estado al que estará relacionado la actividad que se desea crear.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón Guardar: <img alt="" title="Botón Guardar" src="~/images/BotonGuardar.png" class="btnAyuda" /></strong>Mediante este botón de acción, el usuario puede guardar la información de la actividad, lo que representa su creación en la base del sistema.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón Volver: <img alt="" title="Botón Guardar" src="~/images/BotonGuardar.png" class="btnAyuda" /></strong>Mediante este botón de acción, el usuario puede descartar los cambios de creación, y regresar a la pantalla de resultados.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left">Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.</p>
                </td>
                <td>
                    <img alt="" title="Modal Confirmación" src="~/images/ConfirmacionActividades.png" class="btnAyuda" />
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" class="btnAyuda" /></strong>Mediante este botón de acción el usuario puede aceptar el guardado de la información.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" class="btnAyuda" /></strong>Mediante este botón de acción el usuario puede rechazar el guardado de la información.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left">Al seleccionar el botón de “Editar” se muestran los valores del registro en formato editable.</p>
                </td>
                <td>
                    <img alt="" title="Editor Administracion de Actividades" src="~/images/AdminActividadesEditando.png" class="btnAyuda" />
                </td>
            </tr>
            <tr>
                <td>
                    <p align="left"><strong>Botón GUARDAR: </strong>Mediante este botón de acción, el usuario puede guardar la información de la actividad, lo que representa su edición en la base del sistema.</p>
                </td>
                <td>
                    <p align="left"><strong>Botón CERRAR: </strong>Mediante este botón de acción, el usuario puede descartar los cambios de edición, y cerrar las opciones de edición.</p>
                </td>
            </tr>
        </table>
            
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAdminActividades btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".btnVolverAdminActividades").click(function() {
    document.location.href = "/AdministrarEstados/Index";
})
</script>