<style>
    .text-left {
        text-align: left;
    }
</style>
<div class="tab-pane container active p-2" id="tblAyuda">
    <div class="col-form-label row text-center">
        <div class="text-center col-12 titulo-modal">
            <p>Administración De Funcionalidades de Rol</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mt-2 row">
            <table>
                <caption class="d-none">Table Description</caption>
                <thead class="d-none">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="col-6">
                        <p class="text-left">En este módulo se realizan las configuraciones requeridas para la gestión de los permisos de acceso a las diferentes funcionalidades del módulo.
                            Aquí se definen los permisos de consulta, creación, edición, eliminación y visualización de detalle, para cada una de las funcionalidades del módulo,
                            así como se puede definir el nombre de estas.
                        </p>
                        <p class="text-left">La opción de Administración de funcionalidades de rol se despliega en la siguiente pantalla que como se mencionó, ubica las diferentes funcionalidades
                            existentes en el sistema y sus datos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img src="~/images/MANUAL DE USUARIO - ADMINISTRACION FUNCIONALIDADES DE ROL_bandeja.png" alt="Bandeja Administracion de Funcionalidades de Rol" border="0" width="558" height="248" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AYUDA: <img alt="" title="Botón AYUDA" src="~/images/Ayuda.png" border="0" /></b>
                            Botón de acción que permite acceder a la ayuda del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón INICIO: <img alt="" title="Botón INICIO" src="~/images/Inicio.png" border="0" /></b>
                            Botón de acción que permite regresar a la ventana inicial de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <b>Filtro Buscar: <img alt="" title="Filtro Buscar" src="~/images/Filtro.png" border="0" /></b>
                        Mediante este filtro el usuario puede filtrar los resultados de Submódulos, de acuerdo con los criterios que digite en este.
                    </td>
                    <td class="col-6">
                        <b>Campo Rol: <img alt="" title="Campo Rol" src="~/images/Filtro.png" border="0" /></b>
                        Campo en el cual se muestra el nombre del rol al que serán aplicados los cambios de permisos para los diferentes submódulos.
                        Esto define las funcionalidades que puede visualizar, y las acciones que puede realizar en estas.
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Campo Cargo: <img alt="" title="Campo Cargo" src="~/images/Filtro.png" border="0" /></b>
                            Campo en el cual se muestra la información del cargo correspondiente a la persona que hace uso del rol.
                            Esta información se presenta a manera descriptiva del rol al cuál se le están haciendo cambios en permisos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Activo/Inactivo: <img alt="" title="Botón Activo/Inactivo" src="~/images/ActivarInactivar.png" border="0" /></b>
                            Campo que define si el rol de usuario se encuentra actualmente activo o inactivo.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Submódulo: </b>
                            Columna en la que se define el nombre de la tabla paramétrica de cada registro del sistema.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Consultar: </b>
                            Columna en la que se define si se tiene permitido o no consultar las diferentes funcionalidades listadas.
                            Para saber si se tiene este permiso o no, se debe ir a la casilla ubicada en la fila de la funcionalidad de interés.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Crear: </b>
                            Columna en la que se define si se tiene permitido o no crear valores en las diferentes funcionalidades listadas.
                            Para saber si se tiene este permiso o no, se debe ir a la casilla ubicada en la fila de la funcionalidad de interés.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Editar: </b>
                            Columna en la que se define si se tiene permitido o no editar valores en las diferentes funcionalidades listadas.
                            Para saber si se tiene este permiso o no, se debe ir a la casilla ubicada en la fila de la funcionalidad de interés.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Eliminar: </b>
                            Columna en la que se define si se tiene permitido o no eliminar valores en las diferentes funcionalidades listadas.
                            Para saber si se tiene este permiso o no, se debe ir a la casilla ubicada en la fila de la funcionalidad de interés.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Ver detalle: </b>
                            Columna en la que se define si se tiene permitido o no ver detalle de los valores que se trabajan en las diferentes funcionalidades listadas.
                            Para saber si se tiene este permiso o no, se debe ir a la casilla ubicada en la fila de la funcionalidad de interés.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Columna Acciones: </b>
                            Columna en la que se definen las acciones que se pueden tener para cada registro del sistema. Entre estas acciones están la Edición y Activación/Inactivación de valores paramétricos.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Editar: </b>
                            Mediante este botón de acción el usuario puede editar la información y permisos de la fila de registro de funcionalidades (Nombre del Submódulo,
                            permiso de consulta, creación, edición, eliminación y visualización de detalle).
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Barra TOOLSMINTIC: <img alt="" title="Barra TOOLSMINTIC" src="~/images/ToolsMINTIC.png" border="0" /></b>
                            Barra de ayuda con opciones de apoyo para navegación del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CONTRASTE: <img alt="" title="Botón CONTRASTE" src="~/images/Contraste.png" border="0" /></b>
                            Botón de acción que permite cambiar el contraste del brillo de la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, y visualizarlo en un modo oscuro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón REDUCIR LETRA: <img alt="" title="Botón REDUCIR LETRA" src="~/images/ReducirLetra.png" border="0" /></b>
                            Botón de acción que permite reducir el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón AUMENTAR LETRA: <img alt="" title="Botón AUMENTAR LETRA" src="~/images/AumentarLetra.png" border="0" /></b>
                            Botón de acción que permite aumentar el tamaño de la fuente de toda la ventanilla de CUPOS, PRECINTOS y MARQUILLAS, de acuerdo con las preferencias del usuario.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CENTRO DE RELEVO: <img alt="" title="Botón CENTRO DE RELEVO" src="~/images/CentroRelevo.png" border="0" /></b>
                            Botón de acción que permite acceder al centro de relevo establecido por MINTIC.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION FUNCIONALIDADES DE ROL_bandejaFiltrada.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al digitar criterios de búsqueda en el filtro de Buscar, se pueden realizar búsquedas específicas de Submódulos. Este proceso se observa en una ventana como la siguiente.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Administracion de Tablas Parametricas" src="~/images/MANUAL DE USUARIO - ADMINISTRACION FUNCIONALIDADES DE ROL_bandejaEditar.png" border="0" />
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de “Editar”, se visualizará la información de edición de nombre y permisos del registro de funcionalidad en que fue seleccionada la opción.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón Activar/Inactivar: <img alt="" title="Botón Activar/Inactivar" src="~/images/ActivarInactivar.png" border="0" /></b>
                            Mediante este botón de acción, el usuario puede activar o inactivar el permiso de la funcionalidad, en la fila en donde se ubica el botón.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón GUARDAR: </b>
                            Mediante este botón de acción, el usuario puede guardar la información de la funcionalidad, lo que representa su edición en la base del sistema.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón CERRAR: </b>
                            Mediante este botón de acción, el usuario puede descartar los cambios de edición, y cerrar las opciones de edición.
                        </p>
                    </td>
                    <td class="col-6">

                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de guardar, se despliega la ventana de confirmación del guardado.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION FUNCIONALIDADES DE ROL_modalconfirmacion.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar el guardado de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede rechazar el guardado de la información.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            Al seleccionar el botón de cerrar, se despliega la ventana de confirmación.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <img alt="" title="Modal Confirmación" src="~/images/MANUAL DE USUARIO - ADMINISTRACION FUNCIONALIDADES DE ROL_modalConfirmacionSalir.png" border="0" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón SI: <img alt="" title="Botón SI" src="~/images/BotonSI.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede aceptar salir y descartar los cambios de la información.
                        </p>
                    </td>
                    <td class="col-6">
                        <p class="text-left">
                            <b>Botón NO: <img alt="" title="Botón NO" src="~/images/BotonNO.png" border="0" /></b>
                            Mediante este botón de acción el usuario puede elegir continuar con la edición de la información.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-2 row justify-content-center">
            <div class="mt-2">
                <button type="button" class="btnVolverAdminFuncionalidadesRol btn btn-secondary w-100">VOLVER</button>
            </div>
        </div>
    </div>
</div>
<script>
$(".btnVolverAdminFuncionalidadesRol").click(function() {
    document.location.href = "/AdministrarRolesFuncionalidades/Index";
})
</script>